<div class="col-lg-2 pt-5 text-dark d-none d-md-block ml-5" id="list">
    <h5 class="text-dark"><a href="/blog">Artikelen</a></h5>
    <ul>
      <li><a href="/15-wetenschappelijl-bewezen-voordelen-meditatie">15 wetenschappelijk bewezen voordelen van meditatie.</strong></a></li>
      <li><a href="/stress-verminderen-meditatie">Stress verminderen met behulp van meditatie.</a></li>
      <li><a href="/burnout-helpen-meditatie">Burnout, hoe kan meditatie helpen?</a></li>
      <li><a href="/mindfulness">Kom terug in je lichaam met mindfulness</a></li>
      <li><a href="/hatha-yoga">Hatha Yoga, wat is het?</a></li>
      <li><a href="/over-chakras">Over chakra's</a></li>
      <li><a href="/blog">Meer...</a></li>
    </ul>
    <h5 class="text-dark"><a href="/leraren">Leraren</a></h5>
        <ul>
      <li><a href="/alan-watts">Alan Watts</a></li>
      <li><a href="/sri-mooji">Sri Mooji</a></li>
      <li><a href="/sadhguru">Sadhguru</a></li>
      <li><a href="/thich-nhat-hanh">Thich Nhat Hanh</a></li>
      <li><a href="/goenka">S.N. Goenka</a></li>
      <li><a href="/leraren">Meer..</a></li>

    </ul>
    <h5 class="text-dark"><a href="/soorten-meditaties">Soorten Meditatie</a></h5>
        <ul>
      <li><a href="/begin"><strong>Beginners meditatie</strong></a></li>
      <li><a href="/metta-loving-kindness">Metta</a></li>
      <li><a href="/zen-zazen">Zazen</a></li>
      <li><a href="/vipassana">Vipassana</a></li>
      <li><a href="/geleide-meditatie">Geleide meditatie</a></li>
      <li><a href="/mantra-meditatie">Mantra</a></li>
      <li><a href="/soorten-meditaties">Meer...</a></li>
    </ul>
    <h5 class="text-dark"><a href="/geleide-meditaties">Geleide meditaties</a></h5>
        <ul>
      <li><a href="/luister-naar-de-wereld">Luister naar de wereld</a></li>
      <li><a href="/vol-van-vreugde">Vol van vreugde</a></li>
      <li><a href="/mindful-met-vipassana">Mindfull met Vipassana</a></li>
      <li><a href="/geleide-meditatie-lichaam-ruimte-bewustzijn">Lichaam ruimte en bewustzijn</a></li>
      <li><a href="/1-uurs-meditatie-goenka">1-uurs meditatie</a></li>
      <li><a href="/geleide-mindfulness-meditatie-kabat-zinn">Mindfulness meditatie</a></li>
      <li><a href="/geleide-meditaties">Meer...</a></li>
    </ul>
  </div>