<div class="container-fluid text-center">
  <div class="container">
        <!--START-->
        <% blogs.forEach(function(Blog){ %>
        <div class="row">
        <div class="col-lg-6 p-4" id="blog-div-hide" style="display:none">
            <!--<a href="/blog/spotlight/">-->
            <img src="<%=Blog.thumbBookh%>" onload="this.parentNode.style.display = 'inline'" class="img-fluid">
            </div>
            <div class="col-lg-6">
          <h2 class="pt-2"><%=Blog.titleBook %></h2>
          <p class="date"><%=Blog.dateBook%></p>
          <p class="date"><%=Blog.descBook%></p>
        </div>
        </div>
        <% }); %>
        <!--END-->
      </div>
  </div>