

  <div class="container d-block">
 <h2 class="h2">Recente artikelen <i class="fas animated pulse infinite fa-angle-double-right"></i></h1>    
</div>


<div id="wrapper" class="container-fluid p-0" >
  
  <span id="controlL1" class="left-controls  " role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>
  </span>
  
  <div class="title text-center h1"> </div>
 
  <div class="module-section clearfix">
   <ul id="content">
        <li class="card effect1">
      <div class="inside-top">
        <a href="/15-wetenschappelijl-bewezen-voordelen-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/457881/pexels-photo-457881.jpeg?auto=compress&cs=tinysrgb&h=350" alt="wetenschappelijk bewezen voordelen meditatie">
        <div class="caption-blog">
          <h2>
            15 wetenschappelijk bewezen<br>
            voordelen van meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
    <li class="card effect1">
      <div class="inside-top">
        <a href="/stress-verminderen-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&h=350" alt="stress verminderen meditatie foto">
        <div class="caption-blog">
          <h2>
            Stress verminderen<br>
            Met behulp van meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/burnout-helpen-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?auto=compress&cs=tinysrgb&h=350" alt="burnout meditatie foto">
          <div class="caption-blog">
          <h2>
            Burnout.<br>
            Hoe kan meditatie helpen?
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindfulness">
        <img class="img-fluid" src="https://images.pexels.com/photos/589802/pexels-photo-589802.jpeg?auto=compress&cs=tinysrgb&h=350" alt="mindfulness meditatie foto">
       
              <div class="caption-blog">
          <h2>
            Kom terug in je lichaam met Mindfulness.
          </h2>
        </div>
          </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/emoties-laten-gaan">
        <img class="img-fluid" src="https://images.pexels.com/photos/278312/pexels-photo-278312.jpeg?auto=compress&cs=tinysrgb&h=350" alt="vipassana meditatie foto">
              <div class="caption-blog">
          <h2 class="mt-5">
            De emoties laten gaan.<br>
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/dagelijkse-meditatie-routine">
        <img class="img-fluid" src="https://images.pexels.com/photos/235922/pexels-photo-235922.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Hatha Yoga foto">
              <div class="caption-blog">
          <h2>
            Een dagelijkse meditatie<br>
            routine opbouwen.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/over-chakras">
        <img class="img-fluid" src="https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&h=350" alt="chakras">
              <div class="caption-blog">
          <h2>
            Over chakra's
          </h2>
        </div>
        </a>
      </div>
    </li>
         <li class="card">
      <div class="inside-top">
        <a href="/blog">
        <img class="img-fluid" src="https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&h=350" alt="meer meditatie artikelen foto">
              <div class="caption-blog">
          <h2>
            Meer... <i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
   
  </div>

  <span id="controlR" class="right-controls " role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-right fa-chevron-right-extra" aria-hidden="true"></b>
  </span>
  
  <div class="container d-block">
 <h2 class="h2 text-dark">Leraren <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
 </div>
</div>
<div id="wrapper" class="container-fluid p-0" >
  
  <span id="controlL1" class="left-controls  " role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>
  </span>
  
  <div class="title text-center h1"> </div>
 
  <div class="module-section clearfix">
   <ul id="content1">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/alan-watts">
        <img class="img-fluid" src="img/l1.jpeg" alt="alan watts">
        <div class="caption-blog">
          <h2>
            Alan Watts
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/goenka">
        <img class="img-fluid" src="img/l2.jpg" alt="sn goenka">
              <div class="caption-blog">
          <h2>
           S.N. Goenka
          </h2>
        </div>
        </a>
      </div>
    </li>
    <!-- <li class="card">-->
    <!--  <div class="inside-top">-->
    <!--    <a href="/thich-nhat-hanh">-->
    <!--    <img class="img-fluid" src="img/l3.jpg" alt="thich nhat hanh">-->
    <!--          <div class="caption-blog">-->
    <!--      <h2>-->
    <!--        Thich Nhat Hanh-->
    <!--      </h2>-->
    <!--    </div>-->
    <!--    </a>-->
    <!--  </div>-->
    <!--</li>-->
     <li class="card">
      <div class="inside-top">
        <a href="/sadhguru">
        <img class="img-fluid" src="img/l4.jpg" alt="sadhguru">
              <div class="caption-blog">
          <h2>
            Sadhguru
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/sri-mooji">
        <img class="img-fluid" src="img/mooji.png" alt="sri mooji">
              <div class="caption-blog">
          <h2>
            Sri Mooji
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/leraren">
        <img class="img-fluid" src="img/l5.jpeg" alt="meer meditatie leraren">
              <div class="caption-blog">
          <h2>
            Meer...<i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
    
   
    
  </div>
    <span id="controlR1" class="right-controls " role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-right fa-chevron-right-extra" aria-hidden="true"></b>
  </span>
  
</div>  
</div>
  <div class="container d-block">
 <h2 class="h2">Meditatie soorten <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
 </div>
<div id="wrapper" class="container-fluid p-0" >
  
  <span id="controlL2" class="left-controls  " role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>
  </span>
  
  <div class="title text-center h1"> </div>
 
  <div class="module-section clearfix">
   <ul id="content2">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/metta-loving-kindness">
        <img class="img-fluid" src="https://images.pexels.com/photos/290617/pexels-photo-290617.jpeg?auto=compress&cs=tinysrgb&h=350" alt="metta meditate loving kindness">
        <div class="caption-blog">
          <h2>
            Metta Meditatie.<br>
            Loving Kindness Meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindfulness-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/775417/pexels-photo-775417.jpeg?auto=compress&cs=tinysrgb&h=350" alt="mindfulness meditatie">
          <div class="caption-blog">
          <h2>
            Mindfulness<br> Meditatie<br>
          </h2>
        </div>
      </div>
      </a>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/vipassana-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/810775/pexels-photo-810775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="vipassana meditatie">
              <div class="caption-blog">
          <h2>
            Vipassana Meditatie<br>
            (Sayagyi U Ba Khin) 
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/zen-zazen">
        <img class="img-fluid" src="https://images.pexels.com/photos/2763/smoke-incense.jpg?auto=compress&cs=tinysrgb&h=350" alt="zen zazen meditatie">
              <div class="caption-blog">
          <h2>
            Zen Meditation<br>
            (Zazen)
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/382420/pexels-photo-382420.jpeg?auto=compress&cs=tinysrgb&h=350" alt="geleide meditatie">
              <div class="caption-blog">
          <h2>
            Geleide Meditatie.<br>
          </h2>
        </div>
      </div>
      </a>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mantra-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/54630/japanese-cherry-trees-flowers-spring-japanese-flowering-cherry-54630.jpeg?auto=compress&cs=tinysrgb&h=350" alt="mantra meditatie">
              <div class="caption-blog">
          <h2>
            Mantra Meditatie.
          </h2>
        </div>
      </div>
      </a>
    </li>
         <li class="card">
      <div class="inside-top">
        <a href="/soorten-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/1321727/pexels-photo-1321727.jpeg?auto=compress&cs=tinysrgb&h=350" alt="meer meditatie soorten">
              <div class="caption-blog">
          <h2>
            Meer... <i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
      </div>
      </a>
    </li>
   </ul>
  </div>
    <span id="controlR2" class="right-controls " role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-right fa-chevron-right-extra" aria-hidden="true"></b>
  </span>
</div>

  
  <div class="container d-block">
 <h2 class="h2">Geleide meditaties <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
 </div>
<div id="wrapper" class="container-fluid p-0" >
    
  <span id="controlL3" class="left-controls" role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>
  </span>
  <div class="module-section clearfix">
   <ul id="content3">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/luisteren-naar-de-wereld">
        <img class="img-fluid" src="img/g1.jpeg" alt="alan watts luisteren naar de wereld">
        <div class="caption-blog">
          <h2>
            Luister naar de wereld<br>
            met Alan Watts.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindful-met-vipassana">
        <img class="img-fluid" src="img/g2.jpeg" alt="mindfull met vipassana sam harris">
              <div class="caption-blog">
          <h2>
            Sam Harris,<br>
            Wordt mindfull met Vipassana.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/vol-van-vreugde">
        <img class="img-fluid" src="img/g3.jpeg" alt="vol van vreugde geleide meditatie sri mooji">
              <div class="caption-blog">
          <h2>
            Vol van vreugde.<br>
            Sri Mooji
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-meditatie-lichaam-ruimte-bewustzijn">
        <img class="img-fluid" src="img/g4.jpeg" alt="geleide meditatie lichaam ruimte en bewustizijn mingyur rinpoche">
              <div class="caption-blog">
          <h2>
            Mingyur Rinpoche.<br>
            Lichaam, ruimte & bewustzijn.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/1-uurs-meditatie-goenka">
        <img class="img-fluid" src="img/g5.jpeg">
              <div class="caption-blog">
          <h2>
            Krachtige 1-uurs meditatie.<br>
            SN.Goenka
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-mindfulness-meditatie-kabat-zinn">
        <img class="img-fluid" src="img/g6.jpeg" alt="geleidem meditatie jon kabat zinn">
              <div class="caption-blog">
          <h2>
            Jon Kabat zinn,<br>
            Mindfulness Meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
  </div>
  <span id="controlR3" class="right-controls " role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-right fa-chevron-right-extra" aria-hidden="true"></b>
  </span>
  </div>
