

<div class=" blog-top text-center">
       <span  aria-label="See Previous Modules">
 <span id="controlL1" class="left-controls  " role="button" aria-label="See Previous Modules">
  </span>
  <i class="fas fa-angle-left"></i>
    <h5 class="d-inline-block">Recent</h5>
<i class="fas fa-angle-right"></i>

    <span id="controlR" class="right-controls " role="button" aria-label="See Previous Modules">
  </span>
  
</div>


<div id="wrapper" class="container-fluid p-0" >
  

  
  <div class="title text-center h1"> </div>
 
  <div class="module-section clearfix">
   <ul id="content">
     <!--BEGIN-->
             <% blogs.forEach(function(Blog){%>
        <li class="card effect1">
      <div class="inside-top">
        <a href="/blog/<%= Blog._id %>">
        <img class="img-fluid" src="<%= Blog.thumb %>" alt="wetenschappelijk bewezen voordelen meditatie">
        <div class="caption-blog">
          <hr>
          <h2>
            <%= Blog.title %>
          </h2>
          <h5 class="date"> &mdash; <%= Blog.date %></h6>
          <hr>
        </div>
        </a>
      </div>
    </li>
            <% });%>
    <!--END-->
    <li class="card effect1">
      <div class="inside-top">
        <a href="/stress-verminderen-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&h=350" alt="stress verminderen meditatie foto">
        <div class="caption-blog">
          <h2>
            Stress verminderen<br>
            Met behulp van meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/burnout-helpen-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?auto=compress&cs=tinysrgb&h=350" alt="burnout meditatie foto">
          <div class="caption-blog">
          <h2>
            Burnout.<br>
            Hoe kan meditatie helpen?
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindfulness">
        <img class="img-fluid" src="https://images.pexels.com/photos/589802/pexels-photo-589802.jpeg?auto=compress&cs=tinysrgb&h=350" alt="mindfulness meditatie foto">
       
              <div class="caption-blog">
          <h2>
            Kom terug in je lichaam met Mindfulness.
          </h2>
        </div>
          </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/emoties-laten-gaan">
        <img class="img-fluid" src="https://images.pexels.com/photos/278312/pexels-photo-278312.jpeg?auto=compress&cs=tinysrgb&h=350" alt="vipassana meditatie foto">
              <div class="caption-blog">
          <h2 class="mt-5">
            De emoties laten gaan.<br>
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/dagelijkse-meditatie-routine">
        <img class="img-fluid" src="https://images.pexels.com/photos/235922/pexels-photo-235922.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Hatha Yoga foto">
              <div class="caption-blog">
          <h2>
            Een dagelijkse meditatie<br>
            routine opbouwen.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/begin">
        <img class="img-fluid" src="https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&h=350" alt="chakras">
              <div class="caption-blog">
          <h2>
            Beginnen met mediteren
          </h2>
        </div>
        </a>
      </div>
    </li>
         <li class="card">
      <div class="inside-top">
        <a href="/niet-kunnen-slapen-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&h=350" alt="meer meditatie artikelen foto">
              <div class="caption-blog">
          <h2>
            Niet kunnen slapen <br> Slaapmeditatie
          </h2>
        </div>
        </a>
      </div>
    </li>
    <li class="card">
      <div class="inside-top">
        <a href="/metta-meditatie">
        <img class="img-fluid" src="https://images.pexels.com/photos/593655/pexels-photo-593655.jpeg?auto=compress&cs=tinysrgb&h=350" alt="meer meditatie artikelen foto">
              <div class="caption-blog">
          <h2>
            Metta<br>Meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
   
  </div>
<div class="d-block blog-top text-center">
</div>