<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" alt="foto" href="../img/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Meditatie is voor iedereen. Meditatie helpt je ontspannen in tijden van stress. Mediteren kan ook helpen bij een burnout. Begin vandaag te mediteren met onze tips! | Meditatie.co">
  <link rel="canonical" href="https://www.meditatie.com" />
  <title> Meditatie.co | 15 Wetenschappelijk bewezen voordelen van meditatie. </title>
  <meta name="google-site-verification" content="my1fk9Z3Qw1sTRNbXGbqydfmhO9hwsc3J9ybNX-2NTw" />
  <!--<link rel="stylesheet" href="stylesheets/font-awesome.min.css">-->
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">  <link href="https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Raleway" rel="stylesheet">

