  <nav class="navbar navbar-expand-lg navbar-dark container-fluid">
     <!--<img src="img/lotus1.png" class="logo">-->
  <a class="navbar-brand " href="/"><img src="img/logo.png" class="img-fluid pr-2" width="60px" alt="logo meditatie .co">Meditatie .co</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto ">
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Blog</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Soorten Meditatie</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Leraren</a>
      </li>
            <li class="nav-item px-1">
        <a class="nav-link " href="#">Geleide meditatie.</a>
      </li>
      <!--      <li class="nav-item">-->
      <!--  <a class="nav-link " href="#">Disabled</a>-->
      <!--</li>-->
    </ul>
    <!--<form class="form-inline my-2 my-lg-0 ml-auto">-->
    <!--  <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">-->
    <!--  <button class="btn btn-outline-custom my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav> 