   <% include partials/header %>
  </head>
  <body>
 <% include partials/nav %>
 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">15 Wetenschappelijk bewezen voordelen van meditatie.</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i>The more I read, the more I meditate; and the more I acquire, the more I am enabled to affirm that I know nothing.<i class="fas fa-quote-right"></i><br>  – Voltaire</h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>
<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
        <div class="row">
  <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/blog">Blog</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">15 Wetenschappelijk bewezen voordelen van meditatie.</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
<% include partials/blog %>
  <div class="col-lg-9 my-5 p-5" id="text">
      Er is al veel wetenschappelijk onderzoek gedaan naar de effecten van meditatie op het mensenlijk lichaam. Hieronder een lijst van de meest bekende en meest voorkomende effecten met de bijbehorende bronnen.<br>
      <br><hr>
     <h2><span>1</span> Het verbetert het imuunsysteem.</h2><br>
      Bronnen: <a href="http://www.psychosomaticmedicine.org/content/65/4/564.short">Hier</a> en <a href="http://www.sciencedirect.com/science/article/pii/S0306453008002199">hier</a><br><br>
    
    <h2><span>2</span> Het vermindert pijn.</h2><br>
    Bronnen: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3090218/<br>">Hier</a><br><br>
    
     <h2><span>3</span> Het creëert positieve emoties</h2><br>
    Bronnen: <a href="http://www.psychosomaticmedicine.org/content/65/4/564.short">Hier</a> en <a href="http://www.psychosomaticmedicine.org/content/65/4/564.short">hier</a><br><br>
    
        <h2><span>4</span> Het helpt tegen depressie.</h2><br>
    Bronnen: <a href="http://link.springer.com/article/10.1023/B:COTR.0000045557.15923.96">Hier</a><br><br>
    
        <h2><span>5</span> Het helpt tegen angsten en spanning.</h2><br>
    Bronnen: <a href="http://online.liebertpub.com/doi/abs/10.1089/acm.2006.12.817">Hier</a> en <a href="https://www.sciencedirect.com/science/article/pii/016383439500025M">hier</a><br><br>
    
        <h2><span>6</span> Het vermindert stress</h2><br>
    Bronnen: <a href="http://psycnet.apa.org/journals/str/12/2/164/">Hier</a> en <a href="http://www.psychosomaticmedicine.org/content/62/5/613.short">hier</a><br><br>
    
        <h2><span>7</span> Het maakt je creatiever</h2><br>
    Bronnen: <a href="http://www.psych.ucsb.edu/people/faculty/schooler">Hier</a><br><br>
    
        <h2><span>8</span> Het verbetert je geheugen</h2><br>
    Bronnen: <a href="http://www.sciencedirect.com/science/article/pii/S1053810010000681">Hier</a><br><br><br>
    
        <h2><span>9</span> Het kan je helpen beter te multitasken</h2><br><br>
    Bronnen: <a href="http://dl.acm.org/citation.cfm?id=1979862">Hier</a><br><br><br>
    
        <h2><span>10.</span> Het verbetert je aandacht.</h2><br><br>
    Bronnen: <a href="http://link.springer.com/article/10.3758/CABN.7.2.109#page-1">Hier</a> en <a href="http://www.plosbiology.org/article/info%3Adoi%2F10.1371%2Fjournal.pbio.0050138">hier</a><br><br>
    
        <h2><span>11.</span> Je krijgt meer focus.</h2><br>
    Bronnen: <a href="http://dl.acm.org/citation.cfm?id=1979862">Hier</a> en <a href="http://www.plosbiology.org/article/info%3Adoi%2F10.1371%2Fjournal.pbio.0050138">hier</a><br><br>
    
        <h2><span>12.</span> Het verhoogt je emotionele inteligentie</h2><br>
    Bronnen: <a href="http://psycnet.apa.org/psycinfo/2008-14857-004">Hier</a> en <a href="http://psycnet.apa.org/psycinfo/2008-14857-004">hier</a><br><br>
    
        <h2><span>13.</span> Je krijgt meer compassie</h2><br>
    Bronnen: <a href="http://ccare.stanford.edu/article/enhancing-compassion-a-randomized-controlled-trial-of-a-compassion-cultivation-training/">Hier</a> en <a href="http://pss.sagepub.com/content/early/2013/05/20/0956797612469537.short">hier</a><br><br>
    <h2><span>14.</span> Het helpt tegen eenzaamheid</h2><br>
    Bronnen: <a href="http://www.sciencedirect.com/science/article/pii/S0889159112001894%2020">Hier</a><br><br>
    <h2><span>15.</span> Je krijgt meer grijze massa.</h2><br>
    Bronnen: <a href="http://www.sciencedirect.com/science/article/pii/S1053811909000044">Hier</a><br><br></p>
    <br>
 <% include partials/social %>
  </div>
  </div>
  </div>
  <div class="col-lg-10">
  </div>
</section> 
<% include partials/carousel %>
<% include partials/footer %>
<link rel="stylesheet" href="stylesheets/20.css">
