   <% include partials/header %>
  </head>
  <body>
 <% include partials/nav %>
 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">15 Wetenschappelijk bewezen voordelen van meditatie.</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i>The more I read, the more I meditate; and the more I acquire, the more I am enabled to affirm that I know nothing.<i class="fas fa-quote-right"></i><br>  – Voltaire</h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>
<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
        <div class="row">
  <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/blog">Blog</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">15 Wetenschappelijk bewezen voordelen van meditatie.</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
<% include partials/blog %>
  <div class="col-lg-9 my-5 p-5" id="text">
      Er is al veel wetenschappelijk onderzoek gedaan naar de effecten van meditatie op het menselijk lichaam. Hieronder een lijst van de meest bekende en meest voorkomende effecten met de bijbehorende bronnen.<br>
      <br><hr>
     <h2><span>1</span> Het verbetert het immuunsysteem.</h2><br>
Mensen die mediteren hebben een beter immuunsysteem dan mensen die dit niet doen. Volgens het onderzoek van Jon Kabat Zinn.
      Link naar het onderzoek<a href="http://www.psychosomaticmedicine.org/content/65/4/564.short">Hier</a> en 
<br><br>
    <h2><span>2</span> Het vermindert pijn.</h2><br>
Een onderzoek met 15 testpersonen toonde aan dat meditatie de gevoeligheid voor pijn verminderd.
De 15 deelnemers werden getest op hun reactie tegen pijn door middel van hitte. Dit werd voor en na een meditatie training gedaan. De deelnemers gaven aan dat ze na de meditatie training minder pijn ervaren dan ervoor.
    Link naar het onderzoek <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3090218/<br>">Hier</a><br><br>
     <h2><span>3</span> Het creëert positieve emoties</h2><br>
   Link naar het onderzoek: <a href="http://www.psychosomaticmedicine.org/content/65/4/564.short">Hier</a> en <a href="http://www.psychosomaticmedicine.org/content/65/4/564.short">hier</a><br><br>
        <h2><span>4</span> Het helpt tegen depressie.</h2><br>
Een groep deelnemers met depressie heeft als test deelgenomen aan een 8 weekse MBSR(Mindfulness Based Stress Reduction) om te kijken of het een verlichting van de klachten zou geven.
Uit de resultaten blijkt een aanzienlijke verbetering in klachten het gevolg te zijn.
    Link naar het onderzoek<a href="http://link.springer.com/article/10.1023/B:COTR.0000045557.15923.96">Hier</a><br><br>
        <h2><span>5</span> Het helpt tegen angsten en spanning.</h2><br>
Uit een studie bestaande uit 22 personen gedurende 3 jaar, blijkt dat MBSR(Mindfulness Based Stress Reduction) een verlichting geeft van angst en paniekklachten. Om de klachten te peilen werd een Hamilton angstschaal gebruikt.
    Link naar het onderzoek <a href="https://www.sciencedirect.com/science/article/pii/016383439500025M">hier</a><br><br>
        <h2><span>6</span> Het vermindert stress</h2><br>
Een groep kankerpatienten kregen de opdracht om 1 keer per week deel te nemen aan een groepsmeditatie van 1,5 uur en ook meditatie oefeningen voor thuis. Ze worden voor en na deze periode goed onderzocht wat betreft hun stress. Na de 7 weken waren de patiënten aanzienlijk minder gestrest dan daarvoor.
  Link naar het onderzoek <a href="http://www.psychosomaticmedicine.org/content/62/5/613.short">hier</a><br><br>
        <h2><span>7</span> Het maakt je creatiever</h2><br>
Een onderzoek naar de effecten van meditatie op creativiteit heeft aangetoond dat vipassana meditatie je creatiever maakt. Ook toonde het aan dat je door concentratie-meditatie beter probleemoplossend te werk kan gaan.
    Link naar het onderzoek: <a href="https://www.frontiersin.org/articles/10.3389/fpsyg.2012.00116/full">Hier</a><br><br>
        <h2><span>8</span> Het verbetert je geheugen, leervermogen en concentratie.</h2><br>
In een onderzoek van het Massachusetts General Hospital, wordt bij het regelmatig beoefenen van meditatie je hersenschors dikker.
Dit komt omdat er meer bloed gaat stromen in je brein tijdens meditatie, je hersenschors is verantwoordelijk voor leren, onthouden en concentreren.
    Link naar het onderzoek: <a href="http://www.sciencedirect.com/science/article/pii/S1053810010000681">Hier</a><br><br><br>
    <h2><span>9</span> Het kan je helpen beter te multitasken</h2><br>
	In een onderzoek naar de effecten van mindfulness meditatie en multitasken, werden deelnemers in 3 groepen verdeeld. Groep 1 kreeg 8 weken mindfulness meditatie training, groep 2 kreeg 8 weken een lichaams ontspannende training. En groep 3 was de controlegroep, die kregen helemaal geen training.
<br>
Voor en na de 8 weken, kregen ze een uitgebreide test waarin ze moesten multitasken.(E-mailen, afspraak inplannen, de telefoon opnemen etc.)
Groep 1 was aanzienlijk langer bezig met een taak voordat ze naar de volgende gingen en gaf aan minder stress te ervaren tijdens het doen van de taken.
    Link naar het onderzoek: <a href="https://www.memory-key.com/research/news/how-meditation-may-improve-multitasking-and-attention">Hier</a><br><br><br>
        <h2><span>10.</span> Het verbetert je aandacht.</h2><br><br>
en    
        <h2><span>11.</span> Je krijgt meer focus.</h2><br>
	In een onderzoek naar de effecten van mentale training of meditatie, is aangetoond dat er een duidelijke link is tussen meditatie en het hebben van een betere focus en aandacht.
	Het onderzoek werd gedaan als volgt:
	Er werd mensen gevraagd om in een snelle serie beelden 2 targets te observeren.(T1 en T2)
	De resultaten van een opdracht die je focus test werden vergeleken. Aan de linkerkant zie je mensen die geen vorm van mentale training beoefenen, en aan de rechterkant wel. De resultaten onder de mensen die wel een vorm van mentale training beoefenen is aanzienlijk hoger dan de mensen die dit niet doen.
Link naar het onderzoek:
 <a href="http://www.plosbiology.org/article/info%3Adoi%2F10.1371%2Fjournal.pbio.0050138">hier</a><br><br>
        <h2><span>12.</span> Het verhoogt je emotionele inteligentie</h2><br>
Uit een onderzoek van het Michigan University blijkt dat je als je mediteert, je minder emotioneel reageert op dingen.
Ze hebben dit gedaan door 68 vrouwen van 18 tot 22 te onderzoeken, die nog nooit hadden gemediteerd. De vrouwen luisterden naar een geleide mindfulness meditatie, met de instructie om hun lichaam te observeren en niet te oordelen over wat er gebeurt. En kregen daarna beelden te zien die waarvan sommige waren bedoeld om een reactie uit te lokken.
De reacties werden gemeten door middel van een LLP(Late Positive Potential), een grotere LPP waarde betekende een grotere reactie.
.
Het volgende resultaat kwam uit de test. De mensen die meer mindful waren vertoonde lagere LPP(minder emotionele reactie). Een korte geleide mindfulness meditatie verlaagt de emotionele reactie.
Link naar het onderzoek: <a href="https://www.frontiersin.org/articles/10.3389/fnhum.2016.00451/full">hier</a><br><br>
  <h2><span>13.</span> Je krijgt meer compassie</h2><br>
Een onderzoek heeft de impact gemeten van een compassie trainingsprogramma gedurende 1 week. De vraag was of compassie getraind kan worden. Het trainingsprogramma duurde 9 weken en de deelnemers moesten voor en na deze tijd een vragenlijst invullen.
Er is een duidelijke stijging aangetoond in zelfcompassie onder de deelnemers aangetoond.
Link naar het onderzoek:<a href="http://ccare.stanford.edu/article/enhancing-compassion-a-randomized-controlled-trial-of-a-compassion-cultivation-training/">Hier</a> 
    <h2><span>14.</span> Het helpt tegen eenzaamheid</h2><br>
Het MBSR (MIndfulness Based Stress Reduction)programma helpt tegen eenzaamheid
De eenzaamheid van deelnemers werd getest met de UCLA-R Loneliness Scale, voor en na een 8 weeks MSBR programma. Deelnemers waren aanzienlijk minder eenzaam na het programma.
Link naar het onderzoek: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3635809/">Hier</a><br><br>
    <h2><span>15.</span> Je krijgt meer grijze massa.</h2><br>
Normaal gesproken neemt de grijze massa af naarmate je ouder wordt, het is aangetoond dat bij mensen die mediteren niet gebeurd, het kan zelfs nog gaan groeien.
Link naar het onderzoek: <a href="http://www.sciencedirect.com/science/article/pii/S1053811909000044">Hier</a><br><br></p>
    <br>
 <% include partials/social %>
  </div>
  </div>
  </div>
  <div class="col-lg-10">
  </div>
</section> 
<% include partials/carousel %>
<% include partials/footer %>
<link rel="stylesheet" href="stylesheets/20.css">
