   <% include partials/header %>

  </head>
  <body>
   <% include partials/nav %>



 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3">Alan watts</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5">
        1915 | 1973 <br>
        Engeland <br>
        Filosoof | Schrijver<br>
        Zenbuddhisme | Hinduisme | Taoïsme
        <hr>
        <i class="fas fa-quote-left"></i></i>The only way to make sense out of change is to plunge into it, move with it, and join the dance.<i class="fas fa-quote-right"></i>

      </h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>



<section id="blog" class="container-fluid p-0">
  <div class="row">
  <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/leraren">Leraren</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">Alan watts</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
    <% include partials/blog %>

  <div class="col-lg-7 my-5 px-5" id="text">
   
<h1> Wie is Alan Watts? </h1><br><br>

Alan Watts is een Britse Filosoof, Hij is een pionier in het populariseren van Oosterse filosofie in het Westen. In 1938 verhuisde hij naar New York en begon zijn Zen training. Verder in zijn carrière haalde hij zijn master in Theologie, in 1945 werd hij priester en in 1950 verhuisde hij naar Californië. Hier ging hij bij de faculteit van de ‘American Academy of Asian studies’.<br>
Watts kreeg een groot publiek toen hij als vrijwilliger bij een radiostation ging werken. Hij schreef meer dan 25 boeken over Oosterse en Westerse religies, waaronder ‘The way of Zen’ in 1957. Een van de eerste bestsellers met het onderwerp Boeddhisme. Hij heeft veel opnames achtergelaten voor hij in 1973 in zijn slaap kwam te overlijden.<br>
<br>
Alan Watts interesse in de Zen-traditie begon in de jaren 30, omdat de beoefening een samenkomst is van het <strong>spirituele</strong> en het <strong>praktische.</strong>.<br>
Hij snapte wat het belang was van een stapje terug doen uit alle problemen die wij als samenleving veroorzaken. Hij zag op grote schaal de humor in van het geheel. Hij en vele anderen noemden hem een ‘filosofisch entertainer’. <br><br>

Dit is ook goed te horen in een van de vele fragmenten die je kunt vinden van Alan Watts. Hij spreekt over serieuze, moeilijke en confronterende onderwerpen met een bepaalde humor. Bijna alsof hij elk moment in de lach kan schieten (en vaak doet hij dit ook), wat zijn verhalen een bepaalde luchtigheid geven. Een luchtigheid waarmee we de hele wereld zouden moeten zien.<br>
<br>
Een goed voorbeeld is de onderstaande zin uit een van zijn opnames.<br><br>


~De zin van het leven is simpelweg in leven zijn. Het is zo overduidelijk en simpel.<br>
Maar toch haast iedereen zich in grote paniek, alsof het nodig is om iets te bereiken buiten zichzelf.<br><br>

Alan Watts is een van de, als niet de bekendste filosoof van deze tijd. Ook had hij in veel opzichten weinig gemeen met andere filosofen uit de 20e eeuw. Vaak is het uiteindelijke bericht van zijn opnames dat hij wil dat jij je <strong>eigen mening</strong>  uit je leven gaat halen.<br><br>

<h2> Boeken </h2><br><br>

<h3> The way of the Zen</h3><br>
In ‘The way of the zen’ geeft Alan Watts je eerst een grondige kijk in de geschiedenis van de traditie en hoe het tot stand is gekomen. Vervolgens deelt hij de beoefening van de Zen, met oefeningen zoals ‘Zazen’. Het is een goed introductie boek voor mensen die geïnteresseerd zijn in het zenboeddhisme.<br>
<br><br>
<h3>Wijsheid van onzekerheid</h3><br>
In Wijsheid van onzekerheid(Wisdom of insecurity, a message for an age of anxiety) gaat Alan Watts in op onze angsten. Het willen uitvogelen waarom we hier zijn en wat we hier doen moeten we volgens Alan Watts opgeven. Sterker nog, we moeten de gevoelens zelf omarmen.<br><br>

Waarom?<br><br>

Alan Watts beschrijft een Dilemma. Een mens, als een organisme met verstand, wil dat zijn leven klopt. Hij zegt dat een mens het moeilijk vindt deze logica te vinden als hij niet gelooft in iets wat groter is dan hemzelf. Een eeuwige orde achter de onzekere ervaring van leven en dood.<br><br>

Hij beschrijft het geloof in iets groters als een manier om te dealen met het chaotische dag tot dag leven. Vervolgens zegt hij dat we moeten ophouden met het najagen van de zin van het leven omdat het nutteloos is. In plaats hiervan wil hij dat we in het hier en nu leven en ons ego loslaten. Op deze wijze kunnen we ons met onszelf verbinden door onszelf los te laten en ons verbinden met een hogere betekenis door op te houden hiernaar te zoeken.
<br><br>
Wijsheid van onzekerheid is een zeer interessant boek, met veel van Alan watts wijsheden. Hij gaat filosofisch te werk met een aantal van de meest voorkomende vragen die mensen hebben over het bestaan.<br><br>

Bronnen:<br>
<a href="https://en.wikipedia.org/wiki/Alan_Watts#Bibliography">Wikipedia</a><br>
<a href="https://books.google.nl/books?id=GRBD3ENZWC4C&printsec=frontcover&dq=editions:LvyMRvZAFQIC&redir_esc=y&hl=en#v=onepage&q&f=false">Google Books</a><br><br>
     <% include partials/social %>

  </div>
  </div>
  </div>
  
  <div class="col-lg-10">
    
  </div>
</section> 
  
  <% include partials/carousel %>
  <% include partials/footer %>
  <link rel="stylesheet" href="stylesheets/TEACHERTEMP.css">

