<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" alt="foto" href="../img/lotus1.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Meditatie is voor iedereen. Meditatie helpt je ontspannen in tijden van stress. Mediteren kan ook helpen bij een burnout. Begin vandaag te mediteren met onze tips! | Meditatie.co">
  <link rel="canonical" href="https://www.meditatie.com" />
  <title> Meditatie.co | Begin hier | Beginners meditatie. </title>
  <meta name="google-site-verification" content="my1fk9Z3Qw1sTRNbXGbqydfmhO9hwsc3J9ybNX-2NTw" />
  <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/begin.css">
    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Raleway" rel="stylesheet">
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-dark container-fluid">
     <!--<img src="img/lotus1.png" class="logo">-->
  <a class="navbar-brand " href="/"><img src="img/logo.png" class="img-fluid" width="60px" alt="logo meditatie .co">Meditatie .co</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto ">
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Blog</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Soorten Meditatie</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Leraren</a>
      </li>
            <li class="nav-item px-1">
        <a class="nav-link " href="#">Geleide meditatie.</a>
      </li>
      <!--      <li class="nav-item">-->
      <!--  <a class="nav-link " href="#">Disabled</a>-->
      <!--</li>-->
    </ul>
    <!--<form class="form-inline my-2 my-lg-0 ml-auto">-->
    <!--  <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">-->
    <!--  <button class="btn btn-outline-custom my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav> 



 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Beginnen met mediteren</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i>
If you have time to breathe you have time to meditate. You breathe when you walk. You breathe when you stand. You breathe when you lie down.      <i class="fas fa-quote-right"></i><br>
– Ajahn Amaro</h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>

<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
  <div class="row">
  <div class="col-lg-2 pt-5 text-dark d-none d-md-block ml-5" id="list">
    <h5 class="text-dark"><a href="/blog">Artikelen</a></h5>
    <ul>
      <li><a href="/15-wetenschappelijl-bewezen-voordelen-meditatie">15 wetenschappelijk bewezen voordelen van meditatie.</strong></a></li>
      <li><a href="/stress-verminderen-meditatie">Stress verminderen met behulp van meditatie.</a></li>
      <li><a href="/burnout-helpen-meditatie">Burnout, hoe kan meditatie helpen?</a></li>
      <li><a href="/mindfulness">Kom terug in je lichaam met mindfulness</a></li>
      <li><a href="/hatha-yoga">Hatha Yoga, wat is het?</a></li>
      <li><a href="/over-chakras">Over chakra's</a></li>
      <li><a href="/blog">Meer...</a></li>
    </ul>
    <h5 class="text-dark"><a href="/leraren">Leraren</a></h5>
        <ul>
      <li><a href="/alan-watts">Alan Watts</a></li>
      <li><a href="/sri-mooji">Sri Mooji</a></li>
      <li><a href="/sadhguru">Sadhguru</a></li>
      <li><a href="/thich-nhat-hanh">Thich Nhat Hanh</a></li>
      <li><a href="/goenka">S.N. Goenka</a></li>
      <li><a href="/leraren">Meer..</a></li>

    </ul>
    <h5 class="text-dark"><a href="/soorten-meditaties">Soorten Meditatie</a></h5>
        <ul>
      <li><a href="/begin"><strong>Beginners meditatie</strong></a></li>
      <li><a href="/metta-loving-kindness">Metta</a></li>
      <li><a href="/zen-zazen">Zazen</a></li>
      <li><a href="/vipassana">Vipassana</a></li>
      <li><a href="/geleide-meditatie">Geleide meditatie</a></li>
      <li><a href="/mantra-meditatie">Mantra</a></li>
      <li><a href="/soorten-meditaties">Meer...</a></li>
    </ul>
    <h5 class="text-dark"><a href="/geleide-meditaties">Geleide meditaties</a></h5>
        <ul>
      <li><a href="/luister-naar-de-wereld">Luister naar de wereld</a></li>
      <li><a href="/vol-van-vreugde">Vol van vreugde</a></li>
      <li><a href="/mindful-met-vipassana">Mindfull met Vipassana</a></li>
      <li><a href="/geleide-meditatie-lichaam-ruimte-bewustzijn">Lichaam ruimte en bewustzijn</a></li>
      <li><a href="/1-uurs-meditatie-goenka">1-uurs meditatie</a></li>
      <li><a href="/geleide-mindfulness-meditatie-kabat-zinn">Mindfulness meditatie</a></li>
      <li><a href="/geleide-meditaties">Meer...</a></li>
    </ul>
  </div>
  <div class="col-lg-9 my-5 p-5" id="text">
   <H1> Beginnen met mediteren </H1>
<br><br>

Beginnen met mediteren kan een enorme uitdaging zijn.<br>
Zoals met alles wat je voor de eerste keer doet, komen er altijd veel vragen in je op en ben je vaak niet zeker of je het goed doet of niet.<br>
Het mooie aan meditatie in dit opzicht is echter wel, dat je het <strong>nooit</strong> fout kunt doen.<br> Hoeveel je ook afdwaalt, waar je ook aan denkt, het maakt niet uit.<br> Er is geen juiste of onjuiste manier om meditatie te beoefenen. <br>Het zitten zelf is de beoefening, ongeacht van wat er gebeurt in de tijd dat je mediteert.<br><br>

In theorie is meditatie het makkelijkste wat je zou kunnen doen, je doet namelijk even helemaal niks.<br> Als je nadenkt hoeveel coördinatie er al nodig is om iets eenvoudigs te doen als je tanden poetsen of fietsen, dan zou meditatie toch het fijnste en minst inspannende zijn wat je kunt doen?<br> Vooral voor de mensen onder ons die liever lui dan moe zijn (zoals ik!).<br>
 Als je de stappen op papier zou zetten, zou het het simpelste zijn wat je vandaag hebt gedaan.<br> Meditatie kan bijvoorbeeld al met 2 simpele stappen uitgelegd worden.<br><br>

<span>1. </span> Leg een rustige focus op je ademhaling en blijf deze volgen.<br>
<span>2. </span> Als je af bent gedwaald, haal je je focus weer terug naar je ademhaling.<br>
<br>
Een veelvoorkomende misvatting wat betreft de oefening, is dat je niet meer zou moeten denken en helemaal stil zou moeten worden. <br>Hoewel je deze staat van bewustzijn zeker zou kunnen bereiken is dit niet het doel van meditatie. <br>Het doel is simpelweg om terug te gaan naar je ademhaling als je afdwaalt. Het is helemaal niet erg als je afdwaalt, dit gebeurt bij iedereen en is heel normaal. <br>Wees trots op jezelf elke keer als je opmerkt dat je afdwaalt, je bent dan namelijk aan het mediteren!<br><br>

<h2> Beginnen met mediteren, waarom? </h2>

Mediteren is iets wat je altijd kunt doen, waar je ook bent. En aangezien meditatie sterk kalmerende en relaxende effecten kan hebben, is dit een ongelooflijk waardevolle vaardigheid om te leren.<br><br>

Daarbij komt ook nog, dat je er nog veel van kunt leren.<br>
Het lijkt misschien tegendraads, maar door niets te doen en in stilte te zitten kun je veel inzichten krijgen.<br> Dit komt omdat er door de stilte veel ruimte in je hoofd ontstaat tijdens de meditatie beoefening. <br>Net zoals dat we een vol glas niet kunnen vullen, kunnen we een vol hoofd ook niet vullen, met bijvoorbeeld nieuwe informatie of ideeën.<br><br>

Een lijst met 15 voordelen, inclusief bronnen is <a href=”/15-wetenshappelijl-bewezen-feiten-meditatie”>hier</a> te vinden.<br><br>





<h3>Als je klaar bent voor je eerste meditatie beoefening heb je 2 opties</h3>

<span>1.</span> Je kunt een geleide meditatie doen.<br>
<span>2.</span> Je kunt het zelf doen.<br>


Een geleide meditatie is makkelijker te volgen, omdat je gewoon de instructies van de leraar kunt volgen. Zo blijf je ook sneller meer gefocust.<br>
<br>
Een aantal goede geleide meditaties vindt je hieronder:<br><br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/IzV6J4WCwRM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/F0jedwTzIJg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br>
Of in het Nederlands:<br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/0rYQ0gKAVX8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br>
De <a href=”https://insighttimer.com/”> Insight timer App</a> is ook een goede bibliotheek voor geleide meditaties.
<br><br>

Als je zelf aan de slag wilt gaan hoef je alleen maar een comfortabele positie te vinden, een lotushouding is het meest gebruikelijk en traditioneel, maar een stoel werkt ook prima. Zorg er wel voor dat je een rechte rug hebt en niet teveel gaat hangen. Zet een timer op hoelang je wilt, tel je ademhaling of zit gewoon zolang als je wilt.
<br><br>
<span>1. </span>Leg een lichte focus op je ademhaling, Adem in door je neus en uit door je mond. Probeer een langzame en diepe ademhaling door je buik aan te houden. Dus adem niet ‘hoog’ vanuit je borstkas, maar laag zodat je buik groter wordt. Wordt je langzaam bewust van alles om je heen.
<span>2. </span>Zodra je bent afgedwaald, dan hoef je niet boos of geïrriteerd te raken, het is juist heel goed dat je het hebt opgemerkt! Ga kalm terug naar je ademhaling.
<br><br>
Er is geen speciale manier of truc, maar heel simpel alleen maar dit. Ook al zit je maar 2 minuten, het is altijd goed om te mediteren.<br><br>

















<h3> Vragen die je (waarschijnlijk) gaat krijgen of al hebt </h3>
<br><br>
<span>1.</span>Wat doe ik met mijn gedachten?<br>
Helemaal niks, zoals ze komen laat je ze ook weer gaan.<br>
<span>2.</span>Wat als ik rare sensaties voel?<br>
Ook helemaal niks, probeer je lichaam zoveel mogelijk te observeren. Zonder dat je echt bezig gaat met wat je voelt.<br>
<span>3.</span> Ik wil opstaan.<br>
Opstaan mag natuurlijk altijd, maar uiteindelijk is dit ook een gedachte die je mooi kunt laten gaan.<br>
<span>4.</span> Ik krijg pijn in mijn lichaam.<br>
Luister altijd naar je lichaam, merk je dat je lichaam protesteert, dan is het helemaal niet erg om even een andere houding op te zoeken.<br>
<span>5.</span> Ik voel me helemaal niet beter na meditatie.<br>
Dit hoeft ook niet, mediteren is een process wat soms meer dan 1 sessie nodig heeft voordat je positieve ervaringen krijgt. Als je langer in een glas water met zand hebt geroerd duurt het ook langer voordat het zand weer op de bodem staat en het weer helder is.<br>
<br><br>





    <strong>Deel dit artikel op social media</strong><br>
     <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
     <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
        <!-- Google+ -->
    <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
  </div>
  </div>
  </div>
  
  <div class="col-lg-10">
    
  </div>
</section> 
  
  <div class="container pt-5 d-block">
    <div class="row">
    <div class="col-lg-5">
 <h2 class="h2">Recente artikelen <i class="fas animated pulse infinite fa-angle-double-right"></i></h1>    
    </div> 
    <div class="col-lg-7">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
  </div>
</div>


<div id="wrapper" class="container-fluid p-0" >
  
  <span id="controlL" class="left-controls" role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>
  </span>
  
  <div class="title text-center h1"> </div>
 
  <div class="module-section clearfix">
   <ul id="content">
             <li class="card effect1">
      <div class="inside-top">
        <a href="/15-wetenschappelijl-bewezen-voordelen-meditatie">
        <img class="img-fluid" src="img/treesm.jpeg" alt="wetenschappelijk bewezen voordelen meditatie">
        <div class="caption-blog">
          <h2>
            Beginnen met meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
        <li class="card effect1">
      <div class="inside-top">
        <a href="/15-wetenschappelijl-bewezen-voordelen-meditatie">
        <img class="img-fluid" src="img/r8.jpeg" alt="wetenschappelijk bewezen voordelen meditatie">
        <div class="caption-blog">
          <h2>
            15 wetenschappelijk bewezen<br>
            voordelen van meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
    <li class="card effect1">
      <div class="inside-top">
        <a href="/stress-verminderen-meditatie">
        <img class="img-fluid" src="img/r1.jpeg" alt="stress verminderen meditatie foto">
        <div class="caption-blog">
          <h2>
            Stress verminderen<br>
            Met behulp van meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/burnout-helpen-meditatie">
        <img class="img-fluid" src="img/r2.jpeg" alt="burnout meditatie foto">
              <div class="caption-blog">
          <h2>
            Burnout.<br>
            Hoe kan meditatie helpen?
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindfulness">
        <img class="img-fluid" src="img/r3.jpeg" alt="mindfulness meditatie foto">
       
              <div class="caption-blog">
          <h2>
            Kom terug in je lichaam met Mindfulness.
          </h2>
        </div>
          </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/vipassana">
        <img class="img-fluid" src="img/r4.jpeg" alt="vipassana meditatie foto">
              <div class="caption-blog">
          <h2>
            Vipassana meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/hatha-yoga">
        <img class="img-fluid" src="img/r5.jpeg" alt="Hatha Yoga foto">
              <div class="caption-blog">
          <h2>
            Hatha Yoga.<br>
            Wat is het?
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/over-chakras">
        <img class="img-fluid" src="img/r6.jpeg" alt="chakras">
              <div class="caption-blog">
          <h2>
            Over chakra's
          </h2>
        </div>
        </a>
      </div>
    </li>
         <li class="card">
      <div class="inside-top">
        <a href="/blog">
        <img class="img-fluid" src="img/r7.jpeg" alt="meer meditatie artikelen foto">
              <div class="caption-blog">
          <h2>
            Meer... <i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
   
  </div>
  <span id="controlR" class="right-controls" role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-right fa-chevron-right-extra" aria-hidden="true"></b>
  </span>
  
  <div class="container d-block">
    <div class="row">
    <div class="col-lg-2">
 <h2 class="h2 text-dark">Leraren <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
    </div> 
    <div class="col">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
    </div>
 </div>
</div><div id="wrapper" class="container-fluid p-0" >
  
  <span id="controlL1" class="left-controls" role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>
  </span>
  
  <div class="title text-center h1"> </div>
 
  <div class="module-section clearfix">
   <ul id="content1">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/alan-watts">
        <img class="img-fluid" src="img/l1.jpeg" alt="alan watts">
        <div class="caption-blog">
          <h2>
            Alan Watts
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/goenka">
        <img class="img-fluid" src="img/l2.jpg" alt="sn goenka">
              <div class="caption-blog">
          <h2>
           S.N. Goenka
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/thich-nhat-hanh">
        <img class="img-fluid" src="img/l3.jpg" alt="thich nhat hanh">
              <div class="caption-blog">
          <h2>
            Thich Nhat Hanh
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/sadhguru">
        <img class="img-fluid" src="img/l4.jpg" alt="sadhguru">
              <div class="caption-blog">
          <h2>
            Sadhguru
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/sri-mooji">
        <img class="img-fluid" src="img/mooji.png" alt="sri mooji">
              <div class="caption-blog">
          <h2>
            Sri Mooji
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/leraren">
        <img class="img-fluid" src="img/l5.jpeg" alt="meer meditatie leraren">
              <div class="caption-blog">
          <h2>
            Meer...<i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
    
   
    
  </div>
    <span id="controlR1" class="right-controls" role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-right fa-chevron-right-extra" aria-hidden="true"></b>
  </span>
  
</div>  
</div>
  <div class="container d-block">
    <div class="row">
    <div class="col-lg-4">
 <h2 class="h2">Meditatie soorten <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
    </div> 
    <div class="col-lg-8">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
    </div>
 </div>
<div id="wrapper" class="container-fluid p-0" >
  
  <span id="controlL2" class="left-controls" role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>
  </span>
  
  <div class="title text-center h1"> </div>
 
  <div class="module-section clearfix">
   <ul id="content2">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/metta-loving-kindness">
        <img class="img-fluid" src="img/m1.jpeg" alt="metta meditate loving kindness">
        <div class="caption-blog">
          <h2>
            Metta Meditatie.<br>
            Loving Kindness Meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindfulness-meditatie">
        <img class="img-fluid" src="img/m2.jpeg" alt="mindfulness meditatie">
          <div class="caption-blog">
          <h2>
            Mindfulness<br> Meditatie<br>
          </h2>
        </div>
      </div>
      </a>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/vipassana-meditatie">
        <img class="img-fluid" src="img/m3.jpeg" alt="vipassana meditatie">
              <div class="caption-blog">
          <h2>
            Vipassana Meditatie<br>
            (Sayagyi U Ba Khin) 
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/zen-zazen">
        <img class="img-fluid" src="img/m4.jpeg" alt="zen zazen meditatie">
              <div class="caption-blog">
          <h2>
            Zen Meditation<br>
            (Zazen)
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-meditatie">
        <img class="img-fluid" src="img/m5.jpeg" alt="geleide meditatie">
              <div class="caption-blog">
          <h2>
            Geleide Meditatie.<br>
          </h2>
        </div>
      </div>
      </a>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mantra-meditatie">
        <img class="img-fluid" src="img/m6.jpeg" alt="mantra meditatie">
              <div class="caption-blog">
          <h2>
            Mantra Meditatie.
          </h2>
        </div>
      </div>
      </a>
    </li>
         <li class="card">
      <div class="inside-top">
        <a href="/soorten-meditatie">
        <img class="img-fluid" src="img/m7.jpeg" alt="meer meditatie soorten">
              <div class="caption-blog">
          <h2>
            Meer... <i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
      </div>
      </a>
    </li>
   </ul>
  </div>
    <span id="controlR2" class="right-controls" role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-right fa-chevron-right-extra" aria-hidden="true"></b>
  </span>
</div>

  
  <div class="container d-block">
    <div class="row">
    <div class="col-lg-4">
 <h2 class="h2">Geleide meditaties <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
    </div> 
    <div class="col-lg-8">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
    </div>
 </div>
<div id="wrapper" class="container-fluid p-0" >
    
  <span id="controlL3" class="left-controls" role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>
  </span>
  <div class="module-section clearfix">
   <ul id="content3">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/luisteren-naar-de-wereld">
        <img class="img-fluid" src="img/g1.jpeg" alt="alan watts luisteren naar de wereld">
        <div class="caption-blog">
          <h2>
            Luister naar de wereld<br>
            met Alan Watts.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindful-met-vipassana">
        <img class="img-fluid" src="img/g2.jpeg" alt="mindfull met vipassana sam harris">
              <div class="caption-blog">
          <h2>
            Sam Harris,<br>
            Wordt mindfull met Vipassana.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/vol-van-vreugde">
        <img class="img-fluid" src="img/g3.jpeg" alt="vol van vreugde geleide meditatie sri mooji">
              <div class="caption-blog">
          <h2>
            Vol van vreugde.<br>
            Sri Mooji
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-meditatie-lichaam-ruimte-bewustzijn">
        <img class="img-fluid" src="img/g4.jpeg" alt="geleide meditatie lichaam ruimte en bewustizijn mingyur rinpoche">
              <div class="caption-blog">
          <h2>
            Mingyur Rinpoche.<br>
            Lichaam, ruimte & bewustzijn.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/1-uurs-meditatie-goenka">
        <img class="img-fluid" src="img/g5.jpeg">
              <div class="caption-blog">
          <h2>
            Krachtige 1-uurs meditatie.<br>
            SN.Goenka
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-mindfulness-meditatie-kabat-zinn">
        <img class="img-fluid" src="img/g6.jpeg" alt="geleidem meditatie jon kabat zinn">
              <div class="caption-blog">
          <h2>
            Jon Kabat zinn,<br>
            Mindfulness Meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
  </div>
  <span id="controlR3" class="right-controls" role="button" aria-label="See Previous Modules">
    <b class="fa fa-chevron-right fa-chevron-right-extra" aria-hidden="true"></b>
  </span>
  </div>
   
    <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h2 class="text-light mt-3 mb-4"><img src="img/logo.png" class="img-fluid" width="60px" alt="">meditatie.co</h2>
          <p class="text-light">
            meditatie.co is een project van <a href="https://www.3dwebdevelopment.com">3DWD</a>,
            Ontstaan uit een interesse voor het onderwerp, met het doel waardevolle informatie te verstrekken.
            </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-light text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Blog</a>
            </li>
            <li>
              <a href="#!">Soorten Meditatie</a>
            </li>
            <li>
              <a href="#!">Leraren</a>
            </li>
            <li>
              <a href="#!">Geleide Meditaties</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <!--<div class="col-md-2 mx-auto">-->

          <!-- Links -->
        <!--  <h5 class="font-weight-bold text-light text-uppercase mt-3 mb-4">Links</h5>-->

        <!--  <ul class="list-unstyled">-->
        <!--    <li>-->
        <!--      <a href="#!">Link 1</a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--      <a href="#!">Link 2</a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--      <a href="#!">Link 3</a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--      <a href="#!">Link 4</a>-->
        <!--    </li>-->
        <!--  </ul>-->

        <!--</div>-->
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-light text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/over">Over</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
            <li>
              <a href="/sitemap.xml">Sitemap</a>
            </li>
            <li>
              <a href="/privacy">Privacy Policy</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1"></h5><br class="d-none d-sm-block">
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-custom btn-rounded">Inschrijven voor de nieuwsbrief</a>
      </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fas fa-envelope"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-light text-center py-3">© 2018
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> meditatie.co</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
  </body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121313270-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121313270-5');
</script>

</script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="js/node.js"></script>
</head>
<body>
</body>
</html>
