   <% include partials/header %>

  <link rel="stylesheet" href="stylesheets/begin.css">
  </head>
  <body>
    
<% include partials/nav %>
 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Beginnen met mediteren</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i>
If you have time to breathe you have time to meditate. You breathe when you walk. You breathe when you stand. You breathe when you lie down.      <i class="fas fa-quote-right"></i><br>
– Ajahn Amaro</h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>

<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
      <div class="row">
        <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/blog">Blog</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">Beginnen met mediteren</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
  <% include partials/blog %>
  <div class="col-lg-9 my-5 p-5" id="text">
   <H1> Beginnen met mediteren </H1>
<br><br>

Beginnen met mediteren kan een enorme uitdaging zijn.<br>
Zoals met alles wat je voor de eerste keer doet, komen er altijd veel vragen in je op en ben je vaak niet zeker of je het goed doet of niet.<br>
Het mooie aan meditatie in dit opzicht is echter wel, dat je het <strong>nooit</strong> fout kunt doen.<br> Hoeveel je ook afdwaalt, waar je ook aan denkt, het maakt niet uit.<br> Er is geen juiste of onjuiste manier om meditatie te beoefenen. <br>Het zitten zelf is de beoefening, ongeacht van wat er gebeurt in de tijd dat je mediteert.<br><br>

In theorie is meditatie het makkelijkste wat je zou kunnen doen, je doet namelijk even helemaal niks.<br> Als je nadenkt hoeveel coördinatie er al nodig is om iets eenvoudigs te doen als je tanden poetsen of fietsen, dan zou meditatie toch het fijnste en minst inspannende zijn wat je kunt doen?<br> Vooral voor de mensen onder ons die liever lui dan moe zijn (zoals ik!).<br>
 Als je de stappen op papier zou zetten, zou het het simpelste zijn wat je vandaag hebt gedaan.<br> Meditatie kan bijvoorbeeld al met 2 simpele stappen uitgelegd worden.<br><br>

<span>1. </span> Leg een rustige focus op je ademhaling en blijf deze volgen.<br>
<span>2. </span> Als je af bent gedwaald, haal je je focus weer terug naar je ademhaling.<br>
<br>
Een veelvoorkomende misvatting wat betreft de oefening, is dat je niet meer zou moeten denken en helemaal stil zou moeten worden. <br>Hoewel je deze staat van bewustzijn zeker zou kunnen bereiken is dit niet het doel van meditatie. <br>Het doel is simpelweg om terug te gaan naar je ademhaling als je afdwaalt. Het is helemaal niet erg als je afdwaalt, dit gebeurt bij iedereen en is heel normaal. <br>Wees trots op jezelf elke keer als je opmerkt dat je afdwaalt, je bent dan namelijk aan het mediteren!<br><br>

<h2> Beginnen met mediteren, waarom? </h2>

Mediteren is iets wat je altijd kunt doen, waar je ook bent. En aangezien meditatie sterk kalmerende en relaxende effecten kan hebben, is dit een ongelooflijk waardevolle vaardigheid om te leren.<br><br>

Daarbij komt ook nog, dat je er nog veel van kunt leren.<br>
Het lijkt misschien tegendraads, maar door niets te doen en in stilte te zitten kun je veel inzichten krijgen.<br> Dit komt omdat er door de stilte veel ruimte in je hoofd ontstaat tijdens de meditatie beoefening. <br>Net zoals dat we een vol glas niet kunnen vullen, kunnen we een vol hoofd ook niet vullen, met bijvoorbeeld nieuwe informatie of ideeën.<br><br>

Een lijst met 15 voordelen, inclusief bronnen is <a href=”/15-wetenshappelijl-bewezen-feiten-meditatie”>hier</a> te vinden.<br><br>





<h3>Als je klaar bent voor je eerste meditatie beoefening heb je 2 opties</h3>

<span>1.</span> Je kunt een geleide meditatie doen.<br>
<span>2.</span> Je kunt het zelf doen.<br>


Een geleide meditatie is makkelijker te volgen, omdat je gewoon de instructies van de leraar kunt volgen. Zo blijf je ook sneller meer gefocust.<br>
<br>
Een aantal goede geleide meditaties vindt je hieronder:<br><br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/IzV6J4WCwRM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/F0jedwTzIJg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br>
Of in het Nederlands:<br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/0rYQ0gKAVX8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br>
De <a href=”https://insighttimer.com/”> Insight timer App</a> is ook een goede bibliotheek voor geleide meditaties.
<br><br>

Als je zelf aan de slag wilt gaan hoef je alleen maar een comfortabele positie te vinden, een lotushouding is het meest gebruikelijk en traditioneel, maar een stoel werkt ook prima. Zorg er wel voor dat je een rechte rug hebt en niet teveel gaat hangen. Zet een timer op hoelang je wilt, tel je ademhaling of zit gewoon zolang als je wilt.
<br><br>
<span>1. </span>Leg een lichte focus op je ademhaling, Adem in door je neus en uit door je mond. Probeer een langzame en diepe ademhaling door je buik aan te houden. Dus adem niet ‘hoog’ vanuit je borstkas, maar laag zodat je buik groter wordt. Wordt je langzaam bewust van alles om je heen.
<span>2. </span>Zodra je bent afgedwaald, dan hoef je niet boos of geïrriteerd te raken, het is juist heel goed dat je het hebt opgemerkt! Ga kalm terug naar je ademhaling.
<br><br>
Er is geen speciale manier of truc, maar heel simpel alleen maar dit. Ook al zit je maar 2 minuten, het is altijd goed om te mediteren.<br><br>

















<h3> Vragen die je (waarschijnlijk) gaat krijgen of al hebt </h3>
<br><br>
<span>1.</span>Wat doe ik met mijn gedachten?<br>
Helemaal niks, zoals ze komen laat je ze ook weer gaan.<br>
<span>2.</span>Wat als ik rare sensaties voel?<br>
Ook helemaal niks, probeer je lichaam zoveel mogelijk te observeren. Zonder dat je echt bezig gaat met wat je voelt.<br>
<span>3.</span> Ik wil opstaan.<br>
Opstaan mag natuurlijk altijd, maar uiteindelijk is dit ook een gedachte die je mooi kunt laten gaan.<br>
<span>4.</span> Ik krijg pijn in mijn lichaam.<br>
Luister altijd naar je lichaam, merk je dat je lichaam protesteert, dan is het helemaal niet erg om even een andere houding op te zoeken.<br>
<span>5.</span> Ik voel me helemaal niet beter na meditatie.<br>
Dit hoeft ook niet, mediteren is een process wat soms meer dan 1 sessie nodig heeft voordat je positieve ervaringen krijgt. Als je langer in een glas water met zand hebt geroerd duurt het ook langer voordat het zand weer op de bodem staat en het weer helder is.<br>
<br><br>





<% include partials/social %>

  </div>
  </div>
  </div>
  
  <div class="col-lg-10">
    
  </div>
</section> 
<% include partials/carousel %>  
    <!-- Footer -->
<% include partials/footer %>
