   <% include partials/header %>
     <title> Meditatie.co | Burnout, hoe meditatie kan helpen </title>
     <link rel="stylesheet" href="stylesheets/burnout.css">
  </head>
  <body>
 <% include partials/nav %>
 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Burnout, hoe meditatie kan helpen</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i>The more I read, the more I meditate; and the more I acquire, the more I am enabled to affirm that I know nothing.<i class="fas fa-quote-right"></i><br>  – Voltaire</h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>
<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
        <div class="row">
  <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/blog">Blog</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">15 Wetenschappelijk bewezen voordelen van meditatie.</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
<% include partials/blog %>
  <div class="col-lg-9 my-5 p-5" id="text">
  <h1>Burnout, hoe meditatie kan helpen</h1><br>

Een burnout is een vorm van overspannenheid waarbij je je elke dag compleet uitgeput voelt.<br> Ook heb je moeite met functioneren op werk of thuis.<br> We spreken van een burnout als dit langer dan 6 maanden aanhoudt<br>. Een burnout brengt allerlei fysieke en psychische symptomen met zich mee zoals veel piekeren, slecht slapen, prikkelbaar zijn, hartkloppingen en duizeligheid.<br><br>

Een beetje stress is gezond en normaal, maar als jij door omstandigheden langdurig gestrest bent kun je makkelijk overspannen raken en in een burnout terechtkomen.<br>
Als je een burnout krijgt, zou je dat moeten zien als een waarschuwing van je lichaam, je staat onder teveel druk en hebt niet de technieken tot je beschikking om dit in balans te houden.<br> Verschillende soorten meditatie oefeningen zouden je kunnen helpen met het vinden van de rust waar je lichaam om vraagt.<br> Het voorkomt ook de opbouw van stress in de toekomst omdat je met behulp van mediteren wel voldoende tot rust zou kunnen komen.<br><br>

<h2>Hoe weet ik of ik een burn out heb?</h2><br>

Dit kun je het beste vast laten stellen bij je huisarts.<br> Als je ergens last van hebt is het belangrijk om precies te weten waar je mee zit voordat jezelf gaat proberen te helen. <br>Meditatie kan bij veel dingen het natuurlijk herstel helpen, maar er zijn ook problemen die het natuurlijke herstelproces van je lichaam en geest te boven gaan.<br> Laat je daarom altijd voldoende inlichten.<br><br>

<h2>Hoe kan meditatie helpen bij een burnout?</h2>

Als je in een burnout bent beland, is er de afgelopen tijd teveel stress geweest en te weinig ontspanning.<br> Misschien heb je het gewoon heel erg druk op werk of school, of misschien gebeurt er iets in je omgeving wat veel van je vraagt.<br>
Wat het ook is, met meditatie kun je altijd een moment van rust voor jezelf creëren.<br> Als jij dus in een zeer turbulente periode van je leven zit, kan het dus een essentiële techniek zijn die jou kan helpen om je hoofd kalm te houden.<br><br>

<p class="display-4">“God, schenk me de kalmte om te accepteren wat ik niet kan veranderen, de moed om te veranderen wat ik wel kan veranderen en de wijsheid om het verschil hiertussen te zien.”</p>
<br><br>
Hierboven zie je het “gebed om kalmte”. <br>
Een goede vraag om jezelf te stellen is wat, van de dingen die jou stress bezorgen, je zou kunnen veranderen. <br>
Mediteren om beter met je stress om te gaan is nooit een slecht idee, maar als jij controle hebt over een bepaalde situatie die jou stress veroorzaakt dan is het beter om dit direct onder ogen te zien.<br> Zo kan je ook je meditatie oefening gebruiken om de dingen die je niet zou kunnen veranderen te accepteren.<br><br>


Meditatie doet een aantal dingen om jou weer op de been te helpen als je een burn-out hebt.
<br><br>
<ul>
<li>
1.Het helpt je kalmeren(ook al is het soms maar voor even)<br>
</li>
	-Telkens als je gaat zitten om te mediteren, krijg je lichamelijk en geestelijk een kleine 	pauze om even bij te komen. Ook als is het maar 5 minuten per dag.<br>
	Hoewel het niet altijd zo voelt, krijgt je geest de rust tijdens een meditatie oefening om 	even te verwerken.<br> Dit hoeft op het moment niet goed te voelen. Laat jezelf daarom 	voelen wat je voelt en geef jezelf de rust om te verwerken.<br><br>
<li>
2. Je reageert anders op stress<br>
</li>
	-Als je met enkele regelmaat mediteert, leer je jezelf aan om minder te reageren op 	factoren die stress kunnen veroorzaken.<br> Zie je stress als een hond die jouw 		aandacht probeert te trekken, als jij helemaal niet reageert zou de hond het misschien 	nog even proberen, maar binnen de kortste keren de handdoek in de ring gooien.<br><br>
<li>	
3. Je kunt naar de kern van de stress toe gaan.<br>
</li>

	-Een heftige emotionele of traumatische gebeurtenis meemaken kan veel stress met 	zich meebrengen.<br> Omdat de stress soms lastig op te lossen is kom je al snel in een 	burn-out terecht.<br> Met meditatie heb je de kracht om te luisteren naar je emoties en er 	ruimte voor te creëren.<br> Vaak liggen onder je emoties de helderheid die je in kan laten 	zien wat er echt is gebeurd en kan je het met andere ogen bekijken of achter je laten.<br><br>
	</ul>
<h2>Welke vorm van meditatie kan ik het beste gebruiken bij een burn-out?</h2><br><br>

	Voor beginners raad ik aan om een simpele techniek te kiezen:<br>

Beginnersmeditatie tegen een burn-out.<br> Dit is een simpele beginners meditatie, zorg dat je een rustige plek hebt waar je rustig kunt oefenen.<br> Het beste is om te zitten, dit kan in de lotushouding, op een stoel, of op de grond met een kussen, probeer je rug recht te houden.<br> Als je gaat liggen probeer dan plat op bed te gaan liggen, met je armen en benen gespreid.<br>
Deze meditatie heeft 2 stappen.
<br>
<ul>
<li>
1.Houd een langzame en rustige ademhaling aan.
</li>
<li>
2.Als je afdwaalt met je gedachten, breng je focus dan rustig terug naar je ademhaling.
</li>
</ul>
<br><br>
<h3>Wat te doen?</h3><br>
<h4>-Als je wilt opstaan of iets anders wilt doen?</h4><br>
Het loslaten van je alle gedachten betekent dat je alle gedachten simpelweg kunt laten
gaan. Dus ook deze. Voel bij jezelf aan of je hier echt op in wilt gaan.<br><br>
<h4>-Als je pijn krijgt?</h4><br>
Een beetje pijn is normaal, maar luister altijd goed naar je lichaam. <br><br>
<h4>-Als je niet kunt focussen?</h4><br>
Een meditatie is een meditatie ongeacht van wat er gebeurt, als het deze keer niet gelukt 
is om te focussen dan is dat zo.
<br>
	Een wat bredere variant die goed helpt tegen burn-out is ‘Mindfulness’ meditatie
<br>
Ga ik een lotushouding zitten houdt je rug recht en ontspan je schouders. <br>
<br>
<ul>
<li>
Begin met een kalme, vloeiende ademhaling. Kijk aandachtig naar houdt je ademhaalt en alle sensaties die daarbij komen. 
</li>
<li>
Als je een goede focus hebt opgebouwd door het volgen van je ademhaling en deze rustig is, kun je doorgaan door je focus over je hele lichaam te verspreiden. Hoe voelen je benen? Je armen? Je hoofd? Waar zit spanning en waar niet?
</li>
<li>
Als je een goede focus in je lichaam hebt, ga dan door naar wat je hoort. Is het stil of lawaaierig? Probeer alle geluiden binnen te laten komen zoals ze zijn en probeer er zo weinig mogelijk vorm aan wat je hoort te geven.
</li>
<li>
Ga vervolgens met je aandacht naar je gedachten, probeer te zien wat je denkt zonder er niet mee bezig te zijn. Laat het zijn zoals het is.
</li>
<li>
Als laatste kun je alles als een symfonie samen laten komen. Laat alle zintuigen hun werk doen en maak jezelf helemaal leeg. Als het goed is ben je nu intens bewust van alles om je heen. Je bent in het hier & nu.
</li>
</ul>
<br>
Mindfulness is perfect voor burn out omdat je even helemaal in het hier en nu kunt zijn, en in het hier en nu is alles rustig, stil, kalm en kun je even alle druk van buitenaf loslaten.<br> Als het ware kun je even op vakantie in je hoofd.
<br><br>
Als je na het mediteren niet rustiger bent is dit geen probleem of teken dat je het niet goed doet. Elke meditatie is zoals hij is, soms goed en soms niet goed. De truc is om dit dualistische denken zoveel mogelijk te vermijden. Het is namelijk niet goed of slecht, het is wat het is.
<br><br>
Ik wens je veel rust toe als je verkeert in tijden van stress en ik hoop dat dit artikel je heeft kunnen helpen.

<br><br>
 <% include partials/social %>
  </div>
  </div>
  </div>
  <div class="col-lg-10">
  </div>
</section> 
<% include partials/carousel %>
<% include partials/footer %>
