   <% include partials/header %>
      <title> Meditatie . co | Blog over mediteren voor iedereen | Contact </title>
     <link rel="stylesheet" href="stylesheets/ander.css">
  </head>
  <body>
 <% include partials/nav %>
<div class="container-fluid" id="page">
    <div class="container bg-light" id="subpage">
        <h1>Contact</h1>
        <p>
            Voor vragen, opmerkingen of suggesties kun je een bericht stuen naar: <strong>meditatie.co@gmail.com</strong>    
        </p>
    </div>
</div>
<% include partials/footer %>
