<% include partials/header %>
  Blog over mediteren voor iedereen | Dashboard </title>
<% include partials/nav %>
<div class="container-fluid" id="dashboard" style="">
    <div class="row">
        <a href="/newblog" class="col-md-4 p-5 hvr-icon-grow text-center">
            <h6>Nieuwe post schrijven in Recent</h6>
            <i class="fas hvr-icon fa-folder-plus text-success"></i>
        </a>
        <a href="/newblogspotlight" class="col-md-4 p-5 hvr-icon-grow text-center">
            <h6>Nieuwe post schrijven in Spotlight</h6>
            <i class="fas hvr-icon fa-folder-plus text-success"></i>
        </a>
        <a href="/newblogteach" class="col-md-4 p-5 hvr-icon-grow text-center">
            <h6>Nieuwe post schrijven in Leraren</h6>
            <i class="fas hvr-icon fa-folder-plus text-success"></i>
        </a>
    </div>
    <div class="row">
        <a href="/newblogtech"class="col-md-4 p-5 hvr-icon-grow text-center" href="/">
            <h6>Nieuwe post schrijven in Technieken</h6>
            <i class="fas hvr-icon fa-folder-plus text-success"></i>
        </a>
        <a href="/newblogbook" class="col-md-4 p-5 hvr-icon-grow text-center">
            <h6>Nieuwe post schrijven in Boeken </h6>
            <i class="fas hvr-icon fa-folder-plus text-success"></i>
        </a>
        <a href="/newblogguide" class="col-md-4 p-5 hvr-icon-grow text-center">
            <h6>Nieuwe post schrijven in Geleide Meditaties</h6>
            <i class="fas hvr-icon fa-folder-plus text-success"></i>
        </a>
    </div>
    <div class="row">
        <a href="/" class="col-md-4 p-5 hvr-icon-grow text-center">
            <h6>Nieuwe inlog aanvragen</h6>
            <i class="fas hvr-icon fa-users text-success"></i>
        </a>
        <a href="/" class="col-md-4 p-5 hvr-icon-grow text-center">
        <h6>Een post aanpassen</h6>
            <i class="far hvr-icon fa-edit text-warning"></i>
        </a>
        <a href="/" class="col-md-4 p-5 hvr-icon-grow text-center">
            <h6>Uitloggen Meditatie . co</h6>
            <i class="fas hvr-icon fa-sign-out-alt text-danger"></i>
        </a>
    </div>
    <div class="row">
        <a href="/" class="col-md-4 p-5 hvr-icon-grow text-center">
            <h6>Gebruiker registeren</h6>
            <i class="fas hvr-icon fa-user-plus text-success"></i>
        </a>
        <a href="/" class="col-md-4 p-5 hvr-icon-grow text-center">
            <h6>Contact opnemen</h6>
            <i class="fas hvr-icon fa-envelope text-warning"></i>
        </a>
        <a href="/" class="col-md-4 p-5 hvr-icon-grow text-center">
            <h6>Een fout melden</h6>
            <i class="fas hvr-icon fa-exclamation-triangle text-danger"></i>
        </a>
    </div>
</div>
<% include partials/footer %>    

