   <% include partials/header %>
     <title> Meditatie.co | De emoties laten gaan | Emotionele vrijheid </title>
     <link rel="stylesheet" href="stylesheets/emoties.css">
  </head>
  <body>
 <% include partials/nav %>
 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">De emoties laten gaan.</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i>The more I read, the more I meditate; and the more I acquire, the more I am enabled to affirm that I know nothing.<i class="fas fa-quote-right"></i><br>  – Voltaire</h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>
<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
        <div class="row">
  <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/blog">Blog</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">15 Wetenschappelijk bewezen voordelen van meditatie.</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
<% include partials/blog %>
  <div class="col-lg-9 my-5 p-5" id="text">

<h1> De emoties laten gaan.</h1>

Soms willen we een bepaalde emoties niet voelen of onder ogen komen. <br> 
De oorzaak hiervan kan zijn dat de emotie te sterk of confronterend is.<br>
Misschien doet het ons denken aan een gebeurtenis die we liever willen vergeten, of aan een eigenschap van onszelf waar we niet trots op zijn.<br> Het kan ook zo zijn dat je niet weet hoe je met een bepaalde emotie moet omgaan omdat deze compleet nieuw voor je is.<br>
<br>
Het beste advies wat je mensen kunt geven die op dit moment een heftige emotie ervaren, is om deze simpelweg toe te laten. <br>Misschien lijkt het het beste om deze persoon een peptalk te geven, zodat de emotie voor een tijd afzwakt voordat deze onvermijdelijk terugkomt.<br>
Geef de persoon erkenning om de emotie te voelen, elke emotie is er namelijk met een goede verklaring.<br> Het is niet aan ons om al deze verklaringen te achterhalen, maar we moeten wel snappen dat emoties onderdeel zijn van een natuurlijk proces. <br> We kunnen dit net zoals andere lichaamsfuncties, onmogelijk stoppen.<br><br>

Als je gaat zitten met de negatieve emotie kan dit heel moeilijk zijn.<br> Als je gewend bent je emoties weg te stoppen gaat het onder ogen komen hiervan onnatuurlijk voelen<br>. Je gedachten gaan je ongetwijfeld veel redenen geven om niet te blijven zitten en iets anders te gaan doen.<br>
Als je op deze momenten, momenten van angst, pijn, of verdriet stil kunt zitten. Is dit een uiting van grote kracht.<br>
Jij hoeft namelijk niet weg te rennen voor je emoties, je kunt ze wel aan en je laat ze gewoon komen.<br><br>

De effecten van meditatie op sterke emoties, kunnen heel snel tot uiting komen. <br>Als jij erin slaagt om rustig te blijven zitten en aandachtig je ademhaling te volgen terwijl je alles simpelweg laat zijn, krijg je al snel een gevoel van vrede op de achtergrond.<br> Een gevoel wat blijft groeien naarmate je oefent met het toelaten van je emoties.<br> Een zelfde soort gevoel wat je krijgt als je een angst hebt overwonnen. Een gevoel van vrijheid.<br><br>

Als je een emotie niet toe kunt laten, kan de emotie er niet uit.<br> De emotie gaat op deze manier niet weg, maar zal groeien.<br> Omdat je lichaam en geest sterk in verbinding staan met elkaar, kan dit lichamelijke en fysieke effecten hebben.<br><br>

Dit is wat er gebeurt in je lichaam als je gaat vechten tegen je eigen emoties.<br>
Aan een kant is er een natuurlijk proces van je lichaam, onmogelijk te stoppen.<br>
Aan de andere kant ontstaan er als reactie op dit allerlei nieuwe negatieve emoties.<br>
Emoties die voortkomen uit oordelen, wensen dat je de emotie niet hoeft te voelen enzovoort.<br>
Elke reactie op het natuurlijke proces van je emoties, is verspilde energie. Energie die je had kunnen gebruiken om de initiële emotie te kunnen verwerken en beter te leren kennen.
<br><br>
Als we mediteren sparen we dus al onze energie die we verspillen met het constant reageren op een emotie, om deze te kunnen verwerken.<br> We geven ons lichaam de energie om de emotie een plek te geven.<br> Het gaat misschien tegen je natuur in, maar in elk geval zijn we beter af als we ons lichaam gewoon laten doen wat het moet doen, zonder dit te willen veranderen.<br>
<br>
<h2><strong>“The more you hide your feelings, the more they show. The more you deny your feelings, the more they grow.</strong></h2>
<br><br>
Als we een emotie voelen, dan is dat niet voor niks. Elke emotie die je voelt, voel je met een hele goede reden, anders zou deze er niet zijn.<br>
De belangrijkste les die wij van onze emoties kunnen leren is dat wij de emoties niet onder controle hebben.<br> Ze komen en gaan onafhankelijk van wat wij van hun aanwezigheid vinden.<br>
Als we dit zouden kunnen stoppen, zouden we ook andere lichaamsfuncties met onze wil kunnen laten stoppen.<br> Gelukkig is dit niet het geval!<br>
<br>
Emoties zouden we dus ook op dezelfde manier moeten benaderen als een andere lichaamsfunctie.<br> Gek genoeg ervaren de meeste mensen lichamelijke klachten als buikpijn op een compleet andere manier.<br> We weten dat we er weinig aan kunnen doen, dus dat doen we ook niet.<br> Ook weten we dat het snel weer over gaat, zodat we er vrede mee kunnen hebben. <br>Als we onze emoties nou op eenzelfde manier zien, we kunnen het net zo min veranderen als dat we buikpijn weg zouden kunnen nemen. <br>Ook weten we dat onze emoties weer overgaan.<br> Maar toch is het iets wat we op momenten moeilijk toe zouden kunnen laten zoals we dat bij bijvoorbeeld buikpijn kunnen doen.<br><br>

Een emotie kun je op een aantal manieren niet toe laten.<br> Je kunt bijvoorbeeld iets gaan doen waardoor je je weer snel beter gaat voelen. <br>We kunnen afspreken met onze kennissen zodat we even afleiding hebben<br> Je kunt het ook doen door een emotie te voelen maar niet te uiten, zoals wanneer je je tranen tegenhoudt als je moet huilen. <br>Je kunt jezelf ook geen tijd gunnen om de emotie te voelen, door bijvoorbeeld altijd bezig te zijn met werk of iets anders.<br><br>

In geen enkel opzicht is het slecht om jezelf af te leiden of beter te laten voelen.<br> Als we dit maar niet constant doen. Dan bouwen de emoties zich namelijk op en maak je het onnodig moeilijker voor jezelf om later ze nog toe te laten. <br>Vindt momenten waarop je je goed voelt en neem deze mee als een extra, maar niet als vervanging op je negatieve emoties.<br> En op de momenten dat je je emoties toe kunt laten, doe dit dan ook zeker. Probeer hier een natuurlijke balans in te vinden. <br>Luister naar je lichaam als je overspoeld wordt door een emotie en ren hier niet voor weg.<br> Zodra je je dan weer wat beter voelt kun je weer even afleiding zoeken tot het moment dat het weer tijd is om de emoties onder ogen te zien.<br>
Op deze manier kun je goed oefenen met het toelaten van je emoties en jezelf langzaam laten wennen aan deze manier van omgang.<br><br>

Het volgende klinkt vast bekend.<br>
Je hebt ergens helemaal geen zin in, je ziet er als een berg tegenop. Van te voren denk je dat het vreselijk gaat worden en je misschien beter gewoon niet kunt gaan.<br>
Maar vaak is het zo, dat het moment dat we hetgeen doen wat we absoluut niet willen doen, we merken dat het lang niet zo erg was als we het onszelf verteld hadden.<br><br>



Er kan erg veel stress ontstaan als je je heel graag goed wilt voelen, maar dat op het moment even niet kan.<br>  Je bent hier, maar je wilt heel ergens anders zijn.<br> Je verzet je tegen het huidige moment<br>. Er ontstaat een kloof in jezelf. <br>Je zou met je volledige aandacht hier moeten zijn, zodat je het beter kunt maken.<br> Gebruik een betere visie van de toekomst niet als een bewijs dat je leven nu even wat minder is.<br> Maar als een motivatie om daar naartoe te werken, een betere toekomst.<br><br>

Als we de controle op onze emoties laten gaan, hebben we tegelijkertijd controle over onze emoties.<br> Dit is omdat als we de controle opgeven, de emoties ook geen kracht meer hebben over ons.<br><br>


<h2>Het leven is groeien.</h2> <br>
Door mindere momenten in ons leven groeien we, we leren een nieuwe manier van omgaan met dingen omdat we nieuwe situaties tegenkomen. <br>Dit kan in het begin ongemakkelijk, beangstigend, of intimiderend voelen.<br> Maar met alles wat je voor het eerst doet, wordt het alleen maar beter. Als je een nieuwe baan hebt, wordt er ook niet verwacht dat je meteen naar je hoogste potentie presteert, omdat je nog moet leren en aanpassen.<br>
Bij elke nieuwe situatie in ons leven is dit zo. <br>Zie het niet als een zwakte dat je er nog niet goed mee om kunt gaan. Maar als een perfecte kans om te groeien.<br><br>

Voor alles wat groeit, moet natuurlijk voldoende ruimte zijn om te groeien. Als je je overgeeft aan het natuurlijke proces van je emoties, ga je deze ruimte vinden. Dan kan je verder groeien en leren.<br>
Groeien voelt echter niet altijd goed, er kan angst, spanning en moeheid ontstaan. Maar dit hoort er allemaal bij. Als jij ook deze emoties kunt laten gaan kun je je ware potentie gaan bereiken, niet tegengehouden door je eigen emoties.<br><br>

<h2>Hoe laat ik emoties gaan?</h2><br>
Emoties laat je gaan door te erkennen dat ze er zijn. Het heeft een hele goede reden, anders waren ze er niet. Snap en toon begrip voor jezelf en je emoties.<br> Het is oke dat ze er zijn.
Zie ze als een uitdaging, een uitdaging om je ware kracht te ontwikkelen en te laten zien wie jij echt bent.<br> Een uitdaging om te laten zien dat jij sterker bent dan je emoties. Een uitdaging om jezelf te overwinnen.<br><br>

Emoties kunnen ons niet schaden, dus waarom zouden we vluchten van emoties? Ze zijn een onderdeel van onszelf, dus we hoeven hiervoor niet bang te zijn.<br><br>








 <% include partials/social %>
  </div>
  </div>
  </div>
  <div class="col-lg-10">
  </div>
</section> 
<% include partials/carousel %>
<% include partials/footer %>
