   <% include partials/header %>
  </head>
  <body>
  <% include partials/nav %>
 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Satya Narayan Goenka | S.N. Goenka</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5">
        1924 | 2013<br>
        Burma <br>
        Vipassana Teacher<br>
        Vipassana | Sayagyi U Ba Khin Traditie
        <br>
      <hr class="animated fadeIn _7">
     <i class="fas fa-quote-left"></i> If there is no peace in the minds of individuals, how can there be peace in the world?<br> Make peace in your own mind first.<i class="fas fa-quote-right"></i>
    </h4>
    </div>
  </div>
</section>

<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
      <div class="row">
        <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/leraren">Leraren</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">S.N. Goenka</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
   <% include partials/blog %>
  <div class="col-lg-9 my-5 p-5" id="text">
<h1>Wie is S.N. Goenka?</h1>
<br><br>
Satya Narayan Goenka, beter bekend als S.N. Goeka, is een Birmaanse-Indiaanse leraar van Vipassana-meditatie. Geboren in Burma verhuisde S.N. Goenka in 1969 naar India om les te geven in vipassana meditatie. Volgens zijn leer was de Boeddha’s pad naar bevrijding universeel en wetenschappelijk. Hij gaf zelf les tot 1982 en in 1895 richtte hij de Vipassana research institute op. In het jaar 2000 werd S.N. Goenka uitgenodigd als spreker bij de Verenigde Naties in New York.<br>
Zijn latere jaren heeft S.N. Goenka vooral doorgebracht met het onderwijzen van ruim 1300 assistent-onderwijzers, die actief waren op de vele centrums voor vipassana retraites over de hele wereld. Per jaar komen 120.000 studenten hier bijeen om Vipassana te leren en te beoefenen. In 2013 komt S.N. Goenka te overlijden in zijn woning in Mumbai.<br><br>
<H2>Dhamma.org</H2><br>
Hij was een invloedrijke leraar en zette op meerdere in de wereld plekken meditatie centra op waar hij vandaag de dag nog 10-daagse vipassana retraites houdt. Zelfs in Nederland zijn deze centra terug te vinden in Utrecht, Amsterdam, de Glind en Rotterdam. <br>
De retraites worden gefundeerd door middel van donaties door mensen die bij willen dragen aan het verspreiden van Vipassana. Iedereen is welkom ongeacht je geloofsovertuiging en achtergrond. Je moet je alleen wel aan een aantal strenge regels houden. Op dhamma.org staat beschreven dan de reden hiervoor is om studenten een goede ondersteuning te bieden om 10 dagen in stilte door te kunnen brengen. De regels zijn <a href=”https://www.nl.dhamma.org/reference/code-of-discipline/”>hier</a> te vinden.<br>
 <br><br>
Ook moet je tijdens de retraites volgens een strikt rooster leven. Je moet bijvoorbeeld om 5 uur opstaan voor een ochtendmeditatie en om 9 uur gaan slapen na de avondmeditatie. De hele retraite is gebaseerd op het boeddhistische “achtvoudige pad”. Volgens het boeddhisme is het achtvoudige pad de weg naar bevrijding en nirvana.
 <br><br>
Met een sterk aantal nieuwe studenten die Vipassana leren door een verblijf in een centrum vindt S.N. Goenka het belangrijk dat de organisatie geen eigenschappen van een sekte gaat vertonen, maar juist een vrije plek blijft die enkel het doel heeft mensen de ware aard van Vipassana te leren. Daarom zou de organisatie van S.N. Goenka nooit uitbreiden om het uitbreiden alleen, maar alleen voor het voordeel van de studenten. Dat is volgens S.N. Goenka pure ‘Dhamma’.
 <br><br>
Iedereen kan zich aanmelden voor een retraite bij de organisatie, er zitten zelfs geen kosten aan verbonden. De selectie van nieuwe studenten is echter wel streng, omdat een retraite van 10 dagen erg hard werken is en niet voor iedereen voordelen kan hebben. Vipassana is bijvoorbeeld geen oplossing voor mensen met serieuze mentale problemen. De retraites zitten echter snel vol, dus je moet er op tijd bij zijn.<br>
Een complete lijst met datums en locaties is te vinden op <a href=”https://www.dhamma.org”>Dhamma.org</a>
 <br><br>
Ook zijn fragmenten van S.N. Goenka’s lessen tijdens de retraites te vinden op YouTube:<br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YuAgnfun0RE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 <br><br>
 Bronnen: <br>
 <a href="https://en.wikipedia.org/wiki/S._N._Goenka">Wikipedia</a><br>
 <a href="https://www.nl.dhamma.org/reference/sn-goenka/">Dhamma</a><br>
<br><br>

    <% include partials/social %>

  </div>
  </div>
  </div>
  
  <div class="col-lg-10">
    
  </div>
</section> 
  
  <% include partials/carousel %>
  <% include partials/footer %>
  <link rel="stylesheet" href="stylesheets/goenka.css">

