<% include partials/header %>
<title> Meditatie.co | Meditatie is voor iedereen! </title>
<% include partials/nav %>
<div class="container-fluid" id="main">
</div>
<div class="container-fluid text-center p-5 " id="title">
  <a href="/begin">  
  <div class="col-md-6 mx-auto">
  <h1 class="blog-title">Beginnen met mediteren</h1>
  <h6 class="date"> &mdash; 26 Oktober 2018</h6>
  <p class="py-5 desc date">Beginnen met mediteren kan een enorme uitdaging zijn.
Zoals met alles wat je voor de eerste keer doet, komen er altijd veel vragen in je op en ben je vaak niet zeker of je het goed doet of niet.
<br><br>Het mooie aan meditatie in dit opzicht is echter wel, dat je het nooit fout kunt doen.Hoeveel je ook afdwaalt, waar je ook aan denkt, het maakt niet uit. Er is geen juiste of onjuiste manier om meditatie te beoefenen. Het zitten zelf is de beoefening, ongeacht van wat er gebeurt in de tijd dat je mediteert.
</p>
  </div>
</div>
</a>

<% include partials/carousel %>    
<div class="container-fluid" id="spotlight">
</div>
<div class="container-fluid text-center p-5">
    <a href="/15-wetenschappelijk-bewezen-voordelen-meditatie">  
  <div class="col-md-6 mx-auto">
    <h2 class="blog-title">15 Wetenschappelijk bewezen voordelen van meditatie.</h2>
    <h6 class="date"> &mdash; 8 Oktober 2018</h6>
    <p class=" date desc"> 
      Er is al veel wetenschappelijk onderzoek gedaan naar de effecten van meditatie op het menselijk lichaam. Hier een lijst van de meest bekende en meest voorkomende effecten met de bijbehorende bronnen.
    </p>
  </div>
  </a>
</div>

<% include partials/spotlight %>    
<% include partials/leraren %>    

<div class="container-fluid " id="spotlight-1">
</div>
<div class="container-fluid text-center p-5">
    <a href="/routine">  
  <div class="col-md-6 mx-auto">
    <h2 class="blog-title">Een dagelijkse routine opbouwen</h2>
    <h6 class="date"> &mdash; 9 September 2018</h6>
    <p class="date desc py-5">
      Vaak is het opbouwen van een nieuwe routine een flinke klus. We moeten niet alleen iets nieuws gaan doen, maar ook oude patronen doorbreken. Als deze oude patronen al een lange tijd een gewoonte zijn geworden, is de drang om hiernaar terug te keren vaak groot.

    </p>
  </div>
  </a>
</div>
<% include partials/tech %>    

<% include partials/books %>
<div class="container-fluid " id="spotlight-2">
</div>
<div class="container-fluid text-center p-5">
  <div class="col-md-6 mx-auto">
    <h2 class="blog-title">Kom terug in je lichaam met mindfulness.</h2>
    <h6 class="date"> &mdash; 16 September 2018</h6>
    <p class="date desc py-5">
      
    </p>
  </div>
</div>
<% include partials/geleide %>    

<% include partials/footer %>    

