<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio</title>

    <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Kaushan+Script|VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">



    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="../stylesheets/portfolio.css">
	<link rel="stylesheet" href="animate.min.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
	      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



	
</head>
<body>
  <html>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
      <a class=" m-auto name js-scroll-trigger animated zoomInLeft" href="#home">_Niek van Losenoord_ </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
            <a href="#home" class="nav-link   ml-5 m-auto text-warning mt-5 text-center animated zoomInRight _1"> HELLO</a>
            </li>
            <li class="nav-item">
            <a href="#skills1" class=" m-auto text-warning mt-5 nav-link text-center animated zoomInRight _2"> WHAT I USE</a>
            </li>
            <li class="nav-item">
            <a href="#projects" class="text-warning m-auto mt-5 nav-link text-center animated zoomInRight _3"> MY PROJECTS</a>
            </li>
            <li class="nav-item">
            <a href="#footer" class="text-warning m-auto mt-5 nav-link text-center animated zoomInRight _4" data-toggle="modal" data-target="#contactModal" >GET IN TOUCH!</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <header class="v-header container">
          <div class="header-overlay"></div>

      <div class="fullscreen-video-wrap">
        <video autoplay muted loop id="myVideo">-->
  <source src="../vid/type.mp4" type="video/mp4"> 
</video>
      </div>  
      <div class="header-overlay"></div>
      <div class="header-content">
        <h1 class="head-sub animated fadeIn">Welcome to my portfolio page</h1>
        <h1 class="head-sub animated fadeIn">This is where i host my personal projects</h1>
        <h1 class="head-sub1 animated fadeIn">It's very nice to meet you!</h1>
                  <a  href="#skills" class=""><i class="fas fa-angle-double-down text-center animated pulse infinite"></i></a>

      </div>
    </header>
    
<section id="skills1" class="">
  <div class="container">
    <h1 class="skills-header text-center header-focus1 text-dark">WHAT I USE</h1>
    <div class="row">
    <div class="col-lg-0"></div>
    <div class="col-lg-5">
      <p class="skill">HTML // USING // INTERMEDIATE</p>
      <p class="skill">CSS/SASS // USING // INTERMEDIATE</p>
      <p class="skill">JAVASCRIPT/JQUERY // USING & LEARNING // BEGINNER</p>
      <p class="skill">NODE.JS // USING & LEARNING // BEGINNER</p>
      <p class="skill">NPM // USING // BEGINNER</p>
      <p class="skill pb-5">GIT // USING // BEGINNER</p>
    </div>
    <div class="col-lg-6">
        <div class="wrap">
  <div class="cube">
    <div class="front">
      <i class="fab fa-css3-alt icon"></i>
    </div>
    <div class="back">
      <i class="fab fa-html5 icon"></i>
    </div>
    <div class="top">
      <i class="fab fa-js-square icon"></i>
    </div>
    <div class="bottom">
      <i class="fab fa-node icon"></i>
    </div>
    <div class="left">
      <i class="fab fa-git-square icon"></i>
    </div>
    <div class="right">
      <i class="fab fa-npm icon"></i>
    </div>
  </div>
</div>
    </div>
    <div class="col-lg-1">
      
    </div>
  </div>
          <h1 class="header-projects text-center my-5 py-5">MY PROJECTS</h1>

</div>
<!--<h1 class="header-projects text-center ">MY PROJECTS</h1>-->
<!--<p class="sub-projects text-center ">HOVER OVER THE BLOCKS TO LEARN MORE</p>-->
</section>
<section id="projects">
  <section id="projects">
<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-lg-3 div3">
      <a href="https://bearded-loonie-41646.herokuapp.com/"><p class="projectp1 mt-3">RGB COLOR GAME</p></a>
      <p class="projectp2 d-none d-sm-block">JavaScript<br>HTML<br>CSS</p>
      
    </div
    ><div class="col-lg-3 div4">
      <a href="https://thawing-dusk-10243.herokuapp.com/"><p class="projectp1 mt-3">SIMPLE TO-DO LIST</p></a>
      <p class="projectp2 d-none d-sm-block">JQUERY<br>HTML<br>CSS</p>
    </div>
    <div class="col-lg-3 div2">
      <a href="https://dicegame1.herokuapp.com/"><p class="projectp1-w mt-3">DICE GAME</p></a>
      <p class="projectp2-w d-none d-sm-block">JavaScript<br>HTML<br>SASS</p>
    </div>
    <div class="col-lg-3 div1">
      <a href="https://counter11.herokuapp.com/"><p class="projectp1 mt-3">SIMPLE COUNTER</p></a>
      <p class="projectp2 d-none d-sm-block">JQUERY<br>HTML<br>CSS</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 div2">
      <p class="projectp1 mt-3">MORE TO COME...</p>
      <p class="projectp2 d-none d-sm-block">IN PROGRESS...</p>
      <p class="projectp2 d-none d-sm-block">IN PROGRESS...</p>
    </div
    ><div class="col-lg-3 div1">
      
    </div>
    <div class="col-lg-3 div4">
      
    </div>
    <div class="col-lg-3 div3">
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 div1">
            <p class="projectp1-b mt-3">MORE TO COME...</p>
      <p class="projectp2-b d-none d-sm-block">IN PROGRESS...</p>
      <p class="projectp2-b d-none d-sm-block">IN PROGRESS...</p>

    </div
    ><div class="col-lg-3 div3">
      
    </div>
    <div class="col-lg-3 div1">
      
    </div>
    <div class="col-lg-3 div4">
      
    </div>
  </div>
</div>
</section>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 div3">
            <p class="projectp1-y mt-3">MORE TO COME...</p>
      <p class="projectp2-y d-none d-sm-block">IN PROGRESS...</p>
      <p class="projectp2-y d-none d-sm-block">IN PROGRESS...</p>

    </div
    ><div class="col-lg-3 div4">
      
    </div>
    <div class="col-lg-3 div2">
      
    </div>
    <div class="col-lg-3 div1">
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 div2">
            <p class="projectp1 mt-3">MORE TO COME...</p>
      <p class="projectp2 d-none d-sm-block">IN PROGRESS...</p>
      <p class="projectp2 d-none d-sm-block">IN PROGRESS...</p>

    </div
    ><div class="col-lg-3 div1">
      
    </div>
    <div class="col-lg-3 div4">
      
    </div>
    <div class="col-lg-3 div3">
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 div1">
            <p class="projectp1-b mt-3">MORE TO COME...</p>
      <p class="projectp2-b d-none d-sm-block">IN PROGRESS...</p>
      <p class="projectp2-b d-none d-sm-block">IN PROGRESS...</p>

    </div
    ><div class="col-lg-3 div3">
      
    </div>
    <div class="col-lg-3 div1">
      
    </div>
    <div class="col-lg-3 div4">
      
    </div>
  </div>
</div>
</section>
  <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Niek van Losenoord 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/3DWD2?edit=true">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/3DWD-1806732726049755">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/niek-van-losenoord-30090996/">
              <i class="fab fa-linkedin"></i>
              </a>
              </li>
               <li class="list-inline-item">
                <a href="https://www.instagram.com/3d_web_development/">
              <i class="fab fa-instagram"></i>
              </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline  text-dark">
              <li class="list-inline-item">
              <p></p>
              </li>
              <li class="list-inline-item">
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

<!--  <header id="" class="background text-center">-->
<!--    <video autoplay muted loop id="myVideo">-->
<!--  <source src="../vid/type.mp4" type="video/mp4"> -->
<!--</video>-->
<!--<div class="content">-->
<!--  <h1>Heading</h1>-->
<!--  <p>Lorem ipsum...</p>-->
<!--</div>-->
<!--    <div class="dark-overlay">-->
<!--      <div class="home-inner">-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="none d-lg-block">-->
<!--              <div class="col-lg-12 text-center m-auto  text-white mb-5">-->
<!--              <p class="header1 animated fadeIn"> Hello!</p>-->
<!--              <p class="header1 animated fadeIn" _3> Welcome to my portfolio page.</p>-->
<!--              <p class="header2 animated fadeIn d-sm-none d-md-block" _5> This is where i host my personal projects.</p>-->
<!--              <p class="header2 animated fadeIn d-sm-none d-md-block" _7> <strong>It's very nice to meet you.</strong></p>-->
<!--              <h1 class="display-1 header2 text-warning m-5 animated fadeIn"><strong> </strong> </h1>-->
<!--            </div>-->
<!--          <a  href="#skills" class=""><i class="fas fa-angle-double-down text-center animated pulse infinite"></i></a>-->
<!--          </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->

  
   
    <!--WOWJS-->
    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
</body>
</html>
