   <% include partials/header %>

  <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>

<% include partials/nav %>


 <section id="main" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5">
      <h2 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i> Als we mediteren zien we simpelweg wat de geest altijd al heeft gedaan. <i class="fas fa-quote-right"></i> <br>– Allan Lokos</h2>
      <hr class="animated fadeIn _7">
      <span class="animated fadeIn _9 d-none d-sm-block">
      Meditatie is voor iedereen.<br>
      Ben je een beginner? <br>
      <strong>Klik dan op de knop "Begin".</strong>
      </span>
      <hr class="animated fadeIn _10 d-none d-sm-block">
      <a href="/begin"><button class="btn btn-outline-custom animated fadeIn _10 d-none d-sm-block" >Begin</button></a>
    </div>
  </div>
</section>

<section id="blog" class="container p-0">
  <div class="col-lg-12 p-0">

    <div class="row" id="quote">
    <div class="col-lg-12 m-auto bg-light p-5">
      <h1 class="h2">Wat is meditatie?</h1>
      <hr>
      <p>
        Meditatie is een beoefening waar een persoon een techniek gebruikt, zoals het volgen van je ademhaling, om geestelijk in een heldere en kalme toestand te komen.<br>
        Het helpt tegen onder andere tegen <strong>stress, angsten, depressie en burnoutklachten</strong>.<br> Klik <a class="text-dark" href="">hier</a> voor een volledige lijst met voordelen met onderbouwende <strong>wetenschappelijke onderzoeken</strong>.<br>
        We leven in een wereld die steeds sneller en drukker wordt, gaan we meditatie steeds meer nodig hebben om de rust in onszelf terug te vinden.<br>
        Op deze website probeer ik de vraag "wat is meditatie?" zo compleet mogelijk te beantwoorden door zoveel mogelijk <strong>correcte en goed onderbouwde</strong> informatie te verzamelen. <br> Hoewel er hele mooie subjectieve verhalen te vertellen zijn over meditatie, is de informatie op deze site over het algemeen objectief.<br> Waarom? Omdat het voor iedereen verschillend is, de subjectieve kant van meditatie kun je het beste zelf ervaren.<br>
        Klaar om te beginnen? Klik dan op de knop!<br>
        <hr>
      <a href="/begin"><button class="btn btn-outline-dark" >Begin</button></a>
        
        
        </p>
    </div>
    </div>
    <!--<div class="row bg-dark">-->
    <!--  <div class="col-lg-7" id="blog-overlay1">-->
        
    <!--  </div>-->
    <!--  <div class="col-lg-5 bg-dark">-->
    <!--    <h1>-->
    <!--    Recente artikelen-->
    <!--  </h1>-->
    <!--  </div>-->
    <!--</div>-->

    </div>
</section>


<div class="container-fluid h-100" id="geleid">
  <div class="container p-5 mt-2 text-right">
  <h2>Een rustiger leven</h2>
  <hr>
  <p>
    Als je gedachten als een muur om je heen zijn, dan is meditatie de hamer waarmee je een gat in de muur kan slaan en daardoor naar buiten kan kijken. Elke keer als we mediteren kunnen we een gat in de muur slaan.<br>
    Als we de muur helemaal willen neerhalen, dan is 1 keer mediteren natuurlijk niet genoeg, zeker niet als de muur al jaren staat.
    Het is daarom heel erg belangrijk om niet alleen periodiek te mediteren, maar ook je beoefening mee te nemen in je dagelijks leven.
    Hoe meer energie jij in iets steekt, hoe groter het wordt. Met meditatie is dit niet anders.
  </p>
</div>
</div>
<% include partials/carousel %>
<% include partials/footer %>    

