<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="../img/halloween-bats (2).png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Boo At The Zoo | Oude Dierenpark Emmen</title>
  <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Creepster|Raleway" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">

</head>
<body>
  <section id="home-section" class="background text-center">
  <!--<div class="container-fluid">-->
    <div class="dark-overlay container-fluid">
      <div class="home-inner">
        <div class="container">
          <div class="facebook d-none d-lg-block">
            <div class="facebooklink">
          <a class="fblink" href="https://www.facebook.com/pg/BooAtTheZoo/">
              Check ons op: 
         <i class="fab fa-facebook-square"></i>
         </div>
         </div>
         <div class="facebookmsgr d-none d-lg-block">
            <div class="facebooklink d-none d-sm-block">
          <a class="fblink" href="https://www.facebook.com/pg/BooAtTheZoo/">
              Stuur ons een bericht 
        <i class="fab fa-facebook-messenger"></i>
         </div>
         </div>
         <div class="tickets d-none d-lg-block">
            <div class="facebooklink d-none d-sm-block">
          <a class="fblink" href="https://www.eventree.nl/event/boo-at-the-zoo-2018-batz">
              Voor tickets: 
          <i class="fas fa-ticket-alt"></i>
         </div>
         </div>
         
         </a>
          <div class="row">
            <!--<div class="none d-lg-block">-->
            <!--  <h1 class="display-1"><strong> </strong> <strong></strong></h1>-->
            <!--</div>-->
            <div class="col-lg-12 text-center text-white">
              <img src="../img/halloween-bats (1).png" alt="" class="logo pt-5">
              <p class="logo-subheading">Boo <br> at the <br> Zoo</p>
              <a href="https://www.eventree.nl/event/boo-at-the-zoo-2018-batz" class="btn btn-lg btn-outline-warning my-4">Tickets kopen</a>
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
    <!--</div>-->
  </section>
  
  <section id="over">
    <div class="container-fluid p-0">
    <div class="container">
    <img src="../img/halloween-bats (2).png" class="bats1">
    <p class="par pt-5 ">Hét halloween feest in de oude dierentuin van Emmen waar je door de gehele dierentuin de stuipen op het lijf wordt gejaagd door ongure figuren!</p>
    <div class="row pt-5">
      <div class="col-lg-4">
        <img src="../img/g1.jpg" class="img-fluid shift"  alt="foto"> 
      </div>
       <div class="col-lg-4">
        <img src="../img/g2.jpg" class="img-fluid shift1"  alt="foto"> 
      </div>
       <div class="col-lg-4">
        <img src="../img/g3.jpg" class="img-fluid shift2"  alt="foto"> 
      </div>
    </div>
    </div>
    </div>
  </section>
  
   <section id="recensies">
    <div class="container">
      <h1 class="header text-center">
        Recensies
      </h1>
      <div class="col-lg-12">
        <p class="par-recensies">
          <i class="fas fa-quote-left"></i> 
          Onwijs goed georganiseerd, complimenten voor de acteurs die voor hun rol gemaakt waren en die perfect op situaties inspeelden! De makeup was heel mooi en de opzet van oa het rattenriool was heel goed over na gedacht. Een tip voor de volgende keer: een epilepsie waarschuwing bij de felle knipperlichten is misschien wel op zijn plek. Volgend jaar zijn wij er weer bij!
        </p>
        <p class="recensies-naam">
          -Lisette
        </p>
        <div class="d-inline">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 pt-5">
           <p class="par-recensies">
          <i class="fas fa-quote-left"></i> 
          Geweldige tocht... goede acteurs.. prachtig geschminkt.... nu nog uitbreiden.. de lokatie leent zich ervoor.. wij hebben genoten
        </p>
        <p class="recensies-naam">
          -Louise
        </p>
        <div class="d-inline">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        </div>
        <div class="col-lg-6">
          <p class="par-recensies">
          <i class="fas fa-quote-left"></i> 
        Het was ontzettend leuk opgezet!        </p>
        <p class="recensies-naam">
          -Anja
        </p>
        <div class="d-inline">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 pt-5">
          <p class="par-recensies">
          <i class="fas fa-quote-left"></i> 
            Wat gaaf gedaan! Mooie schmink en aankleding, goede prijs en knap dat de acteurs zo in hun rol bleven. Tot volgend jaar!        </p>
        <p class="recensies-naam">
          -Corine
        </p>
        <div class="d-inline">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        </div>
        <div class="col-lg-6">
          <p class="par-recensies">
          <i class="fas fa-quote-left"></i> 
          Superleuk! De organisatie was goed, goede locatie, de acteurs zagen er prachtig uit en bleven goed in hun rol en voor de 1e keer hier in Emmen voor een goede prijs! Top hoor!! Zeker een goede basis om verder uit te gaan bouwen de komende jaren        </p>
        <p class="recensies-naam">
          -Paulien
        </p>
        <div class="d-inline">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="tickets">
    <h1 class="header-tickets text-center">
        Informatie
      </h1>
      <div class="container text-center px-5">
        <img src="../img/halloween-bats (1).png" class="bats">
      <div class="row datum pb-5">
        <div class="col-lg-4">
          <p id="dag" class="m-0">
            Zondag
          </p>
          <p id="datum">
            <span id="nr">28</span> Oktober 2018
          </p>
        </div>
        <div class="col-lg-4">
          <p id="dag" class="m-0">
            Maandag
          </p>
          <p id="datum">
            <span id="nr">29</span> Oktober 2018
          </p>
        </div>
        <div class="col-lg-4">
          <p id="dag" class="m-0">
            Dinsdag
          </p>
          <p id="datum">
            <span id="nr">30</span> Oktober 2018
          </p>
        </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div id="map" class="m-auto mt-5" style="width:100%;height:500px"></div>

<script>
function myMap() {
  var myCenter = new google.maps.LatLng(52.78451455,6.89582385);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 15};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);

  var infowindow = new google.maps.InfoWindow({
    content: "Boo at the Zoo 2018"
  });
  infowindow.open(map,marker);
}
</script>
          </div>
          <div class="col-lg-6 ">
             <p class="par py-5 ">
        Tickets zijn verkrijgbaar via <a href="https://www.eventree.nl/event/boo-at-the-zoo-2018-batz">Eventree</a><br>
        Wees er snel bij want vorig jaar waren de tickets uitverkocht!
      </p>
      <a href="https://www.eventree.nl/event/boo-at-the-zoo-2018-batz" class="btn-lg btn-warning">Tickets kopen</a>
      <p class="par py-5 mt-3 text-left adres">
        Hoofdstraat 18<br> 7811 EP <br>Emmen<br>
        Tijd:<br>
        18:30
      </p>
          </div>
        </div>
       

        </div>
      <p class="par py-5">
        
      </p>
  </section>
  <section id="b4footer">
    
  </section>
      <footer>
      <div class="container-fluid pb-0 pt-3">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; <span id="batz">Boo at the Zoo</span></span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="mailto:info@talentblik.nl">
                  <i class="fas fa-at"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/BooAtTheZoo/">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="tel:06480804487">
              <i class="fas fa-mobile"></i>
              </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline">
              <li class="list-inline-item">
              <p> <i class="fas fa-laptop-code"></i> <span class="sig1"> Gemaakt door : </span><span class="sig"><a href="http://www.3dwebdevelopment.com" class="sig">3D Web Development</a></p>
              </li>
              <li class="list-inline-item">
                <a href="#"></a>
              </li>
            </ul>
            <img src="img/icon-merel-half.png" width="100px" alt="">
          </div>
        </div>
      </div>
    </footer>
  
  <!-- Load Facebook SDK for JavaScript -->
  

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoLGMo0sQvfr6BgQZTclIEx8s3Ovw0SzI&callback=myMap"></script>  
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  </div>
</body>
</html>
