<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" alt="foto" href="../img/lotus1.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Meditatie is voor iedereen. Meditatie helpt je ontspannen in tijden van stress. Mediteren kan ook helpen bij een burnout. Begin vandaag te meditateren met onze tips! | Meditatie.co">
  <link rel="canonical" href="https://www.meditatie.com" />
  <title> Meditatie.co | Meditatie is voor iedereen. </title>
  <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Raleway" rel="stylesheet">
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-dark container-fluid">
     <!--<img src="img/lotus1.png" class="logo">-->
  <a class="navbar-brand " href="#"><img src="img/logo.png" class="img-fluid" width="60px" alt="logo meditatie .co">Meditatie .<span>co</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto ">
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Blog</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Soorten Meditatie</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Leraren</a>
      </li>
            <li class="nav-item px-1">
        <a class="nav-link " href="#">Geleide meditatie.</a>
      </li>
      <!--      <li class="nav-item">-->
      <!--  <a class="nav-link " href="#">Disabled</a>-->
      <!--</li>-->
    </ul>
    <!--<form class="form-inline my-2 my-lg-0 ml-auto">-->
    <!--  <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">-->
    <!--  <button class="btn btn-outline-custom my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav> 


 <section id="main" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <h2 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i> Als we mediteren zien we simpelweg wat de geest altijd al heeft gedaan. <i class="fas fa-quote-right"></i> <br>– Allan Lokos</h2>
      <hr class="animated fadeIn _7">
      <span class="animated fadeIn _9 d-none d-sm-block">
      Meditatie is voor iedereen.<br>
      Ben je een beginner? <br>
      <strong>Klik dan op de knop "Begin".</strong>
      </span>
      <hr class="animated fadeIn _10 d-none d-sm-block">
      <button class="btn btn-outline-custom animated fadeIn _10 d-none d-sm-block">Begin</button>
    </div>
  </div>
</section>

<section id="blog" class="container p-0">
  <div class="col-lg-12 p-0">

    <div class="row" id="quote">
    <div class="col-lg-12 m-auto bg-light p-5 m-5">
      <h1 class="h2">Wat is meditatie?</h1>
      <hr>
      <p>
        Meditatie is een beoefening waar een persoon een techniek gebruikt, zoals het volgen van je ademhaling, om geestelijk in een heldere en kalme toestand te komen.<br>
        Het helpt tegen onder andere tegen <strong>stress, angsten, depressie en burnoutklachten</strong>.<br> Klik <a class="text-dark" href="">hier</a> voor een volledige lijst met voordelen met onderbouwende <strong>wetenschappelijke onderzoeken</strong>.<br>
        We leven in een wereld die steeds sneller en drukker wordt, gaan we meditatie steeds meer nodig hebben om de rust in onszelf terug te vinden.<br>
        Op deze website probeer ik de vraag "wat is meditatie?" zo compleet mogelijk te beantwoorden door zoveel mogelijk <strong>correcte en goed onderbouwde</strong> informatie te verzamelen. <br> Hoewel er hele mooie subjectieve verhalen te vertellen zijn over meditatie, is de informatie op deze site over het algemeen objectief.<br> Waarom? Omdat het voor iedereen verschillend is, de subjectieve kant van meditatie kun je het beste zelf ervaren.<br>
        Klaar om te beginnen? Klik dan op de knop!<br>
        <hr>
        <button class="btn btn-outline-dark">Begin!</button>
        
        
        </p>
    </div>
    <div class="col"></div>      
    </div>
    <!--<div class="row bg-dark">-->
    <!--  <div class="col-lg-7" id="blog-overlay1">-->
        
    <!--  </div>-->
    <!--  <div class="col-lg-5 bg-dark">-->
    <!--    <h1>-->
    <!--    Recente artikelen-->
    <!--  </h1>-->
    <!--  </div>-->
    <!--</div>-->

    </div>
</section>

<div class="container-fluid h-100" id="geleid">
  <div class="container p-5 mt-2 text-right">
  <h2>Een rustiger leven</h2>
  <hr>
  <p>
    Als je gedachten als een muur om je heen zijn, dan is meditatie de hamer waarmee je een gat in de muur kan slaan en daardoor naar buiten kan kijken. Elke keer als we mediteren kunnen we een gat in de muur slaan.<br>
    Als we de muur helemaal willen neerhalen, dan is 1 keer mediteren natuurlijk niet genoeg, zeker niet als de muur al jaren staat.
    Het is daarom heel erg belangrijk om niet alleen periodiek te mediteren, maar ook je beoefening mee te nemen in je dagelijks leven.
    Hoe meer energie jij in iets steekt, hoe groter het wordt. Met meditatie is dit niet anders.
  </p>
</div>
</div>
  <div class="container pt-5 d-block">
    <div class="row">
    <div class="col-lg-4">
 <h2 class="h2">Recente artikelen <i class="fas animated pulse infinite fa-angle-double-right"></i></h1>    
    </div> 
    <div class="col-lg-8">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
  </div>
</div>


<div id="wrapper" class="container-fluid p-0" >
  
  <!--<span id="controlL" class="left-controls" role="button" aria-label="See Previous Modules">-->
  <!--  <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>-->
  <!--</span>-->
  
  <!--<div class="title text-center h1">Module Selection Area</div>-->
 
  <div class="module-section clearfix">
   <ul id="content">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/stress-verminderen-meditatie">
        <img class="img-fluid" src="img/r1.jpeg" alt="stress verminderen meditatie foto">
        <div class="caption-blog">
          <h2>
            Stress verminderen<br>
            Met behulp van meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/burnout-helpen-meditatie">
        <img class="img-fluid" src="img/r2.jpeg" alt="burnout meditatie foto">
              <div class="caption-blog">
          <h2>
            Burnout.<br>
            Hoe kan meditatie helpen?
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindfulness">
        <img class="img-fluid" src="img/r3.jpeg" alt="mindfulness meditatie foto">
       
              <div class="caption-blog">
          <h2>
            Kom terug in je lichaam met Mindfulness.
          </h2>
        </div>
          </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/vipassana">
        <img class="img-fluid" src="img/r4.jpeg" alt="vipassana meditatie foto">
              <div class="caption-blog">
          <h2>
            Vipassana meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/hatha-yoga">
        <img class="img-fluid" src="img/r5.jpeg" alt="Hatha Yoga foto">
              <div class="caption-blog">
          <h2>
            Hatha Yoga.<br>
            Wat is het?
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/over-chakras">
        <img class="img-fluid" src="img/r6.jpeg" alt="chakras">
              <div class="caption-blog">
          <h2>
            Over chakra's
          </h2>
        </div>
        </a>
      </div>
    </li>
         <li class="card">
      <div class="inside-top">
        <a href="/blog">
        <img class="img-fluid" src="img/r7.jpeg" alt="meer meditatie artikelen foto">
              <div class="caption-blog">
          <h2>
            Meer... <i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
  </div>
  <div class="container d-block">
    <div class="row">
    <div class="col-lg-2">
 <h2 class="h2">Leraren <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
    </div> 
    <div class="col-lg-10">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
    </div>
 </div>
</div><div id="wrapper" class="container-fluid p-0" >
  
  <!--<span id="controlL" class="left-controls" role="button" aria-label="See Previous Modules">-->
  <!--  <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>-->
  <!--</span>-->
  
  <!--<div class="title text-center h1">Module Selection Area</div>-->
 
  <div class="module-section clearfix">
   <ul id="content">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/alan-watts">
        <img class="img-fluid" src="img/l1.jpeg" alt="alan watts">
        <div class="caption-blog">
          <h2>
            Alan Watts
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/goenka">
        <img class="img-fluid" src="img/l2.jpg" alt="sn goenka">
              <div class="caption-blog">
          <h2>
           S.N. Goenka
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/thich-nhat-hanh">
        <img class="img-fluid" src="img/l3.jpg" alt="thich nhat hanh">
              <div class="caption-blog">
          <h2>
            Thich Nhat Hanh
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/sadhguru">
        <img class="img-fluid" src="img/l4.jpg" alt="sadhguru">
              <div class="caption-blog">
          <h2>
            Sadhguru
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/sri-mooji">
        <img class="img-fluid" src="img/mooji.png" alt="sri mooji">
              <div class="caption-blog">
          <h2>
            Sri Mooji
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/leraren">
        <img class="img-fluid" src="img/l5.jpeg" alt="meer meditatie leraren">
              <div class="caption-blog">
          <h2>
            Meer...<i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
    
   
    
  </div>
  
</div>  
</div>
  <div class="container d-block">
    <div class="row">
    <div class="col-lg-4">
 <h2 class="h2">Meditatie soorten <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
    </div> 
    <div class="col-lg-8">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
    </div>
 </div>
<div id="wrapper" class="container-fluid p-0" >
  
  <!--<span id="controlL" class="left-controls" role="button" aria-label="See Previous Modules">-->
  <!--  <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>-->
  <!--</span>-->
  
  <!--<div class="title text-center h1">Module Selection Area</div>-->
 
  <div class="module-section clearfix">
   <ul id="content">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/metta-loving-kindness">
        <img class="img-fluid" src="img/m1.jpeg" alt="metta meditate loving kindness">
        <div class="caption-blog">
          <h2>
            Metta Meditatie.<br>
            Loving Kindness Meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindfulness-meditatie">
        <img class="img-fluid" src="img/m2.jpeg" alt="mindfulness meditatie">
          <div class="caption-blog">
          <h2>
            Mindfulness<br> Meditatie<br>
          </h2>
        </div>
      </div>
      </a>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/vipassana-meditatie">
        <img class="img-fluid" src="img/m3.jpeg" alt="vipassana meditatie">
              <div class="caption-blog">
          <h2>
            Vipassana Meditatie<br>
            (Sayagyi U Ba Khin) 
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/zen-zazen">
        <img class="img-fluid" src="img/m4.jpeg" alt="zen zazen meditatie">
              <div class="caption-blog">
          <h2>
            Zen Meditation<br>
            (Zazen)
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-meditatie">
        <img class="img-fluid" src="img/m5.jpeg" alt="geleide meditatie">
              <div class="caption-blog">
          <h2>
            Geleide Meditatie.<br>
          </h2>
        </div>
      </div>
      </a>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mantra-meditatie">
        <img class="img-fluid" src="img/m6.jpeg" alt="mantra meditatie">
              <div class="caption-blog">
          <h2>
            Mantra Meditatie.
          </h2>
        </div>
      </div>
      </a>
    </li>
         <li class="card">
      <div class="inside-top">
        <a href="/soorten-meditatie">
        <img class="img-fluid" src="img/m7.jpeg" alt="meer meditatie soorten">
              <div class="caption-blog">
          <h2>
            Meer... <i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
      </div>
      </a>
    </li>
   </ul>
  </div>
</div>

  <div class="container d-block">
    <div class="row">
    <div class="col-lg-4">
 <h2 class="h2">Geleide meditaties <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
    </div> 
    <div class="col-lg-8">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
    </div>
 </div>
<div id="wrapper" class="container-fluid p-0" >
  <div class="module-section clearfix">
   <ul id="content">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/luisteren-naar-de-wereld">
        <img class="img-fluid" src="img/g1.jpeg" alt="alan watts luisteren naar de wereld">
        <div class="caption-blog">
          <h2>
            Luister naar de wereld<br>
            met Alan Watts.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindful-met-vipassana">
        <img class="img-fluid" src="img/g2.jpeg" alt="mindfull met vipassana sam harris">
              <div class="caption-blog">
          <h2>
            Sam Harris,<br>
            Wordt mindfull met Vipassana.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/vol-van-vreugde">
        <img class="img-fluid" src="img/g3.jpeg" alt="vol van vreugde geleide meditatie sri mooji">
              <div class="caption-blog">
          <h2>
            Vol van vreugde.<br>
            Sri Mooji
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-meditatie-lichaam-ruimte-bewustzijn">
        <img class="img-fluid" src="img/g4.jpeg" alt="geleide meditatie lichaam ruimte en bewustizijn mingyur rinpoche">
              <div class="caption-blog">
          <h2>
            Mingyur Rinpoche.<br>
            Lichaam, ruimte & bewustzijn.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/1-uurs-meditatie-goenka">
        <img class="img-fluid" src="img/g5.jpeg">
              <div class="caption-blog">
          <h2>
            Krachtige 1-uurs meditatie.<br>
            SN.Goenka
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-mindfulness-meditatie-kabat-zinn">
        <img class="img-fluid" src="img/g6.jpeg" alt="geleidem meditatie jon kabat zinn">
              <div class="caption-blog">
          <h2>
            Jon Kabat zinn,<br>
            Mindfulness Meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
  </div>
</div>

    
    <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h2 class="text-light mt-3 mb-4"><img src="img/logo.png" class="img-fluid" width="60px" alt="">meditatie.co</h2>
          <p class="text-light">
            meditatie.co is een project van <a href="https://www.3dwebdevelopment.com">3DWD</a>,
            Ontstaan uit een interesse voor het onderwerp, met het doel waardevolle informatie te verstrekken.
            </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-light text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Blog</a>
            </li>
            <li>
              <a href="#!">Soorten Meditatie</a>
            </li>
            <li>
              <a href="#!">Leraren</a>
            </li>
            <li>
              <a href="#!">Geleide Meditaties</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <!--<div class="col-md-2 mx-auto">-->

          <!-- Links -->
        <!--  <h5 class="font-weight-bold text-light text-uppercase mt-3 mb-4">Links</h5>-->

        <!--  <ul class="list-unstyled">-->
        <!--    <li>-->
        <!--      <a href="#!">Link 1</a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--      <a href="#!">Link 2</a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--      <a href="#!">Link 3</a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--      <a href="#!">Link 4</a>-->
        <!--    </li>-->
        <!--  </ul>-->

        <!--</div>-->
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-light text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/over">Over</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
            <li>
              <a href="/sitemap.xml">Sitemap</a>
            </li>
            <li>
              <a href="/privacy">Privacy Policy</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1"></h5><br class="d-none d-sm-block">
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-custom btn-rounded">Inschrijven voor de nieuwsbrief</a>
      </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fas fa-envelope"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-light text-center py-3">© 2018
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> meditatie.co</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
  </body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121313270-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121313270-5');
</script>

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
</body>
</html>
