<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio</title>

    <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Kaushan+Script|VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">



    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="../stylesheets/portfolio.css">
	<link rel="stylesheet" href="animate.min.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
	      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



	
</head>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
      <a class=" m-auto name js-scroll-trigger animated zoomInLeft" href="#home">_Niek van Losenoord_ </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
            <a href="#home" class="nav-link   ml-5 m-auto text-warning mt-5 text-center animated zoomInRight _1"> HELLO</a>
            </li>
            <li class="nav-item">
            <a href="#skills" class=" m-auto text-warning mt-5 nav-link text-center animated zoomInRight _2"> WHAT I USE</a>
            </li>
            <li class="nav-item">
            <a href="#work" class="text-warning m-auto mt-5 nav-link text-center animated zoomInRight _3"> MY PROJECTS</a>
            </li>
            <li class="nav-item">
            <a href="#" class="text-warning m-auto mt-5 nav-link text-center animated zoomInRight _4" data-toggle="modal" data-target="#contactModal" >GET IN TOUCH!</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
  <header id="" class="background text-center">
    <video autoplay muted loop id="myVideo">
  <source src="../vid/type.mp4" type="video/mp4"> 
</video>
<!--<div class="content">-->
<!--  <h1>Heading</h1>-->
<!--  <p>Lorem ipsum...</p>-->
<!--</div>-->
    <div class="dark-overlay">
      <div class="home-inner">
        <div class="container">
          <div class="row">
            <div class="none d-lg-block">
              <div class="col-lg-12 text-center m-auto  text-white mb-5">
              <p class="header1 animated fadeIn"> Hello!</p>
              <p class="header1 animated fadeIn" _3> Welcome to my portfolio page.</p>
              <p class="header2 animated fadeIn" _5> This is where i host my personal projects.</p>
              <p class="header2 animated fadeIn" _7> <strong>It's very nice to meet you.</strong></p>
              <h1 class="display-1 header2 text-warning m-5 animated fadeIn"><strong> </strong> </h1>
            </div>
          <a  href="#skills" class=""><i class="fas fa-angle-double-down text-center animated pulse infinite"></i></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
 <section id="skills bg-light">
    <div class="container bg-light">
      <div class="row bg-light">
        <div class="col text-center">
          <div>
            <h1 class="head mt-5">WHAT I USE.</h1>
            <h1 class="display-3 text-uppercase pt-2 text-dark wow fadeIn header">Hover over the images to learn more.</h1>
          </div>
        </div>
      </div>
      <div class="row  pb-5 text-center wow fadeInLeftBig mr-3">
        <div id="f1_container" class="text-center col-lg-3">
  <div id="f1_card" class="">
    <div class="front face">
    <i class=" icon fab fa-html5 text-center"></i>
  </div>
    <div class="back face center">
      <h1>HTML5</h1>
      <p class="desc">Level - Intermediate</p>
      <p class="desc">Status - Using</p>
      <p class="desc">HTML helps me structure webpages</p>
    </div>
  </div>
</div>
        <div id="f1_container" class="text-center col-lg-3">
  <div id="f1_card" class="">
    <div class="front face">
    <i class=" icon fab fa-css3-alt text-center"></i>
  </div>
    <div class="back face center">
      <h1>CSS3</h1>
      <p class="desc">Level - Intermediate</p>
      <p class="desc">Status - Using</p>
      <p class="desc">CSS helps me fully customize my websites</p>
    </div>
  </div>
</div>
        <div id="f1_container" class="text-center col-lg-3">
  <div id="f1_card" class="">
    <div class="front face text-center">
    <i class=" icon fab fab fa-js text-center"></i>
  </div>
    <div class="back face center">
      <h1>JavaScript</h1>
      <p class="desc">Level - Beginner</p>
      <p class="desc">Status - Learning</p>
      <p class="desc"> I really want to use JavaScript to give further customization to my content.</p>
    </div>
  </div>
</div>
<div id="f1_container" class="text-center col-lg-3">
  <div id="f1_card" class="">
    <div class="front face text-center">
    <i class=" icon fab fa-node text-center"></i>
  </div>
    <div class="back face center">
      <h1>node.js</h1>
      <p class="desc">Level - Beginner</p>
      <p class="desc">Status - Using</p>
      <p class="desc">Node.js helps use simple JS and i can make use of the package manager</p>
    </div>
  </div>
</div>
</div>
      <div class="row  pb-5 text-center pl-2 wow fadeInRightBig">
        <div id="f1_container" class="text-center col-lg-3">
  <div id="f1_card" class="">
    <div class="front face">
    <i class=" icon fab fa-git-square text-center"></i>
  </div>
    <div class="back face center">
      <h1>Git</h1>
      <p class="desc">Level - Intermediate</p>
      <p class="desc">Status - Using</p>
      <p class="desc">Git helps me keep track of changes and helps me deploy content.</p>
    </div>
  </div>
</div>
        <div id="f1_container" class="text-center col-lg-3">
  <div id="f1_card" class="">
    <div class="front face">
    <i class=" icon icon fab fa-npm text-center"></i>
  </div>
    <div class="back face center">
      <h1>npm</h1>
      <p class="desc">Level - Intermediate</p>
      <p class="desc">Status - Using</p>
      <p class="desc">The node package manager helps implement tons of cool content.</p>
    </div>
  </div>
</div>
<div id="f1_container" class="text-center col-lg-3">
  <div id="f1_card" class="">
    <div class="front face text-center">
    <strong class="bootstrap">B</strong>
  </div>
    <div class="back face center mn-4">
      <h1>Bootstrap 4.0</h1>
      <p class="desc">Level - Intermediate</p>
      <p class="desc">Status - Using</p>
      <p class="desc">the Bootstrap 4.0 framework helps me speed up website design</p>
    </div>
  </div>
</div>
</div>
        
 </section>
  <h1 class="head1 text-center">MY PROJECTS</h1>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 box wow bounceInLeft">
          <p class="ml-3"> <a href="https://thawing-dusk-10243.herokuapp.com/" class="box-content1"> RGB Color Game</a></p>
          <!--<p class="mb-5 pb-5">Test or practice your RGB skills!</p>-->
        </div>
        <div class="col-lg-3 box2 wow bounceInDown">
          <p class="box-content2"> Project goes here...</p>
        </div>
        <div class="col-lg-3 box3 wow bounceInUp">
                    <p class="box-content3"> Project goes here...</p>
        </div>
        <div class="col-lg-3 box4 wow bounceInLeft">
                    <p class="box-content4"> Project goes here...</p>
        </div>
      </div>
      <!--zelfde kleuren text als blokken-->
      <div class="row">
        <div class="col-lg-3 box3 wow bounceInUp">
        <p class="box-content3"> Project goes here...</p>
        </div>
        <div class="col-lg-3 box4 wow bounceInDown">
          <p class="box-content4"> Project goes here...</p>
        </div>
        <div class="col-lg-3 box wow bounceInLeft">
         <p class="box-content1"> Project goes here...</p> 
        </div>
        <div class="col-lg-3 box2 wow bounceIn">
          <p class="box-content2"> Project goes here...</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 box wow bounceInDown">
          <p class="box-content1"> Project goes here...</p>
        </div>
        <div class="col-lg-3 box2 wow bounceInLeft">
          <p class="box-content2"> Project goes here...</p>
        </div>
        <div class="col-lg-3 box3 wow bounceInRight">
          <p class="box-content3"> Project goes here...</p>
        </div>
        <div class="col-lg-3 box4 wow bounceInUp">
          <p class="box-content4"> Project goes here...</p>
        </div>
      </div>
    </div>
  </section>
  
   
  
  <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Niek van Losenoord 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/3DWD2?edit=true">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/3DWD-1806732726049755">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/niek-van-losenoord-30090996/">
              <i class="fab fa-linkedin"></i>
              </a>
              </li>
               <li class="list-inline-item">
                <a href="https://www.instagram.com/3d_web_development/">
              <i class="fab fa-instagram"></i>
              </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline  text-dark">
              <li class="list-inline-item">
              <p></p>
              </li>
              <li class="list-inline-item">
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  

     <!--Delay animation load fix-->
    <script>document.body.classList.add('js-loading');

window.addEventListener("load", showPage);

function showPage() {
  document.body.classList.remove('js-loading');
}</script>  
    
    
    <!--WOWJS-->
    <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
</body>
</html>
