<% include partials/header %>
 <title> Meditatie . co | Blog over mediteren voor iedereen | Inloggen </title>
<% include partials/nav %>
<div class="container-fluid" id="login" style="height:100vh">
<div class="col-md-6 mx-auto bg-light" style="padding-top:40vh">

<h1 class="">Inloggen</h1>
<form action="/login" method="POST" >
    <input type="text" name="username" placeholder="Gebruikersnaam" class="f1 form-control my-3">
    <input type="password" name="password" placeholder="Wachtwoord" class="f1 form-control my-3">
    <button class="btn btn-outline-dark">Inloggen</button>
</form>
</div>
</div>


<% include partials/footer %>    

