   <% include partials/header %>
     <title> Meditatie.co | Metta Meditatie | Metta Meditatie Oefening.</title>
     <link rel="stylesheet" href="stylesheets/metta.css">
  </head>
  <body>
 <% include partials/nav %>
 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Metta Meditatie</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i>Mag ik gelukkig zijn. Mag ik gezond zijn. Mag ik veilig zijn. Mag ik vrede en kalmte ervaren.
<i class="fas fa-quote-right"></i><br></h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>
<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
        <div class="row">
  <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/">Blog</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">Metta Meditatie</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
<% include partials/blog %>
  <div class="col-lg-9 my-5 p-5" id="text">
<h2> Wat is metta </h2>

Metta betekent onder andere, vriendelijkheid, welwillendheid, goede wil en actieve interesse in andere mensen. Het beoefenen van ‘metta’ is een populaire vorm van meditatie in het Boeddhisme.
<br><br>
Er zijn 2 soorten metta meditaties.<br>
Een waar je oefent met compassie en een waar je oefent met ‘loving kindness’.<br>
Compassie focust voornamelijk op het weghalen van het lijden of lijden verlichten voor iemand. Daarentegen ‘loving kindness’ focust op het toewensen van geluk en blijdschap.
<br><br>
De beoefening van Metta meditatie wordt moeilijker het lastiger wordt geluk en blijdschap toe te wensen aan bepaalde personen. Zo kunnen er mensen zijn die jou pijn hebben aangebracht. Het beste toewensen aan deze mensen kan een behoorlijke uitdaging zijn.
De meditatie begint bij jezelf. Zodra je jezelf liefde en geluk kunt toewensen mag je iemand anders kiezen om liefde en geluk toe te wensen. Tot je uiteindelijk iedereen liefde en geluk toewenst.
<br><br>
Metta meditatie is een manier om jezelf, of anderen een goede, gezondheid, geluk en veiligheid te wensen. Vaak begint de meditatie bij jezelf, omdat je eerst jezelf liefde moet kunnen geven voordat je dit bij anderen doet. De liefde die je geeft bij metta meditatie, is niet gelimiteerd door religie, of sociale status.
<br><br>
In veel oude boeddhistische teksten komt metta voor, het volgende werd er geschreven over metta in het ‘Pali cannon’:

	<span>-</span> Mogen alle wezens gelukkig en veilig zijn, mogen ze geluk ontvangen ongeacht wat voor wezens er zijn. Laat op niemand kwade wil vallen waar dan ook. Wens elkaar in boosheid nooit lijden toe. Zoals een moeder haar enige kind zou beschermen met haar leven.
<br><br>
Het ‘Pali cannon’ zegt het volgende over de effecten metta meditatie:

	<span>-</span> Een slaapt gemakkelijker, ontwaakt gemakkelijker, droomt geen kwade dromen. Een is goed voor mensen, goed voor niet mensen.
<br><br>
<h2> Wetenschappelijk onderzoek metta meditatie </h2>
Er is veel onderzoek gedaan naar de effecten van metta meditatie. Het is bewezen dat het mensen meer positieve emoties geeft. Volgens een ander onderzoek, zet het mensen op een spoor van groei en dat het helpt tegen depressie. Het kan ervoor zorgen dat we ons minder geïsoleerd voelen van elkaar en de wereld en meer liefde ervaren in ons dagelijks leven.
<br><br>
<h2> Metta meditatie beoefenen </h2>
Als je klaar bent om met metta meditatie te beginnen, kun je op een comfortabele en relaxte manier gaan zitten. Haal 3 of 4 keer diep adem op een langzame, bewuste en kalme wijze.
Laat je zorgen gaan. Beeld je voor een paar minuten in dat je naar je hart toe ademt.
<br><br>
Vaak beginnen we bij onszelf. Zit kalm & stil en herhaal langzaam de volgende zin in je hoofd:
<br>
Mag ik gelukkig zijn. Mag ik gezond zijn. Mag ik veilig zijn. Mag ik vrede en kalmte ervaren.
<br>
Het is natuurlijk helemaal oké om hier je eigen versie van te maken, zolang de woorden dezelfde intentie en betekenis blijven houden.<br>
Geef jezelf de tijd en ruimte om de intentie van deze woorden volledig te voelen.<br>
Metta meditatie leert ons om onszelf of andere goede dingen toe te wensen.<br>
Zodra er gevoelens van geluk, liefde, warmte of vriendelijkheid in je opkomen. Hou deze dan vast en laat ze groeien zolang je de woorden voor jezelf herhaalt. Het is ook mogelijk om de persoon (of jezelf) voor je te zien gedurende de beoefening.
<br><br>

Bronnen <a href=”https://insights.ovid.com/crossref?an=00006842-200201000-00010””> Hier </a> en  <a href=”https://www.mettainstitute.org/mettameditation.html”></a>.


 <% include partials/social %>
  </div>
  </div>
  </div>
  <div class="col-lg-10">
  </div>
</section> 
<% include partials/carousel %>
<% include partials/footer %>
