   <% include partials/header %>
            <title> Meditatie.co | Meditatie is voor iedereen! </title>
     <link rel="stylesheet" href="stylesheets/mindfulness.css">
  </head>
  <body>
 <% include partials/nav %>
 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Kom terug in je lichaam met mindfulness.</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i>The more I read, the more I meditate; and the more I acquire, the more I am enabled to affirm that I know nothing.<i class="fas fa-quote-right"></i><br>  – Voltaire</h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>
<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
        <div class="row">
  <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/blog">Blog</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">15 Wetenschappelijk bewezen voordelen van meditatie.</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
<% include partials/blog %>
  <div class="col-lg-9 my-5 p-5" id="text">
<h1>Mindfulness</h1><br>

Mindfulness is het process van je gehele bewustzijn focussen op alle ervaringen die er in het huidige moment aanwezig zijn. De term ‘mindfulness’ komt van het woord ‘sati’.<br> ‘Sati’ is een veelvoorkomend begrip in het Boeddhisme, het betekent bewustzijn en vormt de kern voor veel boeddhistische technieken zoals Vipassana en Zen.
<br><br>
Boeddhisten hebben de beoefening van mindfulness veel gebruikt om het opkomen van verstorende gedachten of emoties te voorkomen. Dit maakt de weg vrij voor de bevrijding van het lijden.
<br><br>
Opmerkelijke figuren in het overbrengen van het mindfulness zijn;
<br>
-Jon Kabat Zinn<br>
-Herbert Benson<br>
-Thich Nhat Hanh<br>
-Richard J. Davidson<br>
<br>
Mindfulness is een staat van bewustzijn die je altijd op kunt wekken, tijdens wat je ook aan het doen bent. Het kan een hele mooie oefening zijn om door je dag heen je zoveel mogelijk bewust te worden van wat er op dit moment plaatsvindt. Je haalt dan je hele focus naar het huidige moment, wat tegelijkertijd je focus weghaalt uit de toekomst of het verleden.
Zorgen maken en piekeren kost ons bakken met energie, en het is energie die we gewoon weggooien, want we krijgen er zelden iets moois voor terug. Integendeel bouw je juist alleen maar meer een wereld om je heen op die ook vol zorgen zit. Het is een vicieuze cirkel die je compleet blind kunt maken voor wat er letterlijk toe doet en hoe de wereld om je heen letterlijk is. In de wereld van onze gedachten zit geen begin en ook geen eind, het is prachtig dat wij de gave hebben om ons brein te gebruiken voor het oplossen van bepaalde problemen, maar op heel veel momenten hebben hoeft dat ook <strong>niet</strong>.
<br>
Dit betekent niet dat je tijdens het autorijden niet meer hoeft na te denken, maar je hoeft ook niet tijdens het autorijden je zorgen te gaan maken over iets wat je morgen moet doen, of iets wat vorige week is gebeurd. Je hoeft simpelweg alleen maar auto te rijden. Niet meer en niet minder.
<br>
 Zelf heb ik gemerkt dat ‘mindful’ blijven in de loop van je dag mijn vermoeidheid aanzienlijk vermindert, en ik ook een sterkere focus heb met een minder druk en helderder hoofd. <br>
Als je dit ook wilt proberen kun je op zoveel mogelijk momenten je focus even helemaal naar het nu halen, dan kun je even alleen maar doen wat je op dat moment aan het doen bent. Zit je achter de computer, dan zit je achter de computer, ben je aan het lopen dan loop je.
Het helpt om op deze momenten een vloeiende en diepe ademhaling aan te houden.
Mindfulness komt zeer in de buurt van een meditatie beoefening, het is de versie van helder gewaarzijn die we uit meditatie kennen, maar dan wanneer je maar wilt.<br>
<br>
Als je regelmatig mindful bent, ga je ook merken dat je meditatie beoefening verandert. <br>
In de basis zit er ook geen verschil tussen mindful zijn en mediteren. Het is een lijn vanaf je meditatie beoefening tot nog ver na het moment dat je hiermee ophoudt. In de realiteit hou je nooit op met mediteren en begin je dus ook nooit. Het is allemaal onderdeel van hetzelfde, maar dan in verschillende vormen.<br>
<br>
<H3>MSBR</H3>
Een van de meest bekende programma’s die opgebouwd zijn met de mindfulness techniek is het MSBR (<strong>M</strong>indfulness <strong>B</strong>ased <strong>S</strong>tress <strong>R</strong>eduction) of Op mindfulness gebaseerde stress reductie. Het werd ontworpen door Jon Kabat Zinn in Massachusetts.<br>
Hoewel Jonn veel interesse en werk heeft gedaan met Spirituele onderwerpen, Is MSBR een nuchtere en duidelijke introductie voor Mindfulness, meditatie en ook Yoga.<br>
Het doel van MSBR is om meer mindful te worden door het gebruiken van deze technieken.<br>
<br>
Het hele programma duurt 8 weken lang, en is gewoon thuis te volgen.<br>
Op <a href=”https://palousemindfulness.com/”>de website</a> kun je al het lesmateriaal downloaden en deze cursus helemaal gratis doen. <br>
<br>
De cursus vraagt enige zelfdiscipline, omdat je jezelf aan het werk moet zetten, maar zelf heb ik hele goede resultaten behaald met deze cursus.<br>
<br>
<H3> Mindfulness in de wetenschap </H3>

Op mindfulness gebaseerde aanpakken zijn uitvoerig onderzocht voor een scala aan gezondheidsproblemen zoals angststoornissen, stemmingsstoornissen, verslavingen, eetstoornissen, chronische pijn, ADHD, en slapeloosheid.<br>
De interesse in mindfulness blijft groeien, met slechts 52 onderzoeken in 2003, en 477 in 2012.<br>
<br>
Een van de onderzoeken toonde aan dat de concentratie grijze massa in delen van het brein die verantwoordelijk zijn voor emotie, leren en geheugen dichter worden na een MBSR cursus.<br>
Ook is het aangetoond dat MSBR een positief effect heeft op het immuunsysteem.<br>
En dat de beoefening van Mindfulness helpt bij het aanpassen van een nieuwe omgeving of situatie.<br>
<br>
Mindfulness is dus een zeer waardevolle vaardigheid om aan te leren voor het reduceren van stress, en het terugkomen in je lichaam als je veel in je hoofd zit. Het is iets waar je altijd toegang op zult hebben en overal en altijd kunt oefenen.<br>
Bronnen<br> <a href=”https://en.wikipedia.org/wiki/Mindfulness#Therapy_programs”>Wikipedia</a><br>
<a href=”https://palousemindfulness.com/”>Palouse</a><br>
 
 <% include partials/social %>
  </div>
  </div>
  </div>
  <div class="col-lg-10">
  </div>
</section> 
<% include partials/carousel %>
<% include partials/footer %>
