<% include partials/header %>
  Blog over mediteren voor iedereen | Meditatie is voor iedereen! </title>
<% include partials/nav %>
<<div class="container-fluid p-0 text-dark" id="login">
    <h1 class="p-5 mt-5 text-center">Nieuwe post toevoegen aan Spotlight</h1>
    <hr>
 <form action="/" method="POST">
 <div class="container-fluid m-0 row p-5" id="form newblog">
     <div class="col-lg-6">
    <div class="form-group">
    <label for="exampleFormControlInput1">Titel voor pagina</label>
    <input type="text" class="form-control f1" name="titleTech" id="exampleFormControlInput1" placeholder="">
  </div>
      <div class="form-group">
    <label for="exampleFormControlInput1">Titel voor Google</label>
    <input type="text" class="form-control f1" name="seoTech" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Beschrijving</label>
    <input type="text" class="form-control f1" name="descTech" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Datum</label>
    <input type="text" class="form-control f1" name="dateTech" id="exampleFormControlInput1" placeholder="">
  </div>
     <div class="form-group">
    <label for="exampleFormControlInput1">FLoat</label>
    <input type="text" class="form-control f1" name="img1Tech" id="exampleFormControlInput1" placeholder="">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Thumbnail</label>
    <input type="text" class="form-control f1" name="thumbTech" id="exampleFormControlInput1" placeholder="">
  </div>
     <div class="form-group">
    <label for="exampleFormControlInput1">Banner</label>
    <input type="text" class="form-control f1" name="bannerTech" id="exampleFormControlInput1" placeholder="">
  </div>
     <div class="form-group">
    <label for="exampleFormControlInput1">Bron</label>
    <input type="text" class="form-control f1" name="link1Tech" id="exampleFormControlInput1" placeholder="">
  </div>
     <div class="form-group">
    <label for="exampleFormControlInput1">Bron</label>
    <input type="text" class="form-control f1" name="link2Tech" id="exampleFormControlInput1" placeholder="">
  </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Blog inhoud</label>
    <textarea class="form-control" name="contentTech" id="exampleFormControlTextarea1" rows="7.5" placeholder=""></textarea>
  </div>
    <button class=" btn btn-outline-dark m-auto" type="submit" data-toggle="modal" data-target="#exampleModal">Posten! &rarr;</button>
    </div>
    
    </div>

<% include partials/footer %>    
