<% include partials/header %>
<title> Meditatie.co | Meditatie is voor iedereen! </title>
<% include partials/nav %>
<div class="container-fluid p-0 text-dark" id="login">
    <h1 class="p-5 mt-5 text-center">Nieuwe post toevoegen aan Leraren</h1>
    <hr>
 <form action="/" method="POST">
 <div class="container-fluid m-0 row p-5" id="form newblog">
     <div class="col-lg-6">
    <div class="form-group">
    <label for="exampleFormControlInput1">Titel voor pagina</label>
    <input type="text" class="form-control f1" name="titleTeach" id="exampleFormControlInput1" placeholder="">
  </div>
      <div class="form-group">
    <label for="exampleFormControlInput1">Titel voor Google</label>
    <input type="text" class="form-control f1" name="seoTeach" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Beschrijving</label>
    <input type="text" class="form-control f1" name="descTeach" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Datum</label>
    <input type="text" class="form-control f1" name="dateTeach" id="exampleFormControlInput1" placeholder="">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Thumbnail (350px +)</label>
    <input type="text" class="form-control f1" name="thumbTeach" id="exampleFormControlInput1" placeholder="">
  </div>
     <div class="form-group">
    <label for="exampleFormControlInput1">Banner (1280px +)</label>
    <input type="text" class="form-control f1" name="bannerTeach" id="exampleFormControlInput1" placeholder="">
  </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Blog inhoud</label>
    <textarea class="form-control" name="contentTeach" id="exampleFormControlTextarea1" rows="7.5" placeholder=""></textarea>
  </div>
    <button class=" btn btn-outline-dark m-auto" type="submit" >Posten! &rarr;</button>
    </div>
    
    </div>
        </form>
</div>

<% include partials/footer %>    
