   <% include partials/header %>
     <title> Meditatie.co | 15 Wetenschappelijk bewezen voordelen van meditatie. </title>
     <link rel="stylesheet" href="stylesheets/ander.css">
  </head>
  <body>
 <% include partials/nav %>
<div class="container-fluid" id="page">
    <div class="container bg-light" id="subpage">
        <h1>Over meditatie.co</h1>
        <p>
            meditatie.co is een project van <a href="https://www.3dwebdevelopment.com">3DWD</a>,
            Ontstaan uit een interesse voor het onderwerp, met het doel waardevolle informatie te verstrekken.
        </p>
    </div>
</div>
<% include partials/footer %>
