   <% include partials/header %>

  </head>
  <body>
    <% include partials/nav %>




 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Mooji</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5">1954 - Nu<br> Jamaica <br> Advaita leraar <br> Advaita-Vedanta
      <br>
      <hr>
      “Step into the fire of self-discovery. This fire will not burn you, it will only burn what you are not.” </h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>

<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
      <div class="row">
  <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/leraren">Leraren</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">Sri Mooji</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
  <div class="row">
    <% include partials/blog %>

  <div class="col-lg-9 my-5 p-5" id="text">
 

<h1>Wie is Mooji?</h1>
<br>
Anthony Paul Moo-Young, beter bekend als Mooji, of Sri Mooji, is geboren op Port Antonio in Jamaica op 29 Januari 1954. Op zijn 15e verhuisde hij naar London, daar maakte hij vele jaren als straatartiest portretten. Later werkte hij als een schilder en leraar op het 
‘Brixton College’.
<br><br>
Mooji is een leerling van de ‘advaita meester’ Sri Harilal Poonja. Een ontmoeting met tussen Mooji en de meester zou laten een levensveranderende ontmoeting worden voor Mooji. Voor velen die hem kenden bleek hij na deze ervaring een ander persoon. Volgens Mooji zelf kwam hij direct in contact met het goddelijke in hem, waardoor hij in een korte tijd een enorme bewustzijnsverandering doormaakte. Hij voelde een sterke wind door zijn leven blazen die hem ertoe leidde zich compleet over te geven aan de goddelijke wil. Niet lang hierna stopte hij met lesgeven, verliet hij zijn thuis en startte hij een simpel en stil leven. Een grote vrede bloeide in Mooji op en is tot heden gebleven.
<br><br>
De komend zes jaar, was Mooji compleet onbewust van de wereld die hij ooit kende. Hij had in deze tijd bijna geen geld, maar was toch constant zeer content en gelukkig. Mooji’s zus, Julianne, boodt Mooji een plek aan in haar huis, waar Mooji alle ruimte kreeg om spiritueel te ontplooien zonder de druk en vraag van het normale dagelijkse leven.
Mooji noemt deze jaren ‘The Wilderness Years’. Hij spreekt van een diep gevoel alsof hij bij God op schoot zat. Hoewel deze jaren verre van makkelijk waren voor Mooji, spreekt hij nooit met spijt of verdriet over deze tijden. In tegendeel spreekt hij over een fase van zijn leven waar hij een overvloed aan ‘liefdevolle devotie’ ervaarde.
<br><br>
1993 - Mooji reist naar India.<br>
Hij wilde graag Dakshineswar in Calcutta bezoeken waar Sri Ramakrishna, een heilige uit Bangladesh had gewoond. De woorden over het leven van Ramakrishna waren een bron van inspiratie en aanmoediging voor Mooji in de vroege jaren van zijn spirituele groei. Hij droeg een grote liefde voor de heilige. Maar het lot leidde hem niet naar Calcutta. Toen hij in Rishikesh was, een heilige plek aan de voet van het Himalaya gebergte, had hij nog een belangrijke ontmoeting.
Drie volgelingen van de ‘advaita meester ’Sri Harilal Poonja, beter bekend onder zijn volgelinge als ‘Papaji’ nodigden Mooji uit om de meester te ontmoeten. Dit heeft ook diepe indruk gemaakt op Mooji.<br>
<br>
<img src="img/mooji1.jpeg" class="right">
<br>
1994 - Mooji reist naar Tiruvannamali.<br>
Met goedkeuring van zijn meester, rees Mooji naar ‘Sri Ramanasramam’ in Tiruvannamalai. Dit een de leefgemeenschap of ‘Ashram’ aan de voet van de Arunchala, de ‘heuvel van vuur’, waar Sri Ramana Maharshi (Papaji’s guru) had gewoond en les had gegeven. Mooji voelde zich erg gelukkig in Tirunvannamalai, waar hij bijna 3 maanden verbleef voordat hij terugging naar Papaji. Zijn gelukzaligheid werd vervangen door leegte en innerlijke stilte toen zijn oudste zoon plots kwam te overlijden aan een longontsteking. 
<br><br>
1997 - Mooji bezoekt Papaji voor het laatst.<br>
De meester was ziek en fragiel geworden. Maar toch bleef zijn innerlijke licht en aanwezigheid stralen. Een maand later krijgt Mooji te horen dat Papaji overleden is.<br>
Mooji zegt hierover dat “Wat manifeest als ‘de meester’ altijd hier nu is”.<br>
<br><br>
1999 - Mooji deelt zijn gezelschap.<br>
In vorm van spontane ontmoetingen met mensen die hem bezoeken op zoek naar waarheid uit alle delen van de wereld, deelt Mooji zijn gezelschap. Er zijn weinig moderne leraren die hun kennis kunnen delen met dezelfde mate van liefde zoals Mooji dat doet. Er hangt een energie om Mooji’s aanwezigheid die beschreven kan worden als een onpersoonlijke intimiteit, gevuld met liefde, geluk en een interessante mix van speelsheid en autoriteit. Zijn stijl is direct, helder, met voldoende compassie en humor.
<br><br>
Mooji heeft gereisd naar Spanje, Italië, Duitsland, Zweden, Noord Amerika, Argentinië, Brazilië, Engeland, Ierland, Portugal, Oekraïne, Polen, Rusland en India. In de vorm van retraites en sangha’s. Hij staat altijd open voor ontmoetingen met mensen die op zoek zijn naar de waarheid, ongeacht hun achtergrond.<br>
<br>
Om meer te zien van Mooji, kun je het beste op een van de onderstaande video's klikken. De beschreven eigenschappen van Mooji, komen verrassend goed over via zijn video’s.

<br>

    <br>
       <% include partials/social %>

  </div>
  </div>
  </div>
  
  <div class="col-lg-10">
    
  </div>
</section> 
  
    <% include partials/carousel %>
   <% include partials/footer %>
  <link rel="stylesheet" href="stylesheets/mooji.css">
