<% include partials/header %>
  <title> Meditatie . co |  Blog over mediteren voor iedereen | Privacy Policy | AVG </title>
  <link rel="stylesheet" href="stylesheets/20.css">
  </head>
  <body>
  <% include partials/navbar %>
 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Privacy policy</H1>
      <hr>
      <!--<h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i>The more I read, the more I meditate; and the more I acquire, the more I am enabled to affirm that I know nothing.<i class="fas fa-quote-right"></i><br>  – Voltaire</h4>-->
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>

<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
      <div class="row">
  <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">Privacy Policy / AVG</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
  <div class="row">
  <% include partials/blog %>

  <div class="col-lg-9 my-5 p-5" id="text">

3DWD 3DWD, is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze privacyverklaring.<br><br>

Contactgegevens:<br><br>

https://www.meditatie.co/contact<br><br>

Persoonsgegevens die wij verwerken<br>
3DWD verwerkt geen persoonsgegevens omdat op onze site geen persoonsgegevens achter gelaten kunnen worden. Ook gebruiken we geen social media plugins.<br><br>

Bijzondere en/of gevoelige persoonsgegevens die wij verwerken<br>
Onze website en/of dienst heeft niet de intentie gegevens te verzamelen over websitebezoekers die jonger zijn dan 16 jaar. Tenzij ze toestemming hebben van ouders of voogd. We kunnen echter niet controleren of een bezoeker ouder dan 16 is. Wij raden ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, om zo te voorkomen dat er gegevens over kinderen verzameld worden zonder ouderlijke toestemming. Als je er van overtuigd bent dat wij zonder die toestemming persoonlijke gegevens hebben verzameld over een minderjarige, neem dan contact met ons op via meditatie.co@gmail.com, dan verwijderen wij deze informatie.<br><br>

Met welk doel en op basis van welke grondslag wij persoonsgegevens verwerken<br>
3DWD verwerkt jouw persoonsgegevens voor de volgende doelen:<br><br>

- Verzenden van onze nieuwsbrief<br>
Geautomatiseerde besluitvorming<br>
3DWD neemt niet op basis van geautomatiseerde verwerkingen besluiten over zaken die (aanzienlijke) gevolgen kunnen hebben voor personen. Het gaat hier om besluiten die worden genomen door computerprogramma's of -systemen, zonder dat daar een mens (bijvoorbeeld een medewerker van 3DWD) tussen zit. 3DWD gebruikt de volgende computerprogramma's of -systemen: [aanvullen met naam van het systeem, waarom het gebruikt wordt, onderliggende logica, belang en verwachte gevolgen voor betrokkene]<br>
<br>
Hoe lang we persoonsgegevens bewaren<br>
3DWD bewaart je persoonsgegevens niet langer dan strikt nodig is om de doelen te realiseren waarvoor je gegevens worden verzameld. Wij hanteren de volgende bewaartermijnen voor de  van persoonsgegevens: (Categorie) persoonsgegevens > Bewaartermijn > Reden Personalia > Bewaartermijn > Reden Adres > Bewaartermijn > Reden Enzovoort > Bewaartermijn > Reden<br>
Delen van persoonsgegevens met derden<br>
3DWD verstrekt uitsluitend aan derden en alleen als dit nodig is voor de uitvoering van onze overeenkomst met jou of om te voldoen aan een wettelijke verplichting.<br><br>

Cookies, of vergelijkbare technieken, die wij gebruiken<br>
3DWD gebruikt alleen technische en functionele cookies. En analytische cookies die geen inbreuk maken op je privacy. Een cookie is een klein tekstbestand dat bij het eerste bezoek aan deze website wordt opgeslagen op jouw computer, tablet of smartphone. De cookies die wij gebruiken zijn noodzakelijk voor de technische werking van de website en jouw gebruiksgemak. Ze zorgen ervoor dat de website naar behoren werkt en onthouden bijvoorbeeld jouw voorkeursinstellingen. Ook kunnen wij hiermee onze website optimaliseren. Je kunt je afmelden voor cookies door je internetbrowser zo in te stellen dat deze geen cookies meer opslaat. Daarnaast kun je ook alle informatie die eerder is opgeslagen via de instellingen van je browser verwijderen.<br>
<br>
Gegevens inzien, aanpassen of verwijderen<br>
Je hebt het recht om je persoonsgegevens in te zien, te corrigeren of te verwijderen. Dit kun je zelf doen via de persoonlijke instellingen van jouw account. Daarnaast heb je het recht om je eventuele toestemming voor de gegevensverwerking in te trekken of bezwaar te maken tegen de verwerking van jouw persoonsgegevens door ons bedrijf en heb je het recht op gegevensoverdraagbaarheid. Dat betekent dat je bij ons een verzoek kan indienen om de persoonsgegevens die wij van jou beschikken in een computerbestand naar jou of een ander, door jou genoemde organisatie, te sturen. Wil je gebruik maken van je recht op bezwaar en/of recht op gegevensoverdraagbaarheid of heb je andere vragen/opmerkingen over de gegevensverwerking, stuur dan een gespecificeerd verzoek naar meditatie.co@gmail.com. Om er zeker van te zijn dat het verzoek tot inzage door jou is gedaan, vragen wij jou een kopie van je identiteitsbewijs bij het verzoek mee te sturen. Maak in deze kopie je pasfoto, MRZ (machine readable zone, de strook met nummers onderaan het paspoort), paspoortnummer en Burgerservicenummer (BSN) zwart. Dit ter bescherming van je privacy. 3DWD zal zo snel mogelijk, maar in ieder geval binnen vier weken, op jouw verzoek reageren. 3DWD wil je er tevens op wijzen dat je de mogelijkheid hebt om een klacht in te dienen bij de nationale toezichthouder, de Autoriteit Persoonsgegevens. Dat kan via de volgende link: https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons<br><br>
<br>
Hoe wij persoonsgegevens beveiligen<br>
3DWD neemt de bescherming van jouw gegevens serieus en neemt passende maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan. Als jij het idee hebt dat jouw gegevens toch niet goed beveiligd zijn of er aanwijzingen zijn van misbruik, neem dan contact op met onze klantenservice of via meditatie.co@gmail.com<br>
<br>

  </div>
  </div>
  </div>
  
  <div class="col-lg-10">
    
  </div>
</section> 
  
   <% include partials/carousel %>
  <% include partials/footer %>
