<% include partials/header-blog %>
<title> Meditatie . co |  Blog over mediteren voor iedereen | Een dagelijkse meditatie routine opbouwen</title>
<% include partials/nav-blog %>
<div class="container-fluid" id="blog-main" style="
  background:url('https://images.pexels.com/photos/67818/pexels-photo-67818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
; background-size:cover;
background-position:center">
">
</div>
<div class="col-md-6 text-center mx-auto pt-5">
  <h2 class="blog-title">Een dagelijkse meditatie routine opbouwen</h2>
  <h6 class="date"> &mdash; 2 September 2018</h6>
</div>
<div class="col-md-8 mx-auto pt-5">
  <p style="white-space: pre-line" id="content">
 Vaak is het opbouwen van een nieuwe routine een flinke klus. We moeten niet alleen iets nieuws gaan doen, maar ook oude patronen doorbreken. Als deze oude patronen al een lange tijd een gewoonte zijn geworden, is de drang om hiernaar terug te keren vaak groot.

In dit <a href=”https://onlinelibrary.wiley.com/doi/abs/10.1002/ejsp.674”> onderzoek </a> van Phillippa Lally werden 96 mensen gevraagd om gedurende 12 weken een verandering in hun leven aan te brengen, zoals het volgen van een nieuw dieet, of het doen van een activiteit buitenshuis.

Het duurde voor de deelnemers van 18 tot 254 dagen om een automatisme te ontwikkelen voor de verandering.

Hoewel deze nummers misschien sterk demotiverend kunnen werken, is het belangrijk om realistische verwachtingen te hebben zodat we ook richting een realistisch resultaat kunnen werken. Het verschilt sterk per persoon hoe lang het duurt voordat het een automatisme is geworden, dus probeer deze nummers met een korrel zout te nemen.

Uit het onderzoek bleek ook dat een dag niet beoefenen van de activiteit weinig tot geen invloed had op het uiteindelijke resultaat.

De belangrijkste les die we kunnen halen uit dit onderzoek is of het nou 20 dagen duurt of 200, het altijd met dag 1 moet beginnen.

<h2>Waarom zou ik een meditatie-routine opbouwen</h2>

Een vaste routine opbouwen is de enige manier om echt te leren mediteren, elke retraite gericht op het onderwijzen van meditatie houdt een strakke planning aan. Niet alleen omdat het anders redelijk chaotisch zou verlopen, maar ook omdat je dan op momenten moet gaan mediteren waarop je dat normaal niet zou doen. Het belang hiervan ligt hem in het doorbreken van gedachtepatronen. 
Als we in onze meditatie-beoefening gewaarzijn zonder te oordelen, kunnen we spreken van non-dualiteit. Deze zelfde non-dualiteit zouden we in ons hele leven mee moeten nemen. Als we zeggen dat we geen zin hebben, of niet kunnen mediteren vandaag, dan zijn dat sterk dualistische begrippen(geen, niet). Net als dat we wel zin zouden hebben of wel zouden kunnen mediteren vandaag. Door deze dualistische begrippen te doorbreken, leren we onszelf om non-dualistisch te denken. Er is geen wel of geen zin hebben in de meditatie-beoefening, er is enkel de meditatie-beoefening zelf. 

Door een goede routine op te bouwen kunnen we ook sneller in de meditatieve staat terechtkomen, een staat van helder gewaarzijn. In deze staat kunnen we ons lichaam de tijd en rust gunnen om dingen te verwerken of inzichten op te doen. Door regelmatig deze rust te pakken zul je merken dat dat het positieve effecten op je heeft. Voor een lijst met deze positieve effecten kun je het beste <a href=”15-wetenschappelijl-bewezen-voordelen-meditatie”>dit artikel lezen</a>.

We trainen onszelf als het ware om rustig te worden, net als een spier die je traint zal deze naar verloop van tijd groeien en sterker worden. Waardoor het dus ook makkelijker wordt om rustig en kalm te worden. In tijden van stress of emotionele overbelading is dit de meest waardevolle vaardigheid die je maar kunt hebben. In tijden dat je van nature al kalm en rustig bent, kan dit de kalme alleen maar verdiepen.

<h2> Hoe bouw ik een routine op?</h2>

-Ten eerste is er geen juiste of onjuiste manier om dit te doen. Het belangrijkste is dat je de meditatie beoefening een gewoonte gaat maken in jouw dag. Onafhankelijk van hoe je het doet, hoe lang je het doet en wanneer je het doet. Op deze manier kun je het ook langzaam opbouwen binnen je comfortzone. 

Het is natuurlijk wel zo, dat je met bijvoorbeeld elke dag een half uur meer resultaten kunt boeken dan met elke dag 5 minuten. Maar als jij met 30 minuten onmogelijk een routine kunt opbouwen en uiteindelijk zult stoppen, haal je toch uiteindelijk meer uit die 5 minuten per dag.

-Ten tweede zou je het moeten zien op de lange termijn, vind voor jezelf goede redenen waarom je een meditatie routine op wilt bouwen en gebruik dit als motivatie. Schrijf ze voor jezelf op en herinner jezelf hier dagelijks aan. Stel dat je op het moment veel stress ervaart, dan zou een goede motivatie kunnen zijn dat je je rust weer wilt vinden, dat je weer wilt kunnen relaxen en genieten.

-Ten derde moet je er niet te veel over nadenken. Het is gewoon iets wat je doet en daar zou het bij moeten blijven. Je gedachten zullen je vaak redenen geven waarom het beter is om te stoppen. Het gaat toch niet lukken, het heeft geen zin, ik kan het niet. Net zoals in je meditatie beoefening moet je deze gedachten gewoon laten gaan. Snap voor jezelf dat je een nieuwe gewoonte aan het vormen bent. En snap ook dat hierbij deze gedachten heel normaal zijn en dat je ze gewoon met een korrel zout kunt nemen.

<h2> Wilskracht </h2>

We kunnen veel tips gaan geven over hoe je het het beste kunt doen, die ook zeker kunnen helpen bij het opbouwen van een meditatie routine. Maar uiteindelijk hangt het compleet af van je wilskracht. Er is veel bewijs naar het feit dat wilskracht niet een ongelimiteerd is. Een bijvoorbeeld daarvan, zoals beschreven in <a href=”https://www.apa.org/helpcenter/willpower-limited-resource.pdf”>dit artikel</a> van de APA, is het onderzoek van 2 groepen mensen. Waarvan de ene groep koekjes kreeg en de andere radijsjes. Vervolgens moesten ze een moeilijke puzzel maken. Uit de resultaten bleek dat de groep die koekjes kregen aanzienlijk langer probeerde om de puzzel op te lossen. De groep die wel koekjes deed er gemiddeld 19 minuten over, de groep die radijsjes kregen gemiddeld 8.

Probeer dus, bij het uitstippelen van je dagelijkse routine hier rekening mee te houden. Als jij al bakken met wilskracht moet gebruiken om in de ochtend uit bed te komen ga je dus meer moeite hebben met het beoefenen van meditatie dan iemand die dit geen probleem vindt.
Toon begrip voor jezelf, misschien heb je het al heel zwaar, dan is 5 minuten mediteren al een hele prestatie! Wees dus ook trots op jezelf als je het hebt gedaan.
Zoals zen-meester Shunryu Suzuki heel mooi zegt.

Ik wens je veel success toe met het opbouwen van een routine en ik hoop dat ik er iets aan heb bijgedragen

  </p>
</div>
<% include partials/footer %>
