   <% include partials/header %>
    <title> Meditatie.co | Sadghuru </title>
  <link rel="stylesheet" href="stylesheets/sadhguru.css">
  </head>
  <body>
  <% include partials/nav %>
 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Jaggi Vasudev | Sadghuru</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5">
        1957 | Nu<br>
        India<br>
        Yogi | Schrijver<br>
        Isha Yoga
        <br>
      <hr class="animated fadeIn _7">
     <i class="fas fa-quote-left"></i>
Don’t be dead serious about your life – it’s just a play.     <i class="fas fa-quote-right"></i>
    </h4>
    </div>
  </div>
</section>

<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
      <div class="row">
        <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/leraren">Leraren</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">S.N. Goenka</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
   <% include partials/blog %>
  <div class="col-lg-9 my-5 p-5" id="text">
<h1>Wie is Sadhguru?</h1>

Jaggi vasudev, beter bekend als Sadhguru, werd geboren op 3 September 1957.
Hij is een indiase Yogi, mysticus, en Schrijver. Sadhguru is de oprichter van de ‘Isha foundation’, een non-profit organisatie met als doel Yoga te onderwijzen. Ook houdt de stichting zich bezig met sociale kwesties, educatie en het milieu.
<br><br>
Sadhguru komt van oorsprong uit India, hij was de jongste van 4 kinderen - 2 jongens en 2 meisjes. Op zijn tiende, kwam hij in contact met Malladihalli Sri Raghavendra Swamiji. Van hem leerde hij een paar simpele yoga oefeningen die hij bleef beoefenen. Volgens Sadhguru heeft deze simpele yoga-oefening een grondslag gelegd voor veel belangrijkere en diepere ervaringen later in zijn leven.
<br><br>
Zoals op zijn 25e, toen hij op een rots ging zitten bovenop een berg. Hij beschrijft de ervaring als volgt:
<br><br>
Tot dit moment in mijn leven had ik altijd gedacht dat ik dit ben en dat iemand anders is en iets anders. Maar voor het eerst wist ik niet wat ik was en wat ik niet was.
Plotseling, was wat ik was een grote chaos. De rots waarop ik zat, de lucht die ademde en de atmosfeer om mij heen. Het was alsof ik opeens alles was. Dat klinkt volwaardig gestoord.
Ik dacht dat ik 10 tot 15 minuten op de rots had gezeten, maar het bleek 4 en een half uur geduurd te hebben, volledig bewust met mijn ogen open. Tijd bestond even niet meer
<br><br>
6 weken na deze ervaring, begon hij met reizen om meer te weten te komen over zijn spirituele ervaringen. Na een jaar te hebben gerezen en gemediteerd, besloot hij Yoga te gaan onderwijzen om zijn innerlijke ervaringen te delen.
<br><br>
In 1983 had hij zijn eerste yoga klas met 7 deelnemers, dit groeide al snel en hij rees op zijn motor naar de verschillende locaties om les te geven. In de tussentijd leefde hij van de opbrengsten van zijn boerderij en weigerde hij betaald te worden voor het lesgeven. Het geld wat hij gedoneerd kreeg schonk mij aan goede doelen. Vanuit deze werkwijze zette Sadhguru later zijn Isha stichting op.
<br><br>
<H2>De Isha Stichting</h2>
In 1994 gaf hij zijn eerste programma vanuit zijn Isha Yoga Centrum. Dit bleef hij in India tot 1997 doen, toen hij zijn eerste lessen in de Verenigde Staten gaf. In 2011 begon hij te onderwijzen aan een groter publiek, tot wel 15.000 per keer.
<br><br>
Isha betekent het vormloze goddelijke. Het meest bekende programma van Isha heet ‘Inner Engineering’ of ‘Innerlijk ontwikkelen/bouwen’. Het leert mensen meditatie, pranayama, en maakt hier een combinatie van met ‘Shambhavi Mahamudra’.
<br><br>
Ook geeft speciale lessen voor mensen die in het bestuur van grote bedrijven zitten. Hij onderwijst hier wat hij zelf “Inclusieve economie” noemt. Het zou de economie vandaag de dag meer compassievol  moeten maken.
<br><br>
    <% include partials/social %>

  </div>
  </div>
  </div>
  
  <div class="col-lg-10">
    
  </div>
</section> 
  
  <% include partials/carousel %>
  <% include partials/footer %>

