   <% include partials/header %>
     <title> Meditatie.co | Niet kunnen slapen | Slaapmeditatie</title>
     <link rel="stylesheet" href="stylesheets/slaap.css">
  </head>
  <body>
 <% include partials/nav %>
 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Niet kunnen slapen | Slaapmeditatie</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i><i class="fas fa-quote-right"></i><br></h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>
<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
        <div class="row">
  <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/blog">Blog</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">Niet kunnen slapen | Slaapmeditatie</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
<% include partials/blog %>
  <div class="col-lg-9 my-5 p-5" id="text">
Soms is het lastig om in slaap te vallen, misschien zijn we aan het piekeren, maken we ons zorgen, of moeten we morgen iets doen wat ons stress oplevert.
Een goede nacht slaap helpt je de volgende dag om je beter te concentreren, te eten en te bewegen. Ook ben je als je goed uitgerust bent beter bestand tegen emoties.
<br><br>
Het kan dus zeer nadelig zijn om niet (goed) te kunnen slapen en het kan een grote impact hebben op je leven. Naar schatting hebben 23% tot 35% van alle nederlanders wel eens last van slapeloosheid.
<br><br>
Er bestaan veel soorten slapeloosheid, in dit artikel focus ik op een veelvoorkomende die perfect op te lossen is met de juiste meditatie-beoefening.
<br><br>
<H2>Psychofysiologische slapeloosheid</H2>
Als je over een langere periode last hebt van niet in slaap kunnen komen, dan kan het zo zijn dat de momenten voordat je naar bed gaat nerveus, gespannen of geïrriteerd wordt. Omdat je alweer een slapeloze nacht tegemoet gaat, of weer uren wakker gaat liggen omdat je niet kunt slapen.
<br><br>
In deze gevallen spreken wij van ‘Psychofysiologische slapeloosheid’. Niet kunnen slapen door slechte conditionering. In plaats van dat je moe wordt op de momenten voordat je gaat slapen, gebeurt er iets anders in je lichaam. Je hebt jezelf aangeleerd om anders te reageren op een normaal gezien, simpel onderdeel van je dag.
<br><br>
<h2> Hoe kan meditatie helpen bij niet kunnen slapen? </h2>
Door te mediteren voordat we gaan slapen, kunnen we in een rustige toestand terechtkomen. Een toestand waarin we alle zorgen even laten gaan en we geen nieuwe negatieve emoties creëren voor onszelf.
<br><br>
Een toestand waarin we onszelf toestaan om uit te rusten en onze verdiende slaap te pakken.
<br><br>
Het komt vaak voor dat mensen tijdens meditatie slaperig worden, het lichaam krijgt namelijk misschien voor het eerst in een lange tijd rust, en vind dit het perfecte moment om even te gaan slapen. Om even je krachten te sparen. Meditatie is dus al een natuurlijk slaapmiddel.
<br><br>
</h2> Hoe gebruik ik meditatie als ik niet kan slapen? </h2>
<br><br>
Je kunt een geleide slaapmeditatie volgen, of je kunt zelf aan de slag gaan. Het verschilt per persoon wat het beste werkt.
<br><br>
</h3> Slaapmeditatie </h3>
Deze meditatie werkt het beste als je op je rug gaat liggen in bed. Spreid je armen en benen en probeer zo comfortabel mogelijk te gaan liggen.
<br><br>
Deze meditatie heeft 2 stappen.
<br>
<ul>
<li>
1.Houd een langzame en rustige ademhaling aan.
</li>
<li>
2.Als je afdwaalt met je gedachten, breng je focus dan rustig terug naar je ademhaling.
</li>
<br><br>
<h3>Wat te doen?</h3>
-Als je wilt opstaan of iets anders wilt doen?
Het loslaten van je alle gedachten betekent dat je alle gedachten simpelweg kunt laten
gaan. Dus ook deze. Voel bij jezelf aan of je hier echt op in wilt gaan.
<br><br>
-<h3>Als je pijn krijgt?</h3>
Een beetje pijn is normaal, maar luister altijd goed naar je lichaam.
<br><br>
<h3>-Als je niet kunt focussen?</h3>
Een meditatie is een meditatie ongeacht van wat er gebeurt, als het deze keer niet gelukt 
is om te focussen dan is dat zo.
<br><br>

<h3> Geleide slaapmeditatie </h3>

Hieronder vind je een aantal geleide slaapmeditaties. Ga lekker liggen en luister simpelweg naar de geleide meditaties.
<br><br>
<div class=”row”>
<div class=”col-xs-4”>
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/4i7gIp7urSA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class=”col-xs-4”>
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/pa-HjAi50T0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class=”col-xs-4”>
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/mDX8QrcDI_o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
</div>
<br><br>
 <% include partials/social %>
  </div>
  </div>
  </div>
  <div class="col-lg-10">
  </div>
</section> 
<% include partials/carousel %>
<% include partials/footer %>
