<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" alt="foto" href="../img/lotus1.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Meditatie is voor iedereen. Meditatie helpt je ontspannen in tijden van stress. Mediteren kan ook helpen bij een burnout. Begin vandaag te mediteren met onze tips! | Meditatie.co">
  <link rel="canonical" href="https://www.meditatie.com" />
  <title>Stress verminderen met behulp van meditatie | Meditatie.co  </title>
  <meta name="google-site-verification" content="my1fk9Z3Qw1sTRNbXGbqydfmhO9hwsc3J9ybNX-2NTw" />
  <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/stress.css">
    <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Oxygen|Raleway" rel="stylesheet">
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-dark container-fluid">
     <!--<img src="img/lotus1.png" class="logo">-->
  <a class="navbar-brand " href="/"><img src="img/logo.png" class="img-fluid" width="60px" alt="logo meditatie .co">Meditatie .co</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto ">
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Blog</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Soorten Meditatie</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link " href="#">Leraren</a>
      </li>
            <li class="nav-item px-1">
        <a class="nav-link " href="#">Geleide meditatie.</a>
      </li>
      <!--      <li class="nav-item">-->
      <!--  <a class="nav-link " href="#">Disabled</a>-->
      <!--</li>-->
    </ul>
    <!--<form class="form-inline my-2 my-lg-0 ml-auto">-->
    <!--  <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">-->
    <!--  <button class="btn btn-outline-custom my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav> 



 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Stress verminderen met behulp van meditatie.</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i>  De enige manier om te krijgen wat je echt wilt is lostalen wat je niet wilt.  <i class="fas fa-quote-right"></i><br></h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>

<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
  <div class="row">
  <div class="col-lg-2 pt-5 text-dark d-none d-md-block ml-5" id="list">
    <h5 class="text-dark"><a href="/blog">Artikelen</a></h5>
    <ul>
      <li><a href="/15-wetenschappelijl-bewezen-voordelen-meditatie">15 wetenschappelijk bewezen voordelen van meditatie.</strong></a></li>
      <li><a href="/stress-verminderen-meditatie"><strong>Stress verminderen met behulp van meditatie.</strong></a></li>
      <li><a href="/burnout-helpen-meditatie">Burnout, hoe kan meditatie helpen?</a></li>
      <li><a href="/mindfulness">Kom terug in je lichaam met mindfulness</a></li>
      <li><a href="/hatha-yoga">Hatha Yoga, wat is het?</a></li>
      <li><a href="/over-chakras">Over chakra's</a></li>
      <li><a href="/blog">Meer...</a></li>
    </ul>
    <h5 class="text-dark"><a href="/leraren">Leraren</a></h5>
        <ul>
      <li><a href="/alan-watts">Alan Watts</a></li>
      <li><a href="/sri-mooji">Sri Mooji</a></li>
      <li><a href="/sadhguru">Sadhguru</a></li>
      <li><a href="/thich-nhat-hanh">Thich Nhat Hanh</a></li>
      <li><a href="/goenka">S.N. Goenka</a></li>
      <li><a href="/leraren">Meer..</a></li>

    </ul>
    <h5 class="text-dark"><a href="/soorten-meditaties">Soorten Meditatie</a></h5>
        <ul>
      <li><a href="/metta-loving-kindness">Metta</a></li>
      <li><a href="/zen-zazen">Zazen</a></li>
      <li><a href="/vipassana">Vipassana</a></li>
      <li><a href="/geleide-meditatie">Geleide meditatie</a></li>
      <li><a href="/mantra-meditatie">Mantra</a></li>
      <li><a href="/soorten-meditaties">Meer...</a></li>
    </ul>
    <h5 class="text-dark"><a href="/geleide-meditaties">Geleide meditaties</a></h5>
        <ul>
      <li><a href="/luister-naar-de-wereld">Luister naar de wereld</a></li>
      <li><a href="/vol-van-vreugde">Vol van vreugde</a></li>
      <li><a href="/mindful-met-vipassana">Mindfull met Vipassana</a></li>
      <li><a href="/geleide-meditatie-lichaam-ruimte-bewustzijn">Lichaam ruimte en bewustzijn</a></li>
      <li><a href="/1-uurs-meditatie-goenka">1-uurs meditatie</a></li>
      <li><a href="/geleide-mindfulness-meditatie-kabat-zinn">Mindfulness meditatie</a></li>
      <li><a href="/geleide-meditaties">Meer...</a></li>
    </ul>
  </div>
  <div class="col-lg-9 my-5 p-5" id="text">
  Stress komt voort uit het gevoel om niet te kunnen voldoen aan de druk en verschillende situaties in het dagelijks leven.<br><br>

Stress is niet per se iets slechts, het kan een fantastische indicator van gevaar zijn in het geval dat er ook echt gevaar aanwezig is. Het is een lichamelijke reactie tegen potentieel gevaar.<br>
Als je gestresst bent, wordt jij volgens je lichaam aangevallen en gaat het in ‘fight or flight mode’.<br>
Het maakt dan allerlei hormonen en chemicaliën aan om je lichaam voor te bereiden op fysieke actie. Dit veroorzaakt een aantal reacties, zoals het uitschakelen van je verteringsstelsel.<br><br>

Je begint te hijgen en je hart begint te kloppen door de adrenaline, je lichaam zit nu in volle overlevingsmodus, klaar om te vechten of te vluchten voor het geval het nodig is. Het is een reactie die we geërfd hebben van onze voorouders.<br>
Vandaag de dag kan deze overlevingsmodus ons nog steeds in bepaalde situaties waar je snel moet reageren helpen.<br><br>

De uitdaging begint pas op het moment dat je lichaam in de overlevingsmodus gaat als er geen reëel gevaar aanwezig is. Omdat je lichaam in een overlevingsmodus zit, wordt het bloed alleen naar de meest belangrijke delen van ons lichaam gepompt. Het is dus ook vaak lastig om helder na te denken in deze staat.<br>
Als je lichaam te lang in een staat van stress zit, kan dit gevolgen hebben voor je gezondheid.<br>
Het is dus belangrijk om op een gezonde manier om te gaan met stress, meditatie is naar mijn mening een van de meest effectieve technieken om te gebruiken tegen stress, omdat je het op elk moment kunt gebruiken als je het nodig hebt, omdat je leert rust uit je eigen ademhaling te halen.<br><br>

Bron: <a href=”http://www.stress.org.uk/what-is-stress/”>Wat is stress?</a><br><br>

Hoe helpt meditatie tegen stress?<br><br>

Uiteindelijk wordt onze ervaring van een bepaalde gebeurtenis bepaald door onze reactie daarop. In deze reacties verschilt elk mens sterk van elkaar. Waar de een gestrest van raakt is voor de ander geen enkel probleem.<br>
Uit onderzoek blijkt dat de <a href=”https://nl.wikipedia.org/wiki/Neurale_plasticiteit”>plasticiteit</a> van onze hersenen buitengewoon is, dit betekent dat ons brein zich snel aanpast aan nieuwe ervaringen of veranderingen door ons leven heen. Je kunt je brein met het leren van een techniek als meditatie dus letterlijk veranderen. Bekijk de wikipedia link voor meer informatie over neurale plasticiteit.
 <br><br>
Meditatie geeft je de mogelijkheid om je reactie op bepaalde gebeurtenissen te veranderen.<br>
Mede omdat het vaak lastig is om logisch na te denken als je gestrest bent, is het dus ook lastig om op dat moment te zien wat het juiste is om te doen voor jou. <strong>Als we mediteren terwijl we gestrest zijn, geven wij onze geest de mogelijkheid om de stress te laten gaan zodat we weer logisch kunnen nadenken.</strong><br>
Gedachten kunnen ook een behoorlijke stress reactie in je lichaam veroorzaken, als je al gestrest bent en er komen ook nog eens gedachten bij die je nog meer gestrest maken wordt je al snel overweldigd.<br>
Bij bijna elke vorm van meditatie is het laten gaan van je gedachten een sterke basis, dit is nog een reden waarom meditatie een van de meest effectieve methoden is om om te gaan met stress.<strong> Als we onze gedachten loslaten en ons hoofd leegmaken tijdens meditatie, kunnen we zien dat er geen direct gevaar aanwezig is.</strong> <br>
In veel gevallen ga je de effecten van meditatie al merken tijdens je eerste meditatie. Als je op de juiste manier mediteert, zul je meteen al meer rust gaat ervaren tegenover de situatie.<br>
 <br><br>
 
Beginners meditatie tegen stress.
Dit is een simpele beginners meditatie, zorg dat je een rustige plek hebt waar je rustig kunt oefenen. Het beste is om te zitten, dit kan in de <a href=””>lotushouding</a> op een stoel, of op de grond met een kussen, probeer je rug recht te houden. Als je gaat liggen probeer dan plat op bed te gaan liggen, met je armen en benen gespreid.<br>
Deze meditatie heeft 2 stappen.<br>
<span>1.</span>Houd een langzame en rustige ademhaling aan.<br>
<span>2.</span>Als je afdwaalt met je gedachten, breng je focus dan rustig terug naar je ademhaling.<br>
Je kunt een timer zetten op hoe lang jij zou willen oefenen, je kunt je ademhaling tellen of je kunt simpelweg blijven zitten totdat jij tevreden bent met het resultaat.<br>
Het is niet erg als je gedachten afdwalen, dit gebeurt bij iedereen. Het belangrijkste is dat jij je focus weer terug kan halen naar je ademhaling. Dit is de basis van meditatie.<br>
 <br><br><br>
 
 
 
 
 
Wat te doen?<br>
<span>-</span>Als je wilt opstaan of iets anders wilt doen?<br>
	Het loslaten van je alle gedachten betekent dat je alle gedachten simpelweg kunt laten<br>
	gaan. Dus ook deze. Voel bij jezelf aan of je hier echt op in wilt gaan.<br>
<span>-</span>Als je pijn krijgt?<br>
	Een beetje pijn is normaal, maar luister altijd goed naar je lichaam. <br>
<span>-</span>Als je niet kunt focussen?<br>
	Een meditatie is een meditatie ongeacht van wat er gebeurt, als het deze keer niet gelukt <br>
	is om te focussen dan is dat zo.<br>
 <br><br>
Vipassana meditatie tegen stress.<br>
Vipassana is een van de oudste technieken uit India, het werd beoefend door boeddha zelf en betekend ‘dingen zien zoals ze echt zijn’.<br>
<span>1.</span>Ga met een rechte rug op een kussen zitten, ontspan je schouders en leg je handen in een mudra(zie afbeelding).<br>
<span>2.</span> Focus op je ademhaling in je buik, maar probeer deze precies te laten zoals hij is.<br>
Vipassana is een ‘inzicht’ meditatie techniek die je kan helpen om ‘mindful’ te worden van het huidige moment. Stress ontstaat in het verleden of de toekomst, als je in dit moment leeft zul je zien dat stress weinig grip op je heeft.<br>
 <br><br>
<a href=”/”>Meer over vipassana</a><br><br>
 
Het maakt niet uit hoe lang je mediteert, en hoe vaak je mediteert. Het gaat er simpelweg om dat je minder in je hoofd en meer in je lichaam gaat leven en je geest even een pauze geeft zodat het kan bijkomen. Je geest weet precies hoe het moet herstellen, het enige wat je hoeft te doen is hier de ruimte voor creëren.<br><br>
 
 
 <h2 class="text-center"></h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qJq8IovXFYQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 
 


  <div class="col-lg-10">
    
  </div>
</section> 
  
  <div class="container pt-5 d-block">
    <div class="row">
    <div class="col-lg-5">
 <h2 class="h2">Recente artikelen <i class="fas animated pulse infinite fa-angle-double-right"></i></h1>    
    </div> 
    <div class="col-lg-7">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
  </div>
</div>


<div id="wrapper" class="container-fluid p-0" >
  
  <!--<span id="controlL" class="left-controls" role="button" aria-label="See Previous Modules">-->
  <!--  <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>-->
  <!--</span>-->
  
  <!--<div class="title text-center h1"> </div>-->
 
  <div class="module-section clearfix">
   <ul id="content">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/stress-verminderen-meditatie">
        <img class="img-fluid" src="img/r1.jpeg" alt="stress verminderen meditatie foto">
        <div class="caption-blog">
          <h2>
            Stress verminderen<br>
            Met behulp van meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/burnout-helpen-meditatie">
        <img class="img-fluid" src="img/r2.jpeg" alt="burnout meditatie foto">
              <div class="caption-blog">
          <h2>
            Burnout.<br>
            Hoe kan meditatie helpen?
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindfulness">
        <img class="img-fluid" src="img/r3.jpeg" alt="mindfulness meditatie foto">
       
              <div class="caption-blog">
          <h2>
            Kom terug in je lichaam met Mindfulness.
          </h2>
        </div>
          </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/vipassana">
        <img class="img-fluid" src="img/r4.jpeg" alt="vipassana meditatie foto">
              <div class="caption-blog">
          <h2>
            Vipassana meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/hatha-yoga">
        <img class="img-fluid" src="img/r5.jpeg" alt="Hatha Yoga foto">
              <div class="caption-blog">
          <h2>
            Hatha Yoga.<br>
            Wat is het?
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/over-chakras">
        <img class="img-fluid" src="img/r6.jpeg" alt="chakras">
              <div class="caption-blog">
          <h2>
            Over chakra's
          </h2>
        </div>
        </a>
      </div>
    </li>
         <li class="card">
      <div class="inside-top">
        <a href="/blog">
        <img class="img-fluid" src="img/r7.jpeg" alt="meer meditatie artikelen foto">
              <div class="caption-blog">
          <h2>
            Meer... <i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
  </div>
  <div class="container pt-5 d-block">
    <div class="row">
    <div class="col-lg-4">
 <h2 class="h2 text-dark">Leraren <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
    </div> 
    <div class="col-lg-8">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
  </div>
</div>
</div><div id="wrapper" class="container-fluid p-0" >
  
  <!--<span id="controlL" class="left-controls" role="button" aria-label="See Previous Modules">-->
  <!--  <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>-->
  <!--</span>-->
  
  <!--<div class="title text-center h1"> </div>-->
 
  <div class="module-section clearfix">
   <ul id="content">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/alan-watts">
        <img class="img-fluid" src="img/l1.jpeg" alt="alan watts">
        <div class="caption-blog">
          <h2>
            Alan Watts
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/goenka">
        <img class="img-fluid" src="img/l2.jpg" alt="sn goenka">
              <div class="caption-blog">
          <h2>
           S.N. Goenka
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/thich-nhat-hanh">
        <img class="img-fluid" src="img/l3.jpg" alt="thich nhat hanh">
              <div class="caption-blog">
          <h2>
            Thich Nhat Hanh
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/sadhguru">
        <img class="img-fluid" src="img/l4.jpg" alt="sadhguru">
              <div class="caption-blog">
          <h2>
            Sadhguru
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/sri-mooji">
        <img class="img-fluid" src="img/mooji.png" alt="sri mooji">
              <div class="caption-blog">
          <h2>
            Sri Mooji
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/leraren">
        <img class="img-fluid" src="img/l5.jpeg" alt="meer meditatie leraren">
              <div class="caption-blog">
          <h2>
            Meer...<i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
    
   
    
  </div>
  
</div>  
</div>
  <div class="container d-block">
    <div class="row">
    <div class="col-lg-5">
 <h2 class="h2">Meditatie soorten <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
    </div> 
    <div class="col-lg-7">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
    </div>
 </div>
<div id="wrapper" class="container-fluid p-0" >
  
  <!--<span id="controlL" class="left-controls" role="button" aria-label="See Previous Modules">-->
  <!--  <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>-->
  <!--</span>-->
  
  <!--<div class="title text-center h1"> </div>-->
 
  <div class="module-section clearfix">
   <ul id="content">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/metta-loving-kindness">
        <img class="img-fluid" src="img/m1.jpeg" alt="metta meditate loving kindness">
        <div class="caption-blog">
          <h2>
            Metta Meditatie.<br>
            Loving Kindness Meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindfulness-meditatie">
        <img class="img-fluid" src="img/m2.jpeg" alt="mindfulness meditatie">
          <div class="caption-blog">
          <h2>
            Mindfulness<br> Meditatie<br>
          </h2>
        </div>
      </div>
      </a>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/vipassana-meditatie">
        <img class="img-fluid" src="img/m3.jpeg" alt="vipassana meditatie">
              <div class="caption-blog">
          <h2>
            Vipassana Meditatie<br>
            (Sayagyi U Ba Khin) 
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/zen-zazen">
        <img class="img-fluid" src="img/m4.jpeg" alt="zen zazen meditatie">
              <div class="caption-blog">
          <h2>
            Zen Meditation<br>
            (Zazen)
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-meditatie">
        <img class="img-fluid" src="img/m5.jpeg" alt="geleide meditatie">
              <div class="caption-blog">
          <h2>
            Geleide Meditatie.<br>
          </h2>
        </div>
      </div>
      </a>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mantra-meditatie">
        <img class="img-fluid" src="img/m6.jpeg" alt="mantra meditatie">
              <div class="caption-blog">
          <h2>
            Mantra Meditatie.
          </h2>
        </div>
      </div>
      </a>
    </li>
         <li class="card">
      <div class="inside-top">
        <a href="/soorten-meditatie">
        <img class="img-fluid" src="img/m7.jpeg" alt="meer meditatie soorten">
              <div class="caption-blog">
          <h2>
            Meer... <i class="fas animated pulse infinite fa-angle-double-right"></i>
          </h2>
        </div>
      </div>
      </a>
    </li>
   </ul>
  </div>
</div>

  <div class="container d-block">
    <div class="row">
    <div class="col-lg-5">
 <h2 class="h2">Geleide meditaties <i class="fas animated pulse infinite fa-angle-double-right"></i></h2>    
    </div> 
    <div class="col-lg-7">
       <img src="img/finger-swipe.png" class="" alt="swipe rechts" height="60px">
    </div>
    </div>
 </div>
<div id="wrapper" class="container-fluid p-0" >
  <div class="module-section clearfix">
   <ul id="content">
    
    <li class="card effect1">
      <div class="inside-top">
        <a href="/luisteren-naar-de-wereld">
        <img class="img-fluid" src="img/g1.jpeg" alt="alan watts luisteren naar de wereld">
        <div class="caption-blog">
          <h2>
            Luister naar de wereld<br>
            met Alan Watts.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/mindful-met-vipassana">
        <img class="img-fluid" src="img/g2.jpeg" alt="mindfull met vipassana sam harris">
              <div class="caption-blog">
          <h2>
            Sam Harris,<br>
            Wordt mindfull met Vipassana.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/vol-van-vreugde">
        <img class="img-fluid" src="img/g3.jpeg" alt="vol van vreugde geleide meditatie sri mooji">
              <div class="caption-blog">
          <h2>
            Vol van vreugde.<br>
            Sri Mooji
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-meditatie-lichaam-ruimte-bewustzijn">
        <img class="img-fluid" src="img/g4.jpeg" alt="geleide meditatie lichaam ruimte en bewustizijn mingyur rinpoche">
              <div class="caption-blog">
          <h2>
            Mingyur Rinpoche.<br>
            Lichaam, ruimte & bewustzijn.
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/1-uurs-meditatie-goenka">
        <img class="img-fluid" src="img/g5.jpeg">
              <div class="caption-blog">
          <h2>
            Krachtige 1-uurs meditatie.<br>
            SN.Goenka
          </h2>
        </div>
        </a>
      </div>
    </li>
     <li class="card">
      <div class="inside-top">
        <a href="/geleide-mindfulness-meditatie-kabat-zinn">
        <img class="img-fluid" src="img/g6.jpeg" alt="geleidem meditatie jon kabat zinn">
              <div class="caption-blog">
          <h2>
            Jon Kabat zinn,<br>
            Mindfulness Meditatie.
          </h2>
        </div>
        </a>
      </div>
    </li>
   </ul>
  </div>
</div>

    
    <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h2 class="text-light mt-3 mb-4"><img src="img/logo.png" class="img-fluid" width="60px" alt="">meditatie.co</h2>
          <p class="text-light">
            meditatie.co is een project van <a href="https://www.3dwebdevelopment.com">3DWD</a>,
            Ontstaan uit een interesse voor het onderwerp, met het doel waardevolle informatie te verstrekken.
            </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-light text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Blog</a>
            </li>
            <li>
              <a href="#!">Soorten Meditatie</a>
            </li>
            <li>
              <a href="#!">Leraren</a>
            </li>
            <li>
              <a href="#!">Geleide Meditaties</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <!--<div class="col-md-2 mx-auto">-->

          <!-- Links -->
        <!--  <h5 class="font-weight-bold text-light text-uppercase mt-3 mb-4">Links</h5>-->

        <!--  <ul class="list-unstyled">-->
        <!--    <li>-->
        <!--      <a href="#!">Link 1</a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--      <a href="#!">Link 2</a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--      <a href="#!">Link 3</a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--      <a href="#!">Link 4</a>-->
        <!--    </li>-->
        <!--  </ul>-->

        <!--</div>-->
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-light text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/over">Over</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
            <li>
              <a href="/sitemap.xml">Sitemap</a>
            </li>
            <li>
              <a href="/privacy">Privacy Policy</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1"></h5><br class="d-none d-sm-block">
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-custom btn-rounded">Inschrijven voor de nieuwsbrief</a>
      </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fas fa-envelope"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-light text-center py-3">© 2018
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> meditatie.co</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
  </body>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121313270-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121313270-5');
</script>

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
</body>
</html>
