
<% include partials/header %>
   <% include partials/nav %>
            <title> Meditatie.co | Stress verminderen met behulp van meditatie. </title>
  <link rel="stylesheet" href="stylesheets/stress.css">




 <section id="main-blog" class="container-fluid p-0" >
  <div class="col-lg-8 col-md-8 col-sm-8 h-100" id="main-overlay">
    <div class="col-lg-8 col-md-8 col-sm-9 box pr-5 mr-5 mx-auto">
      <H1 class="animated fadeIn _3 text-light">Stress verminderen met behulp van meditatie.</H1>
      <hr>
      <h4 class="animated fadeIn _5 pr-5"><i class="fas fa-quote-left"></i>  De enige manier om te krijgen wat je echt wilt is lostalen wat je niet wilt.  <i class="fas fa-quote-right"></i><br></h4>
      <!--<hr class="animated fadeIn _7">-->
    </div>
  </div>
</section>

<section id="blog" class=" p-0">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-12">
    <nav id="Breadcrumb" aria-label="Breadcrumb">
  <ul>
    <li class="breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="breadcrumb-item text-small"><a href="/blog">Blog</a></li>
    <li class="breadcrumb-item breadcrumb-item-selected text-small text-gray" aria-current="page">Stress verminderen met behulp van van meditatie.</li>
  </ul>
</nav>
  </div>
  </div>
  <div class="row">
<% include partials/blog %>

  <div class="col-lg-9 my-5 p-5" id="text">
  Stress komt voort uit het gevoel om niet te kunnen voldoen aan de druk en verschillende situaties in het dagelijks leven.<br><br>

Stress is niet per se iets slechts, het kan een fantastische indicator van gevaar zijn in het geval dat er ook echt gevaar aanwezig is. Het is een lichamelijke reactie tegen potentieel gevaar.<br>
Als je gestresst bent, wordt jij volgens je lichaam aangevallen en gaat het in ‘fight or flight mode’.<br>
Het maakt dan allerlei hormonen en chemicaliën aan om je lichaam voor te bereiden op fysieke actie. Dit veroorzaakt een aantal reacties, zoals het uitschakelen van je verteringsstelsel.<br><br>

Je begint te hijgen en je hart begint te kloppen door de adrenaline, je lichaam zit nu in volle overlevingsmodus, klaar om te vechten of te vluchten voor het geval het nodig is. Het is een reactie die we geërfd hebben van onze voorouders.<br>
Vandaag de dag kan deze overlevingsmodus ons nog steeds in bepaalde situaties waar je snel moet reageren helpen.<br><br>

De uitdaging begint pas op het moment dat je lichaam in de overlevingsmodus gaat als er geen reëel gevaar aanwezig is. Omdat je lichaam in een overlevingsmodus zit, wordt het bloed alleen naar de meest belangrijke delen van ons lichaam gepompt. Het is dus ook vaak lastig om helder na te denken in deze staat.<br>
Als je lichaam te lang in een staat van stress zit, kan dit gevolgen hebben voor je gezondheid.<br>
Het is dus belangrijk om op een gezonde manier om te gaan met stress, meditatie is naar mijn mening een van de meest effectieve technieken om te gebruiken tegen stress, omdat je het op elk moment kunt gebruiken als je het nodig hebt, omdat je leert rust uit je eigen ademhaling te halen.<br><br>

Bron: <a href=”http://www.stress.org.uk/what-is-stress/”>Wat is stress?</a><br><br>

Hoe helpt meditatie tegen stress?<br><br>

Uiteindelijk wordt onze ervaring van een bepaalde gebeurtenis bepaald door onze reactie daarop. In deze reacties verschilt elk mens sterk van elkaar. Waar de een gestrest van raakt is voor de ander geen enkel probleem.<br>
Uit onderzoek blijkt dat de <a href=”https://nl.wikipedia.org/wiki/Neurale_plasticiteit”>plasticiteit</a> van onze hersenen buitengewoon is, dit betekent dat ons brein zich snel aanpast aan nieuwe ervaringen of veranderingen door ons leven heen. Je kunt je brein met het leren van een techniek als meditatie dus letterlijk veranderen. Bekijk de wikipedia link voor meer informatie over neurale plasticiteit.
 <br><br>
Meditatie geeft je de mogelijkheid om je reactie op bepaalde gebeurtenissen te veranderen.<br>
Mede omdat het vaak lastig is om logisch na te denken als je gestrest bent, is het dus ook lastig om op dat moment te zien wat het juiste is om te doen voor jou. <strong>Als we mediteren terwijl we gestrest zijn, geven wij onze geest de mogelijkheid om de stress te laten gaan zodat we weer logisch kunnen nadenken.</strong><br>
Gedachten kunnen ook een behoorlijke stress reactie in je lichaam veroorzaken, als je al gestrest bent en er komen ook nog eens gedachten bij die je nog meer gestrest maken wordt je al snel overweldigd.<br>
Bij bijna elke vorm van meditatie is het laten gaan van je gedachten een sterke basis, dit is nog een reden waarom meditatie een van de meest effectieve methoden is om om te gaan met stress.<strong> Als we onze gedachten loslaten en ons hoofd leegmaken tijdens meditatie, kunnen we zien dat er geen direct gevaar aanwezig is.</strong> <br>
In veel gevallen ga je de effecten van meditatie al merken tijdens je eerste meditatie. Als je op de juiste manier mediteert, zul je meteen al meer rust gaat ervaren tegenover de situatie.<br>
 <br><br>
 
Beginners meditatie tegen stress.
Dit is een simpele beginners meditatie, zorg dat je een rustige plek hebt waar je rustig kunt oefenen. Het beste is om te zitten, dit kan in de <a href=””>lotushouding</a> op een stoel, of op de grond met een kussen, probeer je rug recht te houden. Als je gaat liggen probeer dan plat op bed te gaan liggen, met je armen en benen gespreid.<br>
Deze meditatie heeft 2 stappen.<br>
<span>1.</span>Houd een langzame en rustige ademhaling aan.<br>
<span>2.</span>Als je afdwaalt met je gedachten, breng je focus dan rustig terug naar je ademhaling.<br>
Je kunt een timer zetten op hoe lang jij zou willen oefenen, je kunt je ademhaling tellen of je kunt simpelweg blijven zitten totdat jij tevreden bent met het resultaat.<br>
Het is niet erg als je gedachten afdwalen, dit gebeurt bij iedereen. Het belangrijkste is dat jij je focus weer terug kan halen naar je ademhaling. Dit is de basis van meditatie.<br>
 <br><br><br>
 
 
 
 
 
Wat te doen?<br>
<span>-</span>Als je wilt opstaan of iets anders wilt doen?<br>
	Het loslaten van je alle gedachten betekent dat je alle gedachten simpelweg kunt laten<br>
	gaan. Dus ook deze. Voel bij jezelf aan of je hier echt op in wilt gaan.<br>
<span>-</span>Als je pijn krijgt?<br>
	Een beetje pijn is normaal, maar luister altijd goed naar je lichaam. <br>
<span>-</span>Als je niet kunt focussen?<br>
	Een meditatie is een meditatie ongeacht van wat er gebeurt, als het deze keer niet gelukt <br>
	is om te focussen dan is dat zo.<br>
 <br><br>
Vipassana meditatie tegen stress.<br>
Vipassana is een van de oudste technieken uit India, het werd beoefend door boeddha zelf en betekend ‘dingen zien zoals ze echt zijn’.<br>
<span>1.</span>Ga met een rechte rug op een kussen zitten, ontspan je schouders en leg je handen in een mudra(zie afbeelding).<br>
<span>2.</span> Focus op je ademhaling in je buik, maar probeer deze precies te laten zoals hij is.<br>
Vipassana is een ‘inzicht’ meditatie techniek die je kan helpen om ‘mindful’ te worden van het huidige moment. Stress ontstaat in het verleden of de toekomst, als je in dit moment leeft zul je zien dat stress weinig grip op je heeft.<br>
 <br><br>
<a href=”/”>Meer over vipassana</a><br><br>
 
Het maakt niet uit hoe lang je mediteert, en hoe vaak je mediteert. Het gaat er simpelweg om dat je minder in je hoofd en meer in je lichaam gaat leven en je geest even een pauze geeft zodat het kan bijkomen. Je geest weet precies hoe het moet herstellen, het enige wat je hoeft te doen is hier de ruimte voor creëren.<br><br>
 
 
 <h2 class="text-center"></h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qJq8IovXFYQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 
 


  <div class="col-lg-10">
    
  </div>
</section> 
  <% include partials/carousel %>
<% include partials/footer %>
