<% include partials/header-blog %>
<title> Meditatie.co | Meditatie is voor iedereen! | Blog </title>
<% include partials/nav-blog %>
<div class="container-fluid text-center pt-5">
  <div class="container">
    <div class="row">
        <% blogs.forEach(function(Blog){ %>
        <div class="col-lg-4 p-4" id="blog-div-hide" style="display:none">
            <!--<a href="/blog/Teachlight/">-->
            <img src="<%=Blog.thumbTeach%>" onload="this.parentNode.style.display = 'inline'" class="img-fluid">
            <h2 class="pt-2"><%=Blog.titleTeach %></h2>
            <p class="date"><%=Blog.dateTeach%></p>
            <p class="date"><%=Blog.descTeach%></p>
        </div>
        <% }); %>
      </div>
  </div>
</div>
<% include partials/footer %>
