body{
    background: white!important;
    width: 100%!important;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden!important; 
}

._1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

._2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.3s;
}

._3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.6s;
}

._4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 1s;
}

._5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 1.5s;
}

._6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

._7 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

._8 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.6s;
}

._9 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 1s;
}

._10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1.5s;
}

span{
  /*color:white;*/
  z-index:1;
}

h1{
    font-family: 'Montserrat', sans-serif!important;
    color:black;
}



p{
    font-family: 'Montserrat', sans-serif!important;
    font-size:14px;
}
a{
  color:white!important;
  text-decoration:underline;
}

.navbar{
  z-index:100;
  position:absolute!important;
  top:0;
  background:rgba(255,255,255,0)!important;
  /*box-shadow:0px 20px 50px rgba(0,0,0,0.2);*/
  color:white!important;
  /*border-bottom:1px solid white;*/
}

.navbar-toggler{
  border:0px solid white!important;
  color:white!important;
}

.navbar-toggler-icon{
  color:white!important;
}

.navbar input{
  border-radius:0px!important;
  border:2px solid white!important;
  background:rgba(0,0,0,0);
  color:white;
  font-weight:bolder!important;
}

.nav-link{
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
  font-weight:lighter;
  border-bottom:1px solid white;
  border-left:1px solid rgba(0,0,0,0);
  border-right:1px solid rgba(0,0,0,0);
  border-top:1px solid rgba(0,0,0,0);
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav-link:hover{
  border:1px solid white;
}


.btn-outline-custom{
  border-radius:0px!important;
  border:2px solid white!important;
  background:rgba(0,0,0,0);
  color:white;
  -webkit-transition:  .5s ease-out;
  -moz-transition:  .5s ease-out;
  -ms-transition:  .5s ease-out;
  -o-transition:  .5s ease-out;
  transition:.5s ease-out;
}
.btn-outline-custom:hover{
  color:#4d739a!important;
  background:white;
  transform:translateY(-5px);
  box-shadow:0px 20px 40px rgba(0,0,0,.4);
  transition:.5s ease-in-out;
}

.navbar-brand{
  letter-spacing:2px;
  font-family: 'Raleway', sans-serif;
  font-size:38px!important;
  color:white!important;
}

/*.logo{*/
/*  position:absolute;*/
/*  top:0%!important;*/
/*  left:0%!important;*/
/*  opacity:.4;*/
/*  height:100%;*/
/*  width:auto!important;*/
/*}*/

#main{
  /*position:absolute;*/
  /*top:0;*/
  z-index:-1;
  height:100vh!important;
  background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('../img/1h.jpg');
  background-size:cover;
  background-position:center bottom;
    -webkit-box-shadow: 0 0 1px 3px #000 inset;
-moz-box-shadow: 0 0 1px 3px #000 inset;
box-shadow: 0 0 5px 5px rgba(0,0,0,.1) inset;
}

#main-overlay{
  background:rgba(0,0,0,0.2);
-webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

#main .box{
  color:white;
  font-family: 'Montserrat', sans-serif;
  position:absolute;
  left:10%;
  top:30%;
}

.fa-quote-left{
 opacity:0.4!important;
}

.fa-quote-right{
 opacity:0.4!important;
}

#main h1{
  font-size:5vw;
}

#main hr{
  margin-right:auto!important;
  width:100%;
  border:1px solid white;
}

.header{
  letter-spacing:5px;
  font-size:124px;
  text-shadow:3px 3px 1px #FBB03B;
  font-weight:400;
  color:white;
  font-family: 'Creepster', cursive;
  z-index:-1!important;
}

#blog{
  background:white;
}

#blog .fa-envelope-open{
  position:absolute;
  top:10px;
  left:30%;
  font-size:100px;
  color:white;
}
.col-lg-4 h1{
  color:#333!important;
}

#blog-overlay{
  height:50vh!important;
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.pexels.com/photos/1321727/pexels-photo-1321727.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
-webkit-clip-path: polygon(0 0, 40% 0, 40% 100%, 0% 100%);
clip-path: polygon(0 0, 80.4% 0,64% 100%, 0% 100%);
}

#quote{
  height:auto;
}

#blog-overlay1{
  background:#333;
  height:100vh!important;
-webkit-clip-path: polygon(0 0, 40% 0, 40% 100%, 0% 100%);
clip-path: polygon(0 0, 65% 0, 55% 100%, 0% 100%);
}

#recent{
  position:absolute;
  top:0;
  background:rgba(0,0,0,0.4);
  z-index:100;
  color:white!important;
}

#blog img{
  /*box-shadow:0px 20px 40px rgba(0,0,0,.4);*/
}

h5{
  font-weight:lighter;
}

.caption-blog{
  position: absolute;
  bottom: 8px;
  left: 16px; 
  color:white;
  font-family: 'Raleway', sans-serif!important;
  
}

.caption-blog h2{
  line-height:32px;
  display: inline;
background: rgba(0, 180, 219,0.7);  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, rgba(0, 131, 176,0.7), rgba(0, 180, 219,0.7));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, rgba(0, 131, 176,0.7), rgba(0, 180, 219,0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#geleid{
    color:white!important;
  height:auto;
    background-image:linear-gradient(rgba(136,188,210,.7), rgba(136,188,210,.9)), url("https://images.pexels.com/photos/10979/pexels-photo-10979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
  -webkit-box-shadow: 0 0 1px 3px #000 inset;
-moz-box-shadow: 0 0 1px 3px #000 inset;
box-shadow: 0 0 5px 5px rgba(0,0,0,.1) inset;
}

#geleid h2{
    font-family: 'Oxygen', cursive;

}

.vert{
}

.fa-play{
  color:white;
  font-size:100px;
position: absolute;
left: 40%;
top:45%;
margin: auto;
text-shadow:0px 2px 4px black;
}

body{
  background:#fff;
  
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {
    background: #FF0000;
}*/

.inside-top{
  background:white;
    vertical-align: middle!important;
    display: table-cell!important;
}

#wrapper{
  max-width:100%;
  padding:50px 75px 50px 45px;
  position:relative;
  overflow-y:hidden;
  background:white;
}

button:focus {outline:0 !important;}

.left-controls{
  
  position:absolute;
  top:0;
  left:0;
  width:4%;
  height:1000px;
  z-index:40;
  background:#fff;
  opacity:1;
  cursor:pointer;
  text-align:center;
  webkit justify content: center;
  justify-content:center;
  display: webkit box;
  display: webkit flex;
  display: moz box;
  display:ms flexbox;
  display:flex;
  color:#fff;

}

.fa-chevron-left-extra
{
  align-self:center;
  position:relative;
  height:auto;
  top:-250px;
  transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-in-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  color:blue;
  opacity:.1;
}


.right-controls{
  position:absolute;
  top:0;
  right:0;
  width:4%;
  height:1000px;
  z-index:40;
  background:#fff;
  opacity:1;
  cursor:pointer;
  text-align:center;
  webkit justify content: center;
  justify-content:center;
  display: webkit box;
  display: webkit flex;
  display: moz box;
  display:ms flexbox;
  display:flex;
  color:#fff;
}

.fa-chevron-right-extra
{
  align-self:center;
  position:relative;
  height:auto;
  top:-250px;
 transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color:blue;
  opacity:.1;
}

.title{
  color:#eee;
}

.module-section{
  max-width: 100%;
  height:70vh;
  overflow: hidden;
  overflow-x:scroll;
}

.fa-angle-double-right{
 color:#88bcd2;  
 font-size:36px;
}

#wrapper ul{
width:600em;
list-style-type:none;
padding:50px 0 50px 0;



}

#content img{
  box-shadow:0px 40px 60px rgba(0,0,0,.4)!important;
}

#content{
  position:relative;
  
}


.arrow-guides, .arrow-guides:hover{

font-size:29px;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
float:left;
position:relative;
top:80px;
left:-10px;
padding: 10px 5px 5px 2px;
background:#999;
color:#fff;
}



.arrow-guides-right, .arrow-guides-right:hover{

font-size:29px;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
float:right;
position:relative;
bottom:185px;
right:-40px;
padding: 10px 2px 5px 5px;
background:#999;
color:#fff;
}






.card{
  border-radius:0px!important;
  width: 450px;
  height:250px;
  /*background:#fff;*/
  float:left;
  margin-right:10px;
  margin-bottom:50px;
  cursor:pointer;
  transform: scale(1);
  visibility:visible;
  border:0px solid blue!important;
  
  
}

.card:hover{
  cursor:pointer;
  transform: scale(1.05);
  visibility:visible;
  transition: all .5s ease-in-out;
  transform: scale(1.1); 
  z-index:100;
  position:relative;
  transition-timing-function:cubic-bezier(0.5, 0, 0.1, 1);
  transition-duration:400ms;
 
  
}

 .inside-top{
  width:100%;
  height:150px;
  background:white;
  position:absolute;
  top:0;
  left:0;
  z-index:100;
}



.clearfix {
  overflow: auto;
  zoom: 1;
}




@media only screen and (max-width: 768px) {
  .module-section{
    height:50vh;
  }
  #main{
    height:70vh!important;
    background-position:right;
  }
  .box h2{
    font-size:18px;
  }
  .box p{
    font-size:12px;
  }
  .card{
    height:175px;
    width:300px;
  }
  .navbar-collapse{
      background:rgba(136,188,210,.8)!important;
      padding:0;  
}
}

@media only screen and (max-width: 768px) {
  .logo-subheading{
 /*margin-top:100px;*/
 text-transform:uppercase;
 letter-spacing:5px;
 font-size:100px!important;
 text-shadow:5px 5px 1px rgba(0,0,0,0.6);
 font-weight:400;
 color:white;
 font-family: 'Creepster', cursive;
}
}
@media only screen and (max-width: 768px) {
.dark-overlay{
   background:  url("../img/h1-mob.jpeg")!important;
     background-repeat: no-repeat!important; 
    background-size:cover!important;  
    background-position: center!important;
    background-attachment:scroll!important;
    min-height:100%!important;
    /*width:100%!important;*/
    /*position: absolute;*/
    /*top:0;*/
}
}
@media only screen and (max-width: 768px) {
.par{
  color:white;
  text-align:center;
  font-size:20px!important;
  font-family: 'Raleway', sans-serif;
}
}

@media only screen and (max-width: 768px) {
.header-tickets{
  letter-spacing:5px;
  font-size:70px!important;
  text-shadow:4px 4px 1px #892237;
  font-weight:400;
  color:white;
  font-family: 'Creepster', cursive;
}
}

footer{
    font-family: 'Raleway', cursive;
  background-image:linear-gradient(rgba(136, 188, 210,0.7),rgba(136, 188, 210,0.7)), url('https://images.pexels.com/photos/618833/pexels-photo-618833.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size:cover;
  background-position:center;
}

footer hr{
  border:1px solid white;
  width:80%;
}

/*BLOGTEMP*/

#main-blog a{
  color:black!important;
}

#main-blog{
  -ms-filter: blur 4px!important;
  filter: blur 4px!important;
  /*position:absolute;*/
  /*top:0;*/
  z-index:-1;
  height:100vh!important;
  background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('https://images.pexels.com/photos/33044/sunflower-sun-summer-yellow.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size:cover;
  background-position:center ;
    -webkit-box-shadow: 0 0 1px 3px #000 inset;
-moz-box-shadow: 0 0 1px 3px #000 inset;
box-shadow: 0 0 5px 5px rgba(0,0,0,.1) inset;
}

#main-blog hr{
  border:2px solid white;
}

#main-blog .box{
  color:white;
  font-family: 'Montserrat', sans-serif;
  position:absolute;
  left:10%;
  top:30%;
}

#list h5{
      font-family: 'Raleway', cursive;
      font-weight:bold;
}

#list ul li{
  list-style-type:none;
  font-family: 'Raleway', cursive;
}
