@import url("imports/hovereffects.css");
@import url("imports/carousel.css");
@import url("imports/blog.css");
@import url("imports/control.css");

body{
  background: white!important;
  width: 100%!important;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden!important; 
}

h1{
   font-family: 'Merienda', cursive!important;
}

.hide{
  display:none;
}

.btn{
   font-family: 'Merienda', cursive!important;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size:2.5em;
  color:black;
}
.date{
  font-weight:300;
  color:#333;
}

.navbar{
  box-shadow:0px 4px 8px rgba(0,0,0,0.2);
}

.navbar-toggler{
  border:0px solid white;
}

.navbar i{
  color:black;
  font-size:1.5em;
}

.navbar-brand{
  font-family: 'Merienda', cursive!important;
  transform:rotate(-6deg);
}

#main{
  height:70vh;
  background-image: url("https://images.pexels.com/photos/371589/pexels-photo-371589.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position:top;
  background-size:cover;
  -webkit-box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
  box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
}

.blog-title{
    transition:.4s ease-in-out;

}

.blog-title:hover{
  color:#88bcd2;
}

.desc{
  color:#333;
  font-size:1.2em;
}

._123{
  height:100vh;
  
}

#spotlight{
  margin-top:15vh;
  height:70vh;
  background-image: url("https://images.pexels.com/photos/459059/pexels-photo-459059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position:top;
  background-size:cover;
  -webkit-box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
  box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
}

#spotlight-1{
  margin-top:15vh;
  height:55vh;
  background-image: url("https://images.pexels.com/photos/67818/pexels-photo-67818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position:center;
  background-size:cover;
  -webkit-box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
  box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
}

#spotlight-2{
  margin-top:15vh;
  height:55vh;
  background-image: url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position:center;
  background-size:cover;
  -webkit-box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
  box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
}


@media only screen and (max-width: 600px) {
  #main{
    height:50vh!important;
  }
}

.guideCont{
  height:100vh!important;
  width:100vw!important;
}

.objfit{
 position: relative;
    top: 0;
    left: 0;
    width: 100%;
  z-index:-10000000000!important;
}

.footer-brand{
   font-family: 'Merienda', cursive!important;
   display:inline;
}

