#blog-main{
  height:70vh;
  background:url("https://images.pexels.com/photos/248044/pexels-photo-248044.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  background-size:cover;
    -webkit-box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
  box-shadow: inset 3px -5px 76px -10px rgba(0,0,0,0.75);
}

#content{
    font-family: 'Montserrat', sans-serif;
  font-size:1.2em;
}


@media only screen and (max-width: 600px) {
  #spotlight{
    height:30vh!important;
  }
}
